/*
   martes, 10 de febrero de 202614:30:28
   Usuario: DESARROLLOSIST
   Servidor: 150.10.10.99
   Base de datos: ISAPRE
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.GCO_ENVMSG_PLANTILLA ADD
	EPL_DESCUENTO char(1) NOT NULL CONSTRAINT DF_GCO_ENVMSG_PLANTILLA_EPL_DESCUENTO DEFAULT ('N')
GO
ALTER TABLE dbo.GCO_ENVMSG_PLANTILLA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GCO_ENVMSG_PLANTILLA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GCO_ENVMSG_PLANTILLA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GCO_ENVMSG_PLANTILLA', 'Object', 'CONTROL') as Contr_Per 