USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_contactos_operacionales]    Script Date: 21-11-2024 17:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ======================================================================================== */
/* TIPO DE OBJETO		:	Procedimiento Almacenado                                        */
/* NOMBRE DEL OBJETO	:	spu_contactos_operacionales		                        */
/*                                                                                          */
/* PARAMETROS			:	@rut = Rut de Cotizante, Entidad Pagadora o Prestador.			*/
/*                                                                                          */
/* CREADO POR			:	Alberto Rozas													*/
/* FECHA CREACIÓN		:	25-11-2019                                                      */
/* DESCRIPCIÓN			:	Entrega datos de Contactos Operacionales que son requeridos		*/
/*							para Gestión del Sistema de Cotizaciones.						*/
/*																							*/
/* MODIFICADO POR		:																	*/
/* FECHA CREACIÓN		:				                                                    */
/* DESCRIPCIÓN			:																	*/
/* ======================================================================================== */
ALTER PROCEDURE [dbo].[spu_contactos_operacionales] @rut CHAR(10)
AS
BEGIN	
	SET NOCOUNT ON;
    
	--select top 1000 * from CONTRATO order by con_folio desc

	SELECT		1 AS ORDEN,
				'CONTRATO' AS ORIGEN,
				CON.CON_DIRPOSTAL AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				case when CON.CON_FONO='-' or CON.CON_FONO='0' then '' else COALESCE(RTRIM(CON.CON_FONO)+', ' ,'') end + COALESCE(CON.CON_CELULAR,'') AS FONO,
				CON.CON_EMAIL AS CORREO,
				coalesce(CON.CON_ACTDATOS, CON.con_inivig) AS FEC_REG		--**
				--, coalesce(CON.AUD_USUARIO, ) as USU_REG
	FROM		CONTRATO CON WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = CON.CMN_CODIGO
	WHERE		CON.CON_ULTIMO = 'S'
	CON.COT_RUT = @rut


	UNION

		--select top 100 * from ENTIDAD_PAGADORA

	SELECT		2 AS ORDEN,
	--EPA.EPA_RUT,
				'ENTIDAD PAGADORA' AS ORIGEN,
				EPA.EPA_DIRPOSTAL AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				EPA.EPA_FONO AS FONO,
				EPA.EPA_EMAIL AS CORREO,
				coalesce(EPA.EPA_FECMODIF, EPA.AUD_FECHA, '20030401') AS FEC_REG
	FROM		ENTIDAD_PAGADORA EPA WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = EPA.CMN_CODIGO
	WHERE		EPA.EPA_RUT = @rut

	UNION
	

	--select top 100 * from EMPLEADOR_NOTIF_ELECTRONICO where ENE_INIVIG is null

	SELECT		3 AS ORDEN,
				'NOTIFICACION ELECTRONICA' AS ORIGEN,
				ENE.ENE_DIRECCION AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				NULL AS FONO,
				RTRIM(LTRIM(COALESCE(RTRIM(LTRIM(ENE.ENE_CORREO_FIRMANTE)), '') + '   ' + COALESCE(RTRIM(LTRIM(ENE.ENE_CORREO_REPRESENTANTE)), ''))) AS CORREO,
				ENE.ENE_INIVIG AS FEC_REG
	FROM		EMPLEADOR_NOTIF_ELECTRONICO ENE WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = ENE.ENE_COMUNA
	WHERE		ENE.EPA_RUT = @rut

	UNION
	
	select * from licencia

	SELECT		4 AS ORDEN,
				'LICENCIA' AS ORIGEN,
				LIC.LIC_DIRREPOSO AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				LIC.LIC_FONOREPOSO AS FONO,
				NULL AS CORREO,
				LIC.LIC_FECDIGITADO AS FEC_REG
	FROM		LICENCIA LIC WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = LIC.CMN_CODIGO
	WHERE		LIC.COT_RUT = @rut

	UNION

	--select top 100 * from CONVENIO where ENE_INIVIG is null

	SELECT		5 AS ORDEN,
				'CONVENIO' AS ORIGEN,
				DPT_DIRECCION AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				DPT.DPT_FONO1 AS FONO,
				DPT.DPT_EMAIL AS CORREO,
				--DPT.DPT_FECHAREG AS FEC_REG
				coalesce(DPT.DPT_FECHAREG,DPT.DPT_INIVIG)  AS FEC_REG
	FROM		DIREC_CONSULTA DPT WITH (NOLOCK)
				JOIN CONVENIO CVN WITH (NOLOCK) ON CVN.CVN_CORREL = DPT.CVN_CORREL
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = DPT.CMN_CODIGO
	WHERE		CVN.PTD_RUT = @rut

	UNION

	
	--SELECT * FROM DEUDOR

	SELECT		5 AS ORDEN,
				'GESTION COBRANZA' AS ORIGEN,
				DDR_DIRECCION AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				COALESCE(RTRIM(DEU.DDR_TELEFONO),'')+' '+COALESCE(RTRIM(DEU.DDR_CELULAR),'') AS FONO,
				DEU.DDR_EMAIL AS CORREO,
				--NULL AS FEC_REG
				Coalesce(DEU.AUD_FECHA, '20200101')  AS FEC_REG
	FROM		DEUDOR DEU WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = DEU.CMN_CODIGO
	WHERE		DEU.DDR_RUT = @rut

	ORDER BY	1,
				7
END




