/* 
======================================================================================== 
 tipo de objeto		:	procedimiento almacenado                                        
 nombre del objeto	:	spu_ges_cob_insert_contactos		                        
                                                                                          
 parametros			:	@rut = rut de cotizante, entidad pagadora o prestador.			
                                                                                          
 creado por			:	jorge molina													
 fecha creación		:	11-2024                                                      
 descripción		:	entrega datos de contactos operacionales para inserción tabla contacto_det_new				
																							
========================================================================================
*/

--execute spu_ges_cob_insert_contactos '  69846653'

alter procedure [dbo].[spu_ges_cob_insert_contactos] @rut char(10)
as
begin	
	set nocount on;

	IF OBJECT_ID(N'tempdb..#direccion', N'U') IS NOT NULL DROP TABLE #direccion
	IF OBJECT_ID(N'tempdb..#email', N'U') IS NOT NULL DROP TABLE #email
	IF OBJECT_ID(N'tempdb..#fono', N'U') IS NOT NULL DROP TABLE #fono

	declare @clave numeric(10)
	declare @cto_rut  char(10)
	declare @ctd_correl numeric(10)
	declare @ctd_correl_new numeric(10)
	declare @ctd_direccion varchar(250)
	declare @ctd_direccion_v2 varchar(250)
	declare @cmn_codigo numeric(4, 0)
	declare @ctd_email1 varchar(250)
	declare @ctd_fono1 varchar(50)
	declare @opcion varchar(50)

	declare @cont integer
	declare @cto_rutx  char(10)
	declare @fecha_reg datetime
	set @fecha_reg = getdate()

	--Primera tabla traspaso
	create table #contacto_det_new_v0
	(
		cto_rut char(10)  not null
		, ctd_correl numeric(4) identity(1,1)
		, ctd_direccion varchar(250) null
		, ctd_direccion_v2 varchar(250) null
		, cmn_codigo numeric(4, 0) null
		, ctd_email1 varchar(250) null
		, ctd_email1_v2 varchar(250) null
		, ctd_email2 varchar(250) null
		, ctd_email2_v2 varchar(250) null
		, ctd_fono1 varchar(50) null
		, ctd_fono2 varchar(50) null
		, ctd_encar_rem varchar(250) null		
		, usu_login char(30)  null
		, ctd_fecreg datetime  null
		, ctd_origen varchar(50)  null
		, ctd_inf_contacto varchar(250) null		
		, ctd_tipo_val char(1) null
		, usu_login_val varchar(100) null
		, ctd_fecha_val datetime null
		, ctd_origen_val varchar(200) null
		, orden integer null
		, primary key (cto_rut, ctd_correl)
	)

	--Segunda Tabla traspado
	create table #contacto_det_new_v1
	(
		cto_rut char(10)  not null
		--ctd_correl numeric(4, 0)  not null,
		, ctd_correl numeric(4) identity(1,1)
		, ctd_direccion varchar(250) null
		, ctd_direccion_v2 varchar(250) null
		, cmn_codigo numeric(4, 0) null
		, ctd_email1 varchar(250) null
		, ctd_email2 varchar(250) null
		, ctd_fono1 varchar(50) null
		, ctd_fono2 varchar(50) null
		, ctd_encar_rem varchar(250) null
		, usu_login char(30)  null
		, ctd_fecreg datetime  null
		, ctd_origen varchar(50)  null
		, ctd_inf_contacto varchar(250) null
		, ctd_tipo_val char(1) null
		, usu_login_val varchar(100) null
		, ctd_fecha_val datetime null
		, ctd_origen_val varchar(200) null
		, opcion varchar(20) null
		, orden integer null
		primary key (cto_rut, ctd_correl)
	)



	--1.- ORIGEN: CONTRATO

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, ctd_tipo_val 
		, usu_login_val
		, ctd_fecha_val 
		, ctd_origen_val 
		, orden
		)
	select 	cot_rut as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.con_dirpostal)) as ctd_direccion 
		, null
		, cmn_codigo 
		, replace(ltrim(rtrim(c.con_email)) , ' ', '') 
		, null
		, c.con_fono 
		, c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, c.con_actdatos --ctd_fecreg 
		, 'CONTRATO'	--ctd_origen 
		, null			--ctd_inf_contacto
		, null			--ctd_tipo_val
		, null			--usu_login_val
		, null			--ctd_fecha_val
		, null			--ctd_origen_val
		, 1
	from contrato c with (nolock)
	where c.cot_rut = @rut



	--2.- ORIGEN: ENTIDAD PAGADORA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, ctd_tipo_val 
		, usu_login_val
		, ctd_fecha_val 
		, ctd_origen_val 
		, orden
		)
	select 	c.EPA_RUT as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.EPA_DIRPOSTAL)) as ctd_direccion 
		, null
		, c.CMN_CODIGO 
		, replace(ltrim(rtrim(c.EPA_EMAIL)) , ' ', '') 
		, null
		, c.EPA_FONO 
		, null		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, coalesce(c.EPA_FECMODIF, c.AUD_FECHA) --ctd_fecreg 
		, 'ENTIDAD PAGADORA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, null			--ctd_tipo_val
		, null			--usu_login_val
		, null			--ctd_fecha_val
		, null			--ctd_origen_val
		, 2
	from ENTIDAD_PAGADORA c with (nolock)
	where c.EPA_RUT = @rut




	
--3.- ORIGEN: NOTIFICACION ELECTRONICA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, ctd_tipo_val 
		, usu_login_val
		, ctd_fecha_val 
		, ctd_origen_val 
		, orden
		)
	select 	c.EPA_RUT as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.ENE_DIRECCION)) as ctd_direccion 
		, null
		, c.ENE_COMUNA as cmn_codigo
		, replace(ltrim(rtrim(c.ENE_CORREO_FIRMANTE)) , ' ', '') as ctd_email1
		, replace(ltrim(rtrim(c.ENE_CORREO_REPRESENTANTE)) , ' ', '') as ctd_email2
		, null as ctd_fono1	--no tiene 
		, null as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, c.ENE_INIVIG --ctd_fecreg 
		, 'NOTIFICACION ELECTRONICA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, null			--ctd_tipo_val
		, null			--usu_login_val
		, null			--ctd_fecha_val
		, null			--ctd_origen_val
		, 3
	from EMPLEADOR_NOTIF_ELECTRONICO c with (nolock)
	where c.EPA_RUT = @rut



--4.- ORIGEN: LICENCIA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, ctd_tipo_val 
		, usu_login_val
		, ctd_fecha_val 
		, ctd_origen_val 
		, orden
		)
	select 	c.COT_RUT as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.LIC_DIRREPOSO)) as ctd_direccion 
		, null
		, c.CMN_CODIGO as cmn_codigo
		, null as ctd_email1				--no tiene ????????????????
		, null as ctd_email2
		, c.LIC_FONOREPOSO as ctd_fono1	--no tiene 
		, null as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, c.LIC_FECDIGITADO --ctd_fecreg 
		, 'LICENCIA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, null			--ctd_tipo_val
		, null			--usu_login_val
		, null			--ctd_fecha_val
		, null			--ctd_origen_val
		, 4
	from LICENCIA c with (nolock)
	where c.COT_RUT = @rut



--5.- ORIGEN: CONVENIO

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, ctd_tipo_val 
		, usu_login_val
		, ctd_fecha_val 
		, ctd_origen_val 
		, orden
		)
	select 	c.PTD_RUT as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(d.DPT_DIRECCION)) as ctd_direccion 
		, null
		, d.CMN_CODIGO as cmn_codigo
		, D.DPT_EMAIL as ctd_email1				--no tiene ????????????????
		, null as ctd_email2
		, D.DPT_FONO1 as ctd_fono1	--no tiene 
		, null as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, 	coalesce(D.DPT_FECHAREG, @fecha_reg) --ctd_fecreg puede ser nula OJO
		, 'CONVENIO'	--ctd_origen 
		, null			--ctd_inf_contacto
		, null			--ctd_tipo_val
		, null			--usu_login_val
		, null			--ctd_fecha_val
		, null			--ctd_origen_val
		, 5
	FROM	DIREC_CONSULTA D WITH (NOLOCK)
			JOIN CONVENIO c WITH (NOLOCK) ON C.CVN_CORREL = D.CVN_CORREL
	where c.PTD_RUT = @rut




--5.- ORIGEN: GESTION COBRANZA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, ctd_tipo_val 
		, usu_login_val
		, ctd_fecha_val 
		, ctd_origen_val 
		, orden
		)
	select 	d.DDR_RUT as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(d.DDR_DIRECCION)) as ctd_direccion 
		, null
		, d.CMN_CODIGO as cmn_codigo
		, D.DDR_EMAIL as ctd_email1				--no tiene ????????????????
		, null as ctd_email2
		, d.DDR_TELEFONO as ctd_fono1	--no tiene 
		, d.DDR_CELULAR as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, @fecha_reg		--NULL		--no tiene --ctd_fecreg 
		, 'GESTION COBRANZA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, null			--ctd_tipo_val
		, null			--usu_login_val
		, null			--ctd_fecha_val
		, null			--ctd_origen_val
		, 6
	FROM	DEUDOR D WITH (NOLOCK)
	where d.DDR_RUT = @rut




--limpiezas____________________________________________________________

--1.- direccion: limpiar los que tienen len() < 5
update a
set ctd_direccion = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_direccion) < 5 )

--2.- email1: limpiar los que tienen len() < 5
update a
set ctd_email1 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_email1) < 5 )


update a
set ctd_email1 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where charindex('@', b.ctd_email1) < 1

--3.- ctd_fono1, limpiar

update a
set ctd_fono1 = (
				case when ((isnumeric(  
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono1))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')  
				) = 1 )  
				) then   
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono1))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')    
				else null end
				)
, ctd_fono2 =  (
				case when ((isnumeric(  
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono2))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')  
				) = 1 )  
				) then   
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono2))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')    
				else null end
				) 
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl

--limpiar los 0 de principio de los fono1
update a
set ctd_fono1 = (case when left(b.ctd_fono1, 1) = '0' then substring(b.ctd_fono1, 2, len(b.ctd_fono1) - 1)  else b.ctd_fono1   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono1, 1) = '0'

--limpiar los 0 de principio de los fono2
update a
set ctd_fono2 = (case when left(b.ctd_fono2, 1) = '0' then substring(b.ctd_fono2, 2, len(b.ctd_fono2) - 1)  else b.ctd_fono2   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono2, 1) = '0'

--solo los fonos con len()= 11 y que comiencen con '56', se elimina el '56' y se traspasa sus 9 digitos
update a
set ctd_fono1 = (case when left(b.ctd_fono1, 2) = '56' then substring(b.ctd_fono1, 3, len(b.ctd_fono1) - 2)  else b.ctd_fono1   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono1, 2) = '56'
and len(b.ctd_fono1) = 11

update a
set ctd_fono2 = (case when left(b.ctd_fono2, 2) = '56' then substring(b.ctd_fono2, 3, len(b.ctd_fono2) - 2)  else b.ctd_fono2   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono2, 2) = '56'
and len(b.ctd_fono2) = 11

update a
set ctd_fono1 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_fono1) < 9 or len(b.ctd_fono1) > 9)

update a
set ctd_fono2 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_fono2) < 9 or len(b.ctd_fono2) > 9)

--traspasar v2
update a
set ctd_direccion_v2 = replace(b.ctd_direccion, ' ', '')
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl


select * from #contacto_det_new_v0 order by orden 





--organizar direccion

--v2  774 mil reg
select cto_rut, ctd_direccion_v2, cmn_codigo--, count(*) as contador
, (select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_direccion_v2 = c.ctd_direccion_v2 and isnull(d.cmn_codigo, 0) = isnull(c.cmn_codigo, 0)) ctd_correl
into #direccion
from #contacto_det_new_v0 c with (nolock)
where ctd_direccion_v2 is not null
group by cto_rut, ctd_direccion_v2, cmn_codigo
order by cto_rut, ctd_direccion_v2 


--2.-email  
--(633mil reg
select cto_rut, ctd_email1
, coalesce((select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_email1 = a.ctd_email1 ), (select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_email2 = a.ctd_email1 ))  as ctd_correl
into #email
from
(
	select cto_rut, ctd_email1
	--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_email1 = c.ctd_email1 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_email1 is not null
	--and ltrim(rtrim(ctd_email1)) <> ''
	group by cto_rut, ctd_email1
	--order by cto_rut, ctd_email1 
	union
	select cto_rut, ctd_email2
	--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_email2 = c.ctd_email2 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_email2 is not null
	--and ltrim(rtrim(ctd_email2)) <> ''
	group by cto_rut, ctd_email2
	--order by cto_rut, ctd_email2 
) a
order by cto_rut, ctd_email1 





--3.- fono 
-- (290 rows affected) 19 seg
select cto_rut, ctd_fono1--, contador
--, ctd_correl
--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono1 = a.ctd_fono1 ) ctd_correl
, coalesce((select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono1 = a.ctd_fono1 and d.ctd_fono1 is not null), (select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono2 = a.ctd_fono1 and d.ctd_fono2 is not null), 99999999)  as ctd_correl
, identity(numeric(10), 1,1) clave -- colocamos clave ya que existian un registro con dos numeros y un mismo ctd_correl
into #fono
from
(
	-- fono1
	--(627387 rows affected) 1 min
	select cto_rut, ctd_fono1--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_fono1 = c.ctd_fono1 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_fono1 is not null
	--and ltrim(rtrim(ctd_fono1)) <> ''
	--and ltrim(rtrim(ctd_fono1)) <> '0'
	--and len(ctd_fono1) > 8
	group by cto_rut, ctd_fono1
	--order by cto_rut, ctd_fono1 
	union
	-- fono2
	--(426957 rows affected)
	select cto_rut, ctd_fono2--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_fono2 = c.ctd_fono2 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_fono2 is not null
	--and ltrim(rtrim(ctd_fono2)) <> ''
	--and ltrim(rtrim(ctd_fono2)) <> '0'
	--and len(ctd_fono2) > 8
	group by cto_rut, ctd_fono2
	--order by cto_rut, ctd_fono2 
) a
order by cto_rut, ctd_fono1 


--1.- direccion
insert into #contacto_det_new_v1 
(
	cto_rut, 
	--ctd_correl, 
	ctd_direccion,
	ctd_direccion_v2,
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
	, opcion
	, orden
)
select d.cto_rut
	--, c.ctd_correl
	, c.ctd_direccion
	, c.ctd_direccion_v2
	, d.cmn_codigo
	, null --, c.ctd_email1
	, null --, c.ctd_email2
	, null --, c.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
	, 'direccion'
	, c.orden
from #direccion d
join #contacto_det_new_v0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


--email
insert into #contacto_det_new_v1 
(
	cto_rut, 
	--ctd_correl, 
	ctd_direccion, 
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
	, opcion
	, orden
)
select d.cto_rut
	--, c.ctd_correl
	, null --, d.ctd_direccion
	, null --, d.cmn_codigo
	, d.ctd_email1
	, null --, c.ctd_email2
	, null --, c.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
	, 'email'
	, c.orden
from #email d
join #contacto_det_new_v0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


--fono
insert into #contacto_det_new_v1
(
	cto_rut, 
	--ctd_correl, 
	ctd_direccion, 
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
	, opcion
    , orden
)
select d.cto_rut
	--, c.ctd_correl
	, null --, d.ctd_direccion
	, null --, d.cmn_codigo
	, null --, c.ctd_email1
	, null --, c.ctd_email2
	, d.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
	, 'fono'
	, c.orden
from #fono d
join #contacto_det_new_v0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


	--declare cursor_total cursor   
	--for 
	--	select cto_rut
	--	, clave
	--	from #contacto_det_new_v1
	--	order by cto_rut asc, clave asc

	--open cursor_total

	--fetch next from cursor_total into @cto_rut, @clave

	--set @ctd_correl = 1
	--set @cto_rutx = @cto_rut

	--while @@fetch_status = 0
	--begin

	--	update #contacto_det_new_v1
	--	set ctd_correl = @ctd_correl
	--	where cto_rut = @cto_rut
	--	and clave = @clave
		

	--	fetch next from cursor_total into @cto_rut, @clave

	--	if (@cto_rutx = @cto_rut)
	--	begin 
	--		set @ctd_correl = @ctd_correl + 1
	--	end 
	--	else
	--	begin
	--		set @cto_rutx = @cto_rut
	--		set @ctd_correl = 1
	--	end

	--end 

	--close cursor_total
	--deallocate cursor_total

	--_______________________________________


select * from #contacto_det_new_v1


/*
	declare cursor_insert cursor   
	for 
		select cto_rut
		, ctd_correl
		, ctd_direccion_v2
		, cmn_codigo
		, ctd_email1
		, ctd_fono1
		, opcion
		from #contacto_det_new_v1
		--where ctd_correl = 4
		order by cto_rut asc, ctd_correl asc

	open cursor_insert

	fetch next from cursor_insert into @cto_rut, @ctd_correl, @ctd_direccion_v2, @cmn_codigo, @ctd_email1, @ctd_fono1, @opcion;



	--set @ctd_correl = 1
	--set @cto_rutx = @cto_rut


	while @@fetch_status = 0
	begin

		set @ctd_correl_new = 0

		print '@cto_rut:'+cast(@cto_rut as varchar(20))
		print '@ctd_correl:'+cast(@ctd_correl as varchar(20))
		print '@ctd_direccion_v2:'+cast(isnull(@ctd_direccion_v2, 'null') as varchar(250))
		print '@cmn_codigo:'+cast(isnull(@cmn_codigo, 0) as varchar(20))
		print '@ctd_email1:'+cast(isnull(@ctd_email1, 'null') as varchar(250))
		print '@ctd_fono1:'+cast(isnull(@ctd_fono1, 'null') as varchar(20))
		print '@opcion:'+cast(@opcion as varchar(20))


		if @opcion = 'direccion'
		begin
			select @ctd_correl_new = ctd_correl
			from contacto_det_new
			where cto_rut = @cto_rut
			and replace(ctd_direccion, ' ', '') = @ctd_direccion_v2
			and isnull(cmn_codigo, 0) = isnull(@cmn_codigo, 0)

		end

		if @opcion = 'email'
		begin
			select @ctd_correl_new = ctd_correl
			from contacto_det_new
			where cto_rut = @cto_rut
			and ctd_email1 = @ctd_email1
		end

		if @opcion = 'fono'
		begin
			select @ctd_correl_new = ctd_correl
			from contacto_det_new
			where cto_rut = @cto_rut
			and ctd_fono1 = @ctd_fono1
		end

		--print '@opcion:'+cast(@opcion as varchar(10))+'@ctd_fono1:'+cast(@ctd_fono1 as varchar(10))+'_@ctd_correl_new:'+cast(isnull(@ctd_correl_new, 0) as varchar(10))

		if isnull(@ctd_correl_new, 0) = 0
			begin
				--3.- si el dato no se encuentra registrado, entonces se debe agregar a la tabla contacto_det_new con los siguientes datos:
					--usu_login = ‘system’
					--ctd_fecreg  = <fecha del dato de origen>        
					--ctd_origen  = <origen de la validación según el sp>

				insert into contacto_det_new
				(
					cto_rut, 
					ctd_correl, 
					ctd_direccion, 
					cmn_codigo, 
					ctd_email1, 
					ctd_email2, 
					ctd_fono1, 
					ctd_fono2,
					ctd_encar_rem, 
					usu_login, 
					ctd_fecreg, 
					ctd_origen, 
					ctd_inf_contacto ,
					ctd_tipo_val ,
					usu_login_val,
					ctd_fecha_val ,
					ctd_origen_val 
				)
				select cto_rut,
					--ctd_correl,
					(select isnull(max(ctd_correl), 0) + 1 from dbo.contacto_det_new cc with (nolock) where cc.cto_rut = @cto_rut) as ctd_correl,
					ctd_direccion, 
					cmn_codigo, 
					ctd_email1, 
					ctd_email2, 
					ctd_fono1, 
					ctd_fono2, 
					ctd_encar_rem, 
					usu_login, 
					ctd_fecreg, 
					ctd_origen, 
					ctd_inf_contacto,
					ctd_tipo_val ,
					usu_login_val,
					ctd_fecha_val ,
					ctd_origen_val 
				from #contacto_det_new_v1
				where cto_rut = @cto_rut
				and ctd_correl = @ctd_correl

				--print 'insert'+cast(isnull(@ctd_correl_new, 0) as varchar(10))


			end
		else
			begin
			--2.- si el dato ya se encuentra en la tabla contacto_det_new, entonces se deben actualizar las nuevas columnas:
			--              ctd_tipo_val = ‘v’ (v=válido, n=no válido)
			--				usu_login_val = ‘system’     
			--				ctd_fecha_val = <fecha del dato de origen> 
			--				ctd_origen_val = <origen de la validación según el sp>

				update contacto_det_new
			    set ctd_tipo_val = 'V'
					, usu_login_val = 'SYSTEM'    
					, ctd_fecha_val = @fecha_reg
					, ctd_origen_val = 'CONTRATO'
					, ctd_fono2 = @ctd_fono1
				where cto_rut = @cto_rut
				and ctd_correl = @ctd_correl_new

				--print 'update'+cast(@ctd_correl_new as varchar(10))
			end

		

		fetch next from cursor_insert into @cto_rut, @ctd_correl, @ctd_direccion_v2, @cmn_codigo, @ctd_email1, @ctd_fono1, @opcion;

		--if (@cto_rutx = @cto_rut)
		--begin 
		--	set @ctd_correl = @ctd_correl + 1
		--end 
		--else
		--begin
		--	set @cto_rutx = @cto_rut
		--	set @ctd_correl = 1
		--end

	end 

	close cursor_insert
	deallocate cursor_insert


*/




	/*
	select		1 as orden,
				'contrato' as origen,
				con.con_dirpostal as direccion,
				cmn.cmn_nombre as comuna,
				case when con.con_fono='-' or con.con_fono='0' then '' else coalesce(rtrim(con.con_fono)+', ' ,'') end + coalesce(con.con_celular,'') as fono,
				con.con_email as correo,
				con.con_actdatos as fec_reg
	from		contrato con with (nolock)
				left join comuna cmn with (nolock) on cmn.cmn_codigo = con.cmn_codigo
	where		con.cot_rut = @rut
	*/


/*
	union

	select		2 as orden,
				'entidad pagadora' as origen,
				epa.epa_dirpostal as direccion,
				cmn.cmn_nombre as comuna,
				epa.epa_fono as fono,
				epa.epa_email as correo,
				coalesce(epa.epa_fecmodif, epa.aud_fecha) as fec_reg
	from		entidad_pagadora epa with (nolock)
				left join comuna cmn with (nolock) on cmn.cmn_codigo = epa.cmn_codigo
	where		epa.epa_rut = @rut

	union
	
	select		3 as orden,
				'notificacion electronica' as origen,
				ene.ene_direccion as direccion,
				cmn.cmn_nombre as comuna,
				null as fono,
				rtrim(ltrim(coalesce(rtrim(ltrim(ene.ene_correo_firmante)), '') + '   ' + coalesce(rtrim(ltrim(ene.ene_correo_representante)), ''))) as correo,
				ene.ene_inivig as fec_reg
	from		empleador_notif_electronico ene with (nolock)
				left join comuna cmn with (nolock) on cmn.cmn_codigo = ene.ene_comuna
	where		ene.epa_rut = @rut

	union
	
	select		4 as orden,
				'licencia' as origen,
				lic.lic_dirreposo as direccion,
				cmn.cmn_nombre as comuna,
				lic.lic_fonoreposo as fono,
				null as correo,
				lic.lic_fecdigitado as fec_reg
	from		licencia lic with (nolock)
				left join comuna cmn with (nolock) on cmn.cmn_codigo = lic.cmn_codigo
	where		lic.cot_rut = @rut

	union

	select		5 as orden,
				'convenio' as origen,
				dpt_direccion as direccion,
				cmn.cmn_nombre as comuna,
				dpt.dpt_fono1 as fono,
				dpt.dpt_email as correo,
				dpt.dpt_fechareg as fec_reg
	from		direc_consulta dpt with (nolock)
				join convenio cvn with (nolock) on cvn.cvn_correl = dpt.cvn_correl
				left join comuna cmn with (nolock) on cmn.cmn_codigo = dpt.cmn_codigo
	where		cvn.ptd_rut = @rut

	union

	select		5 as orden,
				'gestion cobranza' as origen,
				ddr_direccion as direccion,
				cmn.cmn_nombre as comuna,
				coalesce(rtrim(deu.ddr_telefono),'')+' '+coalesce(rtrim(deu.ddr_celular),'') as fono,
				deu.ddr_email as correo,
				null as fec_reg
	from		deudor deu with (nolock)
				left join comuna cmn with (nolock) on cmn.cmn_codigo = deu.cmn_codigo
	where		deu.ddr_rut = @rut

	order by	1,	7

*/



end




