/* 
======================================================================================== 
 tipo de objeto		:	procedimiento almacenado                                        
 nombre del objeto	:	spu_ges_cob_insert_contactos		                        
                                                                                          
 parametros			:	@rut = rut de cotizante, entidad pagadora o prestador.			
                                                                                          
 creado por			:	jorge molina													
 fecha creación		:	11-2024                                                      
 descripción		:	entrega datos de contactos operacionales para inserción tabla contacto_det_new				
																							
========================================================================================
*/

--execute spu_ges_cob_insert_contactos '  69846653'


alter procedure [dbo].[spu_ges_cob_insert_contactos] @rut char(10)= null
as
begin	
	set nocount on;

	IF OBJECT_ID(N'tempdb..#direccion', N'U') IS NOT NULL DROP TABLE #direccion
	IF OBJECT_ID(N'tempdb..#email', N'U') IS NOT NULL DROP TABLE #email
	IF OBJECT_ID(N'tempdb..#fono', N'U') IS NOT NULL DROP TABLE #fono

	declare @cto_rut  char(10)
	declare @ctd_correl numeric(10)
	declare @ctd_direccion varchar(250)
	declare @ctd_direccion_v2 varchar(250)
	declare @cmn_codigo numeric(4, 0)
	declare @ctd_email1 varchar(250)
	declare @ctd_email2 varchar(250)
	declare @ctd_fono1 varchar(50)
	declare @ctd_fono2 varchar(50)
	declare @usu_login  char(30)
	declare @ctd_fecreg datetime
	declare @ctd_origen varchar(200)
	declare @orden integer

	declare @clave numeric(10)
	declare @ctd_correl_new numeric(10)
	declare @ctd_fecreg_new datetime
	declare @opcion varchar(50)
	declare @cont integer
	declare @cto_rutx  char(10)
	declare @fecha_reg datetime
	set @fecha_reg = getdate()
	declare @i integer


	--Primera tabla traspaso
	create table #contacto_det_new_v0
	(
		cto_rut char(10)  not null
		, ctd_correl numeric(20) identity(1,1)
		, ctd_direccion varchar(250) null
		, ctd_direccion_v2 varchar(250) null
		, cmn_codigo numeric(4, 0) null
		, ctd_email1 varchar(250) null
		, ctd_email2 varchar(250) null
		, ctd_fono1 varchar(50) null
		, ctd_fono2 varchar(50) null
		, ctd_encar_rem varchar(250) null		
		, usu_login char(30)  null
		, ctd_fecreg datetime  null
		, ctd_origen varchar(50)  null
		, ctd_inf_contacto varchar(250) null		
		, orden integer null
		, primary key (cto_rut, ctd_correl)
	)

	--Segunda Tabla traspado
	create table #contacto_det_new_v1
	(
		cto_rut char(10)  not null
		--ctd_correl numeric(4, 0)  not null,
		, ctd_correl numeric(20) identity(1,1)
		, ctd_direccion varchar(250) null
		, ctd_direccion_v2 varchar(250) null
		, cmn_codigo numeric(4, 0) null
		, ctd_email1 varchar(250) null
		, ctd_email2 varchar(250) null
		, ctd_fono1 varchar(50) null
		, ctd_fono2 varchar(50) null
		, ctd_encar_rem varchar(250) null
		, usu_login char(30)  null
		, ctd_fecreg datetime  null
		, ctd_origen varchar(50)  null
		, ctd_inf_contacto varchar(250) null
		, opcion varchar(20) null
		, orden integer null
		primary key (cto_rut, ctd_correl)
	)



	--1.- ORIGEN: CONTRATO

	insert into #contacto_det_new_v0 (
			cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, orden
		)
	select 	cot_rut as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.con_dirpostal)) as ctd_direccion 
		, null
		, cmn_codigo 
		, replace(ltrim(rtrim(c.con_email)) , ' ', '') 
		, null
		, c.con_fono 
		, c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, coalesce(c.con_actdatos, c.con_inivig) --ctd_fecreg 
		, 'CONTRATO'	--ctd_origen 
		, null			--ctd_inf_contacto
		, 1
	from contrato c with (nolock)
	where ( c.cot_rut = @rut or @rut is null)
	and c.con_ultimo = 's'



	--2.- ORIGEN: ENTIDAD PAGADORA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, orden
		)
	select 	c.epa_rut as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.epa_dirpostal)) as ctd_direccion 
		, null
		, c.cmn_codigo 
		, replace(ltrim(rtrim(c.epa_email)) , ' ', '') 
		, null
		, c.epa_fono 
		, null		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, coalesce(c.epa_fecmodif, c.aud_fecha, '20030401') --ctd_fecreg 
		, 'ENTIDAD PAGADORA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, 2
	from entidad_pagadora c with (nolock)
	where  ( c.epa_rut = @rut or @rut is null)



--3.- ORIGEN: NOTIFICACION ELECTRONICA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, orden
		)
	select 	c.epa_rut as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.ene_direccion)) as ctd_direccion 
		, null
		, c.ene_comuna as cmn_codigo
		, replace(ltrim(rtrim(c.ene_correo_firmante)) , ' ', '') as ctd_email1
		, replace(ltrim(rtrim(c.ene_correo_representante)) , ' ', '') as ctd_email2
		, null as ctd_fono1	--no tiene 
		, null as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, c.ene_inivig --ctd_fecreg 
		, 'NOTIFICACION ELECTRONICA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, 3
	from empleador_notif_electronico c with (nolock)
	where ( c.epa_rut = @rut or @rut is null)  



--4.- ORIGEN: LICENCIA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, orden
		)
	select 	c.cot_rut as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(c.lic_dirreposo)) as ctd_direccion 
		, null
		, c.cmn_codigo as cmn_codigo
		, null as ctd_email1				--no tiene ????????????????
		, null as ctd_email2
		, c.lic_fonoreposo as ctd_fono1	--no tiene 
		, null as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, c.lic_fecdigitado --ctd_fecreg 
		, 'LICENCIA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, 4
	from licencia c with (nolock)
	where ( c.cot_rut = @rut or @rut is null)  



--5.- ORIGEN: CONVENIO

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, orden
		)
	select 	c.ptd_rut as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(d.dpt_direccion)) as ctd_direccion 
		, null
		, d.cmn_codigo as cmn_codigo
		, d.dpt_email as ctd_email1				--no tiene ????????????????
		, null as ctd_email2
		, d.dpt_fono1 as ctd_fono1	--no tiene 
		, null as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, coalesce(d.dpt_fechareg,d.dpt_inivig) --ctd_fecreg puede ser nula ojo
		, 'CONVENIO'	--ctd_origen 
		, null			--ctd_inf_contacto
		, 5
	from	direc_consulta d with (nolock)
			join convenio c with (nolock) on c.cvn_correl = d.cvn_correl
	where ( c.ptd_rut = @rut or @rut is null)   




--5.- ORIGEN: GESTION COBRANZA

	insert into #contacto_det_new_v0
		(
		cto_rut 
		--, ctd_correl 
		, ctd_direccion 
		, ctd_direccion_v2
		, cmn_codigo 
		, ctd_email1 
		, ctd_email2 
		, ctd_fono1 
		, ctd_fono2 
		, ctd_encar_rem 
		, usu_login 
		, ctd_fecreg 
		, ctd_origen 
		, ctd_inf_contacto 
		, orden
		)
	select 	d.ddr_rut as cto_rut
		--, ctd_correl 
		, ltrim(rtrim(d.ddr_direccion)) as ctd_direccion 
		, null
		, d.cmn_codigo as cmn_codigo
		, d.ddr_email as ctd_email1				--no tiene ????????????????
		, null as ctd_email2
		, d.ddr_telefono as ctd_fono1	--no tiene 
		, d.ddr_celular as ctd_fono2		--no tiene c.con_celular 
		, null 			--ctd_encar_rem
		, 'SYSTEM'		--usu_login 
		, coalesce(d.aud_fecha, '20200101')		--null		--no tiene --ctd_fecreg 
		, 'GESTION COBRANZA'	--ctd_origen 
		, null			--ctd_inf_contacto
		, 6
	from	deudor d with (nolock)
	where   ( d.ddr_rut = @rut or @rut is null) 




--limpiezas____________________________________________________________

--1.- direccion: limpiar los que tienen len() < 5
update a
set ctd_direccion = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_direccion) < 5 )

--2.- email1: limpiar los que tienen len() < 5
update a
set ctd_email1 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_email1) < 5 )


update a
set ctd_email1 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where charindex('@', b.ctd_email1) < 1

--3.- ctd_fono1, limpiar

update a
set ctd_fono1 = (
				case when ((isnumeric(  
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono1))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')  
				) = 1 )  
				) then   
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono1))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')    
				else null end
				)
, ctd_fono2 =  (
				case when ((isnumeric(  
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono2))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')  
				) = 1 )  
				) then   
				replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
				ltrim(rtrim(b.ctd_fono2))  
				, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')    
				else null end
				) 
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl

--limpiar los 0 de principio de los fono1
update a
set ctd_fono1 = (case when left(b.ctd_fono1, 1) = '0' then substring(b.ctd_fono1, 2, len(b.ctd_fono1) - 1)  else b.ctd_fono1   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono1, 1) = '0'

--limpiar los 0 de principio de los fono2
update a
set ctd_fono2 = (case when left(b.ctd_fono2, 1) = '0' then substring(b.ctd_fono2, 2, len(b.ctd_fono2) - 1)  else b.ctd_fono2   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono2, 1) = '0'

--solo los fonos con len()= 11 y que comiencen con '56', se elimina el '56' y se traspasa sus 9 digitos
update a
set ctd_fono1 = (case when left(b.ctd_fono1, 2) = '56' then substring(b.ctd_fono1, 3, len(b.ctd_fono1) - 2)  else b.ctd_fono1   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono1, 2) = '56'
and len(b.ctd_fono1) = 11

update a
set ctd_fono2 = (case when left(b.ctd_fono2, 2) = '56' then substring(b.ctd_fono2, 3, len(b.ctd_fono2) - 2)  else b.ctd_fono2   end)
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where left(b.ctd_fono2, 2) = '56'
and len(b.ctd_fono2) = 11

update a
set ctd_fono1 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_fono1) < 9 or len(b.ctd_fono1) > 9)

update a
set ctd_fono2 = null
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_fono2) < 9 or len(b.ctd_fono2) > 9)

--traspasar v2
update a
set ctd_direccion_v2 = replace(b.ctd_direccion, ' ', '')
from #contacto_det_new_v0 as a
join #contacto_det_new_v0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl


--select * from #contacto_det_new_v0 order by orden 


--organizar direccion

--v2  774 mil reg
select cto_rut, ctd_direccion_v2, cmn_codigo--, count(*) as contador
, (select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_direccion_v2 = c.ctd_direccion_v2 and isnull(d.cmn_codigo, 0) = isnull(c.cmn_codigo, 0)) ctd_correl
into #direccion
from #contacto_det_new_v0 c with (nolock)
where ctd_direccion_v2 is not null
group by cto_rut, ctd_direccion_v2, cmn_codigo
order by cto_rut, ctd_direccion_v2 


--2.-email  
--(633mil reg
select cto_rut, ctd_email1
, coalesce((select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_email1 = a.ctd_email1 ), (select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_email2 = a.ctd_email1 ))  as ctd_correl
into #email
from
(
	select cto_rut, ctd_email1
	--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_email1 = c.ctd_email1 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_email1 is not null
	--and ltrim(rtrim(ctd_email1)) <> ''
	group by cto_rut, ctd_email1
	--order by cto_rut, ctd_email1 
	union
	select cto_rut, ctd_email2
	--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_email2 = c.ctd_email2 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_email2 is not null
	--and ltrim(rtrim(ctd_email2)) <> ''
	group by cto_rut, ctd_email2
	--order by cto_rut, ctd_email2 
) a
order by cto_rut, ctd_email1 





--3.- fono 
-- (290 rows affected) 19 seg
select cto_rut, ctd_fono1--, contador
--, ctd_correl
--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono1 = a.ctd_fono1 ) ctd_correl
, coalesce((select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono1 = a.ctd_fono1 and d.ctd_fono1 is not null), (select max(d.ctd_correl) from #contacto_det_new_v0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono2 = a.ctd_fono1 and d.ctd_fono2 is not null), 99999999)  as ctd_correl
, identity(numeric(10), 1,1) clave -- colocamos clave ya que existian un registro con dos numeros y un mismo ctd_correl
into #fono
from
(
	-- fono1
	--(627387 rows affected) 1 min
	select cto_rut, ctd_fono1--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_fono1 = c.ctd_fono1 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_fono1 is not null
	--and ltrim(rtrim(ctd_fono1)) <> ''
	--and ltrim(rtrim(ctd_fono1)) <> '0'
	--and len(ctd_fono1) > 8
	group by cto_rut, ctd_fono1
	--order by cto_rut, ctd_fono1 
	union
	-- fono2
	--(426957 rows affected)
	select cto_rut, ctd_fono2--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_fono2 = c.ctd_fono2 ) ctd_correl
	from #contacto_det_new_v0 c with (nolock)
	where ctd_fono2 is not null
	--and ltrim(rtrim(ctd_fono2)) <> ''
	--and ltrim(rtrim(ctd_fono2)) <> '0'
	--and len(ctd_fono2) > 8
	group by cto_rut, ctd_fono2
	--order by cto_rut, ctd_fono2 
) a
order by cto_rut, ctd_fono1 


--1.- direccion
insert into #contacto_det_new_v1 
(
	cto_rut, 
	--ctd_correl, 
	ctd_direccion,
	ctd_direccion_v2,
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
	, opcion
	, orden
)
select d.cto_rut
	--, c.ctd_correl
	, c.ctd_direccion
	, c.ctd_direccion_v2
	, d.cmn_codigo
	, null --, c.ctd_email1
	, null --, c.ctd_email2
	, null --, c.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
	, 'direccion'
	, c.orden
from #direccion d
join #contacto_det_new_v0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


--email
insert into #contacto_det_new_v1 
(
	cto_rut, 
	--ctd_correl, 
	ctd_direccion, 
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
	, opcion
	, orden
)
select d.cto_rut
	--, c.ctd_correl
	, null --, d.ctd_direccion
	, null --, d.cmn_codigo
	, d.ctd_email1
	, null --, c.ctd_email2
	, null --, c.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
	, 'email'
	, c.orden
from #email d
join #contacto_det_new_v0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


--fono
insert into #contacto_det_new_v1
(
	cto_rut, 
	--ctd_correl, 
	ctd_direccion, 
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
	, opcion
    , orden
)
select d.cto_rut
	--, c.ctd_correl
	, null --, d.ctd_direccion
	, null --, d.cmn_codigo
	, null --, c.ctd_email1
	, null --, c.ctd_email2
	, d.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
	, 'fono'
	, c.orden
from #fono d
join #contacto_det_new_v0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl




				insert into CONTACTO_DET_NEW_ORIGEN
				(
					cto_rut, 
					--ctd_correl, 
					ctd_direccion, 
					ctd_direccion_v2,
					cmn_codigo, 
					ctd_email1, 
					ctd_email2, 
					ctd_fono1, 
					ctd_fono2,
					ctd_encar_rem, 
					usu_login, 
					ctd_fecreg, 
					ctd_origen
				)
				select cto_rut,
					--ctd_correl,
					--(select isnull(max(ctd_correl), 0) + 1 from dbo.contacto_det_new cc with (nolock) where cc.cto_rut = @cto_rut) as ctd_correl,
					ctd_direccion, 
					ctd_direccion_v2,
					cmn_codigo, 
					ctd_email1, 
					ctd_email2, 
					ctd_fono1, 
					ctd_fono2, 
					ctd_encar_rem, 
					usu_login, 
					ctd_fecreg, 
					ctd_origen 
				from #contacto_det_new_v1
				--where cto_rut = @cto_rut
				--and ctd_correl = @ctd_correl


--select * from CONTACTO_DET_NEW_ORIGEN


end




