
ALTER PROCEDURE [dbo].[SPU_CPW_LLENADOTABLAS]
AS
/*________________________________________________________________________________________________________________
PROCEDIMIENTO : SPU_CPW_LLENADOTABLAS
DESCRIPCION   : El procedimiento ejecuta varias instrucciones de insercin de registros desde las tablas de un servidor origen
				a las tablas de la base de datos COTIZAPLAN.
FECHA         : ENERO 2010
DESARROLLADOR : JORGE MOLINA	jmolina@infovida.cl
modificacion 1
FECHA         : 21-feb-2011
DESARROLLADOR : JORGE MOLINA	jmolina@infovida.cl
descripcion	: se incorporo en el llenado de tablas las tablas: contrato y beneficiario

CAMBIOS INTERMEDIOS:
1) en la variable: @sqltemp1, se incorporó la linea: "and pln_web = ''S''" 
2) en la variable: @sqltemp2, se modifico el select del insert: "insert into dbo.TEMP_PRESTADOR_CIUDAD"


FECHA MODIF2 : 14-09-11
DESARROLLADOR : Jorge Molina
DESCRIPCION : Se agrego a la variable las lienas: "delete dbo.TEMP_AGENCIA" y "delete dbo.TEMP_EJECUTIVO"
			 se incorporo en el llenado de tablas las tablas: agencia y ejecutivo.
NOTA
FECHA: 14-09-11: La ejecucion del procedimiento trayendo la informacion de EVOLUTION.ISAPRE A DESARROLLO2011.AFILWEB demoró: 34 segundos.
_________________________________________________________________________________________________________________*/

BEGIN

declare @servidor varchar(100)
		, @fecha_actual datetime
		, @sqltemp1 nvarchar(4000)
		, @sqltemp2 nvarchar(4000)
		, @sqltemp3 nvarchar(4000)
		, @sqltemp4 nvarchar(4000)
		, @sqldelete1 nvarchar(2000)
		, @conjunto_planesvig varchar(500)

set @servidor = '[EVOLUTION].ISAPRE.DBO.'
set @fecha_actual = getdate()
set @conjunto_planesvig = '(select * from '+@servidor+'PLANES
		where tab_codigo is not null
		and tpl_codigo is not null
		and ppr_codigo is not null
		and ucp_codigo = 2
		and pln_cartera = ''I'' 
		and pln_ini_vig <= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121)
		and (pln_fin_vig >= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121) or pln_fin_vig is NULL)	)'



	-- TRASPASO DEL SERVER 1 A TABLAS TEMPORALES DEL SERVER 2
/* NOTA: La variable @sqldelete1 tiene 1.089 caracteres y su tope es 2.000*/
	set @sqldelete1 = N'
		delete dbo.TEMP_PARAMETROS
		delete dbo.TEMP_UF
		delete dbo.TEMP_UTM
		delete dbo.TEMP_REGION_PLAN
		delete dbo.TEMP_SEGUROS
		delete dbo.TEMP_PLANES_IMG
		delete dbo.TEMP_PLANES_PRESTADOR
		delete dbo.TEMP_PLANES
		delete dbo.TEMP_UNIDAD_COBRO_PLAN
		delete dbo.TEMP_PRESTADOR_CIUDAD
		delete dbo.TEMP_PRESTADOR
		delete dbo.TEMP_CIUDAD
		delete dbo.TEMP_PONDERADOR
		delete dbo.TEMP_CATEGORIA
		delete dbo.TEMP_TRAMO
		delete dbo.TEMP_TABLA
		delete dbo.TEMP_PLAN_PRODUCTO
		delete dbo.TEMP_TIPO_PLAN
		delete dbo.TEMP_PLANTILLA_PARA_CALCULO
		delete dbo.TEMP_plantilla_valorizada_detalle
		delete dbo.TEMP_plantilla_titulos
		delete dbo.TEMP_plantilla_subtitulos
		delete dbo.TEMP_plantilla_valorizada_notas
		delete dbo.TEMP_plantilla_notas
		delete dbo.TEMP_subgrupo_plan
		delete dbo.TEMP_componentes
		delete dbo.TEMP_estructura_modelo
		delete dbo.TEMP_subgrupo_adenda
		delete dbo.TEMP_det_cond_btt
		delete dbo.TEMP_grupo_adenda
		delete dbo.TEMP_BENEFICIARIO
		delete dbo.TEMP_CONTRATO 
		delete dbo.TEMP_EJECUTIVO
		delete dbo.TEMP_AGENCIA '

/* NOTA: La variable @sqltemp1 tiene 3191 caracteres y su tope es 4.000*/
	set @sqltemp1 = N'
insert into dbo.TEMP_PARAMETROS		select par_codigo, par_inivig, par_finvig, par_valor, par_descrip, aud_fecha, aud_usuario
									from '+@servidor+'PARAMETROS where par_codigo in( ''GES'',''TLE'')
									and par_inivig <= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121)
									and (par_finvig >= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121) or par_finvig is NULL )

insert into dbo.TEMP_UF				select uf_fecha, uf_valor from '+@servidor+'UF
insert into dbo.TEMP_UTM			select utm_fecha, utm_valor from '+@servidor+'UTM
insert into dbo.TEMP_UNIDAD_COBRO_PLAN	select ucp_codigo, ucp_descripcion, ucp_vigencia from '+@servidor+'UNIDAD_COBRO_PLAN
insert into dbo.TEMP_TABLA			select tab_codigo, tab_nombre from '+@servidor+'TABLA
insert into dbo.TEMP_CATEGORIA		select cat_codigo, cat_label, cat_label2, trl_codigo, cat_tipobenef, cat_sexo from '+@servidor+'CATEGORIA
insert into dbo.TEMP_TRAMO			select tra_codigo, tra_label, tra_ini_tramo, tra_fin_tramo from '+@servidor+'TRAMO
insert into dbo.TEMP_PLAN_PRODUCTO	select ppr_codigo, ppr_descrip from '+@servidor+'PLAN_PRODUCTO
insert into dbo.TEMP_TIPO_PLAN		select tpl_codigo, tpl_descrip, tpl_ind_col from '+@servidor+'TIPO_PLAN
insert into dbo.TEMP_PONDERADOR		select cat_codigo, tra_codigo, tab_codigo, pon_factor from '+@servidor+'PONDERADOR where pon_factor is not null

insert into dbo.TEMP_CIUDAD				select distinct c.ciu_codigo, c.ciu_nombre, r.reg_codigo 
											from '+@servidor+'CIUDAD c
											join '+@servidor+'comuna m on c.ciu_codigo = m.ciu_codigo
											join '+@servidor+'region r on m.reg_codigo = r.reg_codigo

insert into dbo.TEMP_PLANES			select pln_nombre,	pln_codigo,
									tpl_codigo,			mad_codigo,
									tar_codigo,			tuf_codigo,
									pln_excedente,		pln_descrip,
									pln_ini_vig,		pln_duri_min,
									pln_tar_bas,		ucp_codigo,
									pln_tope_nac,		utn_codigo,
									pln_tope_int,		uti_codigo,
									pln_cotiz_prom,		pln_renta_minima,
									pln_renta_prom,		pln_rel_crg_cot,
									pln_min_afil,		ent_codigo,
									pln_tramo,			pln_pactado,
									tab_codigo,			pln_exc_cotiz,
									age_codigo,			pln_tope_dia_cama,
									tra_codigo,			pln_es_preferencial,
									gpr_codigo,			pln_fechadec,
									aud_fecha,			aud_usuario,
									pln_pesos,			pln_amp_cob,
									pln_fin_vig,		pln_tar_adec,
									pln_uf,				tad_codigo,
									isapre,				pln_label,
									lip_correl,			pln_cartera,
									ppr_codigo,			pln_ano,
									pln_tipo_tope,		pln_mesesdesde,
									pln_meseshasta,		pln_mujer,
									pln_hombre,			pln_concargas,
									pln_sincargas
								from '+@servidor+'PLANES
								where tab_codigo is not null	and tpl_codigo is not null
								and ppr_codigo is not null		and ucp_codigo = 2
								and pln_web = ''S'' 
								and pln_cartera = ''I'' 
								and pln_ini_vig <= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121)
								and (pln_fin_vig >= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121) or pln_fin_vig is NULL)
'

/* NOTA: La variable @sqltemp2 tiene 3.904 caracteres y su tope es 4.000, No ingresar mas lineas de codigo para esta variable.*/
	set @sqltemp2 = N'
insert into dbo.TEMP_REGION_PLAN	select r.reg_codigo, r.pln_nombre FROM '+@servidor+'REGION_PLAN r
									join '+@conjunto_planesvig+' p	on p.pln_nombre = r.pln_nombre

insert into dbo.TEMP_PLANES_IMG		select i.img_correl, i.pln_nombre, i.pln_tipo, i.pln_archivo from '+@servidor+'PLANES_IMG i
									join '+@conjunto_planesvig+' p	on p.pln_nombre = i.pln_nombre
									where i.pln_tipo is not null

insert into dbo.TEMP_PRESTADOR		select	p.ptd_rut, t.ptd_nombre
									from '+@conjunto_planesvig+' l join '+@servidor+'PRESTADOR_PREFERENTE p	on p.gpr_codigo= l.gpr_codigo
									join '+@servidor+'PRESTADOR t	on t.ptd_rut = p.ptd_rut
									and t.ptd_correl = p.ptd_correl
									group by p.ptd_rut, t.ptd_nombre

insert into dbo.TEMP_PLANES_PRESTADOR	select p.ptd_rut, l.pln_nombre
										from '+@conjunto_planesvig+' l join '+@servidor+'PRESTADOR_PREFERENTE p 
										on p.gpr_codigo= l.gpr_codigo
										left join '+@conjunto_planesvig+' pp on pp.pln_nombre = l.pln_nombre

insert into dbo.TEMP_PRESTADOR_CIUDAD	select DISTINCT  p.ptd_rut , 
										comuna.ciu_codigo
									from '+@conjunto_planesvig+' l join '+@servidor+'PRESTADOR_PREFERENTE p on p.gpr_codigo= l.gpr_codigo
										join '+@servidor+'convenio as convenio on convenio.ptd_rut=p.ptd_rut 
										join '+@servidor+'direc_consulta as direc_consulta on convenio.cvn_correl=direc_consulta.cvn_correl										
										join comuna on direc_consulta.cmn_codigo=comuna.cmn_codigo
									where l.pln_es_preferencial is not null
										and convenio.cvn_inivig <= '''+convert(char(8),@fecha_actual,112)+'''
										and (convenio.cvn_finvig >= '''+convert(char(8),@fecha_actual,112)+''' or convenio.cvn_finvig is null)
										and direc_consulta.dpt_inivig <= '''+convert(char(8),@fecha_actual,112)+'''
										and (direc_consulta.dpt_finvig >= '''+convert(char(8),@fecha_actual,112)+''' or direc_consulta.dpt_finvig is null)
'

/* NOTA: La variable @sqltemp3 tiene 3.418 caracteres y su tope es 4.000*/
	set @sqltemp3 = N'
insert into dbo.TEMP_SEGUROS	select s.seg_codigo
								, d.dts_correlativo
								, case when isnull(a.cont_detalle,0) > 1 then s.seg_descripcion+'' - ''+d.dts_descripcion else s.seg_descripcion end seg_descripcion 
								, s.seg_label
								, d.dts_valor
								, d.dts_descripcion
								, d.dts_tipovalor
								from '+@servidor+'SEGUROS s join '+@servidor+'DETALLE_SEGURO d
								on s.seg_codigo = d.seg_codigo
								left join (select d.seg_codigo seg_codigo, count(d.seg_codigo) cont_detalle
										from '+@servidor+'DETALLE_SEGURO d	where d.dts_vigente = ''S''		group by d.seg_codigo) a
								on s.seg_codigo = a.seg_codigo
								where s.seg_vigente = ''S''
								and d.dts_vigente = ''S''
								and s.seg_codigo not in(5,10,11)

insert into dbo.TEMP_det_cond_btt	select cnd_codigo,
									d.pln_nombre,
									sgp_correlativo,
									cbt_codigo,
									vdc_item,
									dcb_valor,
									uvc_codigo,
									dcb_cobertura,
									d.aud_fecha,
									d.aud_usuario
									from '+@servidor+'det_cond_btt d
									join '+@conjunto_planesvig+' p
									on p.pln_nombre = d.pln_nombre

insert into dbo.TEMP_subgrupo_plan	select s.pln_nombre,
									sgp_correlativo,
									cti_codigo,
									sgp_bonif_oa,
									sgp_tope_gen,
									ctp_codigo,
									fta_codigo,
									sgp_tope_uni,
									ctu_codigo,
									sgp_tope_int,
									s.mad_codigo,
									ead_correl,
									s.aud_fecha,
									s.aud_usuario
									from '+@servidor+'subgrupo_plan s
									join '+@conjunto_planesvig+' p
									on p.pln_nombre = s.pln_nombre

insert into dbo.TEMP_plantilla_notas	select pvn_codigo,	pvn_correl,
									pvn_leyenda_1,		pvn_leyenda_2,
									pvn_leyenda_3,		pvn_leyenda_4,
									pvn_leyenda_5,		pvn_leyenda_6,
									pvn_leyenda_7,		pvn_leyenda_8,
									pvn_leyenda_9,		pvn_leyenda_10,
									pvn_leyenda_11,		pvn_leyenda_12,
									pvn_leyenda_13,		pvn_leyenda_14,
									pvn_leyenda_15
									from '+@servidor+'plantilla_notas

insert into dbo.TEMP_plantilla_valorizada_notas	select plv_periodo, v.pln_nombre, pvn_codigo, pvn_correl, ctp_codigo, pvn_descripcion 
												from '+@servidor+'plantilla_valorizada_notas v	join '+@conjunto_planesvig+' p
												on p.pln_nombre = v.pln_nombre
'

/* NOTA: La variable @sqltemp4 tiene 3.407 caracteres y su tope es 4.000*/
	set @sqltemp4 = N'
insert into dbo.TEMP_grupo_adenda		select gra_codigo, gra_descrip, x from '+@servidor+'grupo_adenda
insert into dbo.TEMP_subgrupo_adenda	select sga_codigo, sga_descrip from '+@servidor+'subgrupo_adenda
insert into dbo.TEMP_estructura_modelo	select mad_codigo, ead_correl, gra_codigo, sga_codigo, ead_orden, aud_fecha, aud_usuario, ead_excluyegeneral, ead_excluyereducida, ead_excluyeespecial, ead_restringida 
											from '+@servidor+'estructura_modelo
insert into dbo.TEMP_componentes			select cmp_correl, mad_codigo, ead_correl, iad_codigo, prs_correl, aud_fecha, aud_usuario from '+@servidor+'componentes WHERE PRS_CORREL=1
insert into dbo.TEMP_plantilla_titulos		select plt_codigo, gra_codigo, plt_descripcion, plt_orden from '+@servidor+'plantilla_titulos
insert into dbo.TEMP_plantilla_subtitulos	select pls_codigo, pls_descripcion from '+@servidor+'plantilla_subtitulos

insert into dbo.TEMP_plantilla_valorizada_detalle
											select plv_periodo,
											v.pln_nombre,
											plt_codigo,
											pls_codigo,
											prs_correl,
											cpr_inivig,
											plt_agrupa,
											pvn_nota_detalle,
											pvn_nota_general,
											pvd_porcentaje_bonifica,
											pvd_tope_pesos,
											pvd_amp_tope_pesos,
											pvd_amp_porcentaje,
											pvd_asoc_porcentaje,
											pvd_asoc_tope_pesos,
											pvd_asoc_copago,
											pvd_asoc_numero_conv,
											pvn_notas  
											from '+@servidor+'plantilla_valorizada_detalle v
											join '+@conjunto_planesvig+' p
											on p.pln_nombre = v.pln_nombre

insert into dbo.TEMP_CONTRATO	   SELECT P1.CON_FOLIO, C.COT_RUT, P1.PLN_NOMBRE, C.CON_INIVIG, cta_exceden
									FROM '+@servidor+'CONTRATO C JOIN '+@servidor+'CTA_CTE_ACUMULADA CTA ON CTA.COT_RUT = C.COT_RUT  INNER JOIN
									'+@servidor+'PLAN_CONTRATADO P1 ON C.CON_FOLIO = P1.CON_FOLIO
									WHERE (C.CON_INIVIG <= CONVERT(CHAR(6), GETDATE(), 112) + ''01'') AND (C.CON_FINVIG >= CONVERT(CHAR(6), GETDATE(), 112) + ''01'' OR
									C.CON_FINVIG IS NULL) AND (P1.PLC_INIVIG = (SELECT MAX(PLC_INIVIG) AS Expr1
									FROM '+@servidor+'PLAN_CONTRATADO  P2  WHERE (PLC_INIVIG <= CONVERT(CHAR(6), GETDATE(), 112) + ''01'') AND (CON_FOLIO = P1.CON_FOLIO)))

insert into dbo.TEMP_BENEFICIARIO	select con_folio, bnf_codigo, bnf_tipocarga, bnf_sexo, bnf_nacto, bnf_rut, bnf_paterno, bnf_materno, bnf_nombres, trl_codigo from '+@servidor+'beneficiario 
									WHERE bnf_inivig <= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121)
									and (bnf_finvig >= convert(datetime, '''+CONVERT (varchar(30), @fecha_actual , 121 ) +''', 121) or bnf_finvig is NULL)

insert into dbo.TEMP_AGENCIA	select age_codigo, age_nombre, age_disponible, age_agepertenece, age_tpo, cem_codigo, age_codigofox, age_codigolic, age_codigo_contab, age_email_curativa 
								from '+@servidor+'AGENCIA

insert into dbo.TEMP_EJECUTIVO	select eje_rut, eje_nombres, eje_paterno, eje_materno, eje_fecdigitado, usu_rut, age_codigo, eje_mantencion, eje_fecini_hab, eje_fecfin_hab, eje_semcorrida
								from '+@servidor+'EJECUTIVO where eje_fecini_hab <= getdate() and (eje_fecfin_hab >= getdate() or eje_fecfin_hab is null)  '


/* -- LINEAS DE PRUEBA
print '@sqldelete1: '+convert(varchar(10), len(@sqldelete1))
print '@sqltemp1: '+convert(varchar(10), len(@sqltemp1))
print '@sqltemp2: '+convert(varchar(10), len(@sqltemp2))
print '@sqltemp3: '+convert(varchar(10), len(@sqltemp3))
print '@sqltemp4: '+convert(varchar(10), len(@sqltemp4))
print @sqldelete1
print @sqltemp1
print @sqltemp2
print @sqltemp3
print @sqltemp4
*/

				exec sp_executesql @sqldelete1
				if @@ERROR<>0
					begin
							rollback
							return 
					end

				exec sp_executesql @sqltemp1
				if @@ERROR<>0
					begin
							rollback
							return 
					end	
	
				exec sp_executesql @sqltemp2
				if @@ERROR<>0
					begin
							rollback
							return 
					end

				exec sp_executesql @sqltemp3
				if @@ERROR<>0
					begin
							rollback
							return 
					end

				exec sp_executesql @sqltemp4
				if @@ERROR<>0
					begin
							rollback
							return 
					end


				EXEC DBO.SPU_CPW_LLENADOTABLAS_PARTE2


END





