USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_contral_compin_resol_string]    Script Date: 14-11-2024 20:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- ========================================================================             
-- Tipo de objeto     : Procedimiento almacenado                   
-- Nombre del objeto  : spu_contral_compin_resol         
-- Creado por         : Jorge Molina <jorge.molina@nuevamasvida.cl>               
-- Fecha creación     : 13/10/2022                      
-- Sistema utilizante : Sistema de Contraloría Médica                 
-- Pantalla o Informe : Bandeja “Informar a compin”  
-- Parámetros         : @lic_correl: correlativo licencia  
--      @res_correl:                  
-- Descripción        : Bandeja “Informar a compin”  
  
-- Modificado por     : 
-- Fecha     : 
-- Modificación    : 
-- ========================================================================   
  

/*
EXECUTE spu_contral_compin_resol 4033882855, 1
EXECUTE spu_contral_compin_resol_string 4033882855, 1
 */
  
ALTER PROCEDURE [dbo].[spu_contral_compin_resol_string]  
(  
@lic_correl as numeric(10)  
, @res_correl as numeric(2)  
)  
  
AS            
BEGIN            
    SET NOCOUNT ON      
  
  
  
select lic_correl   
  , case when ((isnumeric(  
replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
ltrim(rtrim(lic_fonoreposo))  
, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', '')  
) = 1 )  
and   
len(  
replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
ltrim(rtrim(lic_fonoreposo))  
, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', '')  
) <= 10  
) then   
RIGHT(  
replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
ltrim(rtrim(lic_fonoreposo))  
, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', '')  
,9)  
else null end lic_fonoreposo  
into #licencia_contraloria  
from dbo.licencia_contraloria with (nolock)  
where lic_correl = @lic_correl   
  
  --select replace(convert(varchar(10), getdate(), 111 ), '/', '-')
  
select   
cast( l.lic_folio as varchar(10)) as NumLicencia  
, cast( convert(numeric(1),case when l.lic_color= 3 then l.lic_operador else l.lic_color end) as varchar(1)) as TipFormu		--
, isnull(cast( substring(cast(l.cot_rut as char(10)), 1, 9) as varchar(10)), '0') as NumCedTra  
, cast(substring(cast(l.cot_rut as char(10)), 10, 1) as char(1)) as DigCedTra  
, isnull(rtrim(t.cot_paterno), '') as ApellidoPaterno  
, isnull(rtrim(t.cot_materno), '') as ApellidoMaterno  
, isnull(rtrim(t.cot_nombres), '') as NombreTrabajador  
, isnull(cast( l.lic_edad as varchar(3)), '0') as EdadTrabajador  
, case l.lic_sexo when 'M' then '01' else '02' end as SexoTrabajador  
, isnull(c.con_email, '') as Mail  
, isnull( cast(l.lic_celreposo as varchar(9)), '0') as Celular    
, case when isnumeric(rtrim(ll.lic_fonoreposo))=1 then cast(ll.lic_fonoreposo as varchar(9))  else '0' end as Fono  
--, cast(l.lic_fecemision as date) as FechaEmision
, replace(convert(varchar(10), l.lic_fecemision, 111 ), '/', '-') as FechaEmision
--, cast(l.lic_ldesde as date) as FechaInicioReposo  
, replace(convert(varchar(10), l.lic_ldesde, 111 ), '/', '-') as FechaInicioReposo
, isnull(cast(l.lic_lnumdias as varchar(3)), '0') as DiasOtorgados  
, cast(   
 (case isnull(rtrim(l.ptd_rut), '') when '' then '0'  
      when '' then '0'  
      else substring(cast(l.ptd_rut as char(10)), 1, 9) end)  
  
   as varchar(20))  as NumCedMed  
, cast(substring(cast(isnull(l.ptd_rut, '') as varchar(10)), 10, 1) as char(1)) as DigCedMed  
, isnull(rtrim(l.lic_pfs_paterno), '') as PaternoMedico  
, isnull(rtrim(l.lic_pfs_materno), '') as MaternoMedico  
, isnull(rtrim(l.lic_pfs_nombres), '') as NombreMedico  
, isnull(cast(l.lic_profesional as varchar(1)), '0') as ProfMedico  
--, cast(r.lic_fecresol as date) as FecResoluc 
, replace(convert(varchar(10), r.lic_fecresol, 111 ), '/', '-') as FecResoluc
, isnull(cast(r.tli_codigo as varchar(2)), '0') as TipoLmeResuelta  
, isnull(cast(r.lic_numdias as varchar(3)), '0') as DiasAutorizados  
--, cast(r.lic_desde as date) as FecAutDesde  
, replace(convert(varchar(10), r.lic_desde, 111 ), '/', '-') as FecAutDesde
--, cast(r.lic_hasta as date) as FecAutHasta  
, replace(convert(varchar(10), r.lic_hasta, 111 ), '/', '-') as FecAutHasta

, isnull(cast(r.lic_resol as varchar(1)), '0') as TipResolucion  
, case r.lic_periodo when 'P' then '1'  
     when 'C' then '2' 
	 else '0' end as PrimeContinua 
	 
, isnull(cast(r.crl_codigo as varchar(2)), '1') as CodCausaRechazo   --ya que solo se aceptan valores mayores a 0
, isnull(substring(rtrim(r.lic_motivorech), 1, 500), '') as GloCausaRechazo  
, isnull(cast(f.cmn_codigoine as char(5)), '') as CodComuna  
, isnull(rtrim(r.cie_codigo), '') as CodCie10  
, isnull(rtrim(CIE10.CIE_DESCRIP), '') as DescDiag  
, '0' as SospechaLaboral  
from dbo.licencia_contraloria l with (nolock)  
join dbo.cotizante t with (nolock)   
 on t.cot_rut = l.cot_rut  
join dbo.resolucion_licencia r with (nolock)  
 on r.lic_correl = l.lic_correl  
 and r.res_correl = @res_correl  
join dbo.contrato c with (nolock)    
  on c.con_folio = l.con_folio   
left join comuna f on f.cmn_codigo = (case when l.CMN_CODIGO_CONTRATO is null or l.CMN_CODIGO_CONTRATO=0 then c.cmn_codigo else  l.CMN_CODIGO_CONTRATO end)  
join #licencia_contraloria ll  with (nolock)  
 on ll.lic_correl = l.lic_correl  
left join CIE10 on r.cie_codigo=CIE10.cie_codigo  
where --r.lic_resol in (2, 4)  
--and   
l.lic_correl = @lic_correl  
and r.res_correl=@res_correl  
  
  
  
END  
  