USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_contral_asig_lm_multiple]    Script Date: 14-11-2024 20:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=======================================================================
--	Tipo de Objeto		:	Procedimiento Almacenado
--  Nombre Objeto		:	spu_contral_asig_resol_isa_multiple
--  Parámetros			:   @USU_LOGIN_ORIGEN: Usuario origen
--							@USU_LOGIN_DESTINO : Usuario destino
--							@TIPO_LM: LM_100
--									  LM_MIXTA_PAPEL
--									LM_TODAS					
--  Autor				:	Jorge Molina <jorge.molina@nuevamasvida.cl>
--  Fecha Creación		:	22-09-2020
--  Descripción			:   Asignar resolución a usuario isa. 
--  
--  Modificado por		:   Jorge Molina <jorge.molina@nuevamasvida.cl>
--  Fecha Modificación	:	14-10-2020
--  Descripción			:	se agrego filtro del listado de resoluciones sin asignar
--  
--  Modificado por		:   Jorge Molina <jorge.molina@nuevamasvida.cl>
--  Fecha Modificación	:	14-06-2021
--  Descripción			:	#20210614 se agrego filtro @DIA_TRANSCURRIDO del listado de lm a reasignar
--  
--  Modificado por		:   Jorge Molina <jorge.molina@nuevamasvida.cl>
--  Fecha Modificación	:	24-06-2021
--  Descripción			:	#20210624 se agrego DBO.f_dias_habiles_entre(LIC.LIC_FECRECEP,GETDATE()) AS DIAS_TRANS
--  
--  Modificado por		:   Jorge Molina <jorge.molina@nuevamasvida.cl>
--  Fecha Modificación	:	24-06-2021
--  Descripción			:	#20210625 se optimizó en tiempo DBO.f_dias_habiles_entre(LIC.LIC_FECRECEP,GETDATE()) AS DIAS_TRANS

--=======================================================================


ALTER PROCEDURE [dbo].[spu_contral_asig_lm_multiple]
	@USU_LOGIN_ORIGEN VARCHAR(30)
	, @USU_LOGIN_DESTINO VARCHAR(30)
	, @TIPO_LM VARCHAR(30)
	, @DIA_TRANSCURRIDO INTEGER = NULL	--#20210614
AS
BEGIN	
	SET NOCOUNT ON;

	DECLARE @RESULTADO NUMERIC(10)
	DECLARE @MENSAJE VARCHAR(200)
	DECLARE @PER_CODIGO VARCHAR(30)
	DECLARE @CAD_OPCION VARCHAR(50)
	DECLARE @VIGENTE VARCHAR(1)
	DECLARE @DISPONIBLE VARCHAR(1)
	DECLARE @LIC_CORREL NUMERIC(10)
	DECLARE @RES_CORREL NUMERIC(10)
	DECLARE	@USU_LOGIN_ULT	CHAR(30)
	DECLARE	@USU_LOGIN_ASIG	CHAR(30)
	DECLARE @CONT_RESOL NUMERIC(10)
	DECLARE @GETDATE DATETIME
	DECLARE @LIC_FECRECEPX DATETIME		--#20210625
	DECLARE @LIC_CORRELX NUMERIC(10)	--#20210625

	SET @CONT_RESOL = 0
	SET @GETDATE = GETDATE()
	SET @PER_CODIGO ='CONTRALORIA_ANALIST'
	SET @CAD_OPCION = 'LM_ANALISTAS'  --'ISA_VISTO_BUENO'

	SET @RESULTADO = 1
	SET @MENSAJE = 'EXITO'


	SET @USU_LOGIN_ORIGEN = RTRIM(@USU_LOGIN_ORIGEN)
	SET @USU_LOGIN_DESTINO = RTRIM(@USU_LOGIN_DESTINO)
	SET @TIPO_LM = RTRIM(@TIPO_LM)

	-- VALIDAR USUARIO ORIGEN #20210614
	IF @DIA_TRANSCURRIDO = 99
	BEGIN
			SET @DIA_TRANSCURRIDO = NULL
	END

	BEGIN TRY

			-- VALIDAR TIPO LM
			IF @TIPO_LM <> 'LM_100' AND @TIPO_LM <> 'LM_MIXTA_PAPEL' AND @TIPO_LM <> 'LM_TODAS' 
			BEGIN
					SELECT -1, 'EL TIPO_LM: '+@TIPO_LM+' NO SE ENCUENTRA REGISTRADO.' 
					RETURN
			END

			-- VALIDAR USUARIO ORIGEN
			IF @USU_LOGIN_ORIGEN IS NOT NULL AND RTRIM(@USU_LOGIN_ORIGEN) <> '' 
			BEGIN
				-- 1.-VALIDAR EL USUARIO ORIGEN : 
						-- ESTE EN LA TABLA USUARIO

					SELECT DISTINCT 
						 @USU_LOGIN_ORIGEN = RTRIM(U.USU_LOGIN)
					 FROM USUARIO U WITH (NOLOCK) 
					WHERE U.USU_LOGIN = @USU_LOGIN_ORIGEN

					IF @@ROWCOUNT = 0
					BEGIN
							SELECT -1, 'EL USUARIO ORIGEN: '+@USU_LOGIN_ORIGEN+' NO SE ENCUENTRA REGISTRADO.' 
							RETURN

					END
			END


			-- VALIDAR USUARIO ORIGEN #20210614
			IF @USU_LOGIN_ORIGEN IS NULL OR RTRIM(@USU_LOGIN_ORIGEN) = '' 
			BEGIN
					SET @DIA_TRANSCURRIDO = NULL
			END


			-- VALIDAR USUARIO DESTINO
			IF @USU_LOGIN_DESTINO IS NOT NULL AND RTRIM(@USU_LOGIN_DESTINO) <> '' 
			BEGIN
				-- 1.-VALIDAR EL USUARIO DESTINO : 
						-- ESTE EN LA TABLA CONTRALORIA_ASIG_USUARIO
						-- QUE ESTE DISPONIBLE
						-- QUE ESTE VIGENTE POR SU PERIODO 
						-- QUE VIGENTE EN LA TABLA USUARIO

					SELECT DISTINCT 
						 @VIGENTE= CASE WHEN
						 (
							U.USU_INIVIG <= @GETDATE
							AND (U.USU_FINVIG >= CONVERT(DATETIME,  CONVERT(VARCHAR(10),  @GETDATE, 121), 121) OR U.USU_FINVIG IS NULL )
							AND P.CAU_DISPONIBLE = 'S'
							AND P.CAU_INIVIG <= @GETDATE
							AND (P.CAU_FINVIG >= CONVERT(DATETIME,  CONVERT(VARCHAR(10),  @GETDATE, 121), 121) OR P.CAU_FINVIG IS NULL )
						 ) THEN 'S'
						 ELSE 'N' END  
						, @DISPONIBLE = ISNULL(P.CAU_DISPONIBLE, 'N') 
					 FROM CONTRALORIA_ASIG_USUARIO P WITH (NOLOCK)
					 JOIN USUARIO U WITH (NOLOCK) 
					 ON P.USU_LOGIN = U.USU_LOGIN
					WHERE P.CAD_OPCION = @CAD_OPCION
					AND P.USU_LOGIN = @USU_LOGIN_DESTINO

					IF @@ROWCOUNT = 1
					BEGIN
							IF @VIGENTE = 'N'
							BEGIN
									SELECT -1, 'EL USUARIO DESTINO: '+@USU_LOGIN_DESTINO+' NO SE ENCUENTRA VIGENTE.' 
									RETURN
							END 
					END
					ELSE
					--IF @@ROWCOUNT = 0
					BEGIN
							BEGIN
									SELECT -1, 'EL USUARIO DESTINO: '+@USU_LOGIN_DESTINO+' NO SE ENCUENTRA COMO ASIGNADO.' 
									RETURN
							END 
					END
			END


			--2.- ORIGEN: LISTADO DE LM SIN RESOLUCION DE UN USUARIO_ORIGEN O SIN USUARIO ORIGEN.

			-- PARA TODAS LAS LM : TODAS
			SELECT DISTINCT L.LIC_CORREL
				--, RL.RES_CORREL
				, CAST(NULL AS VARCHAR(30)) AS USU_LOGIN_DESTINO
				, IDENTITY(NUMERIC(10), 1,1) CLAVE_RESOL
				, CAST(NULL AS NUMERIC(5)) AS DIAS_TRASCURRIDOS
				, L.LIC_FECRECEP AS LIC_FECRECEP	--#20210625
			INTO #RESOLUCION_ASIG
			FROM DBO.LICENCIA_CONTRALORIA L WITH (NOLOCK)
			LEFT JOIN DBO.LME_LICENCIA_CONTRALORIA LME (nolock)          
				ON LME.ID_LICENCIA = L.LIC_FOLIO          
				AND LME.ID_OPERADOR = L.LIC_OPERADOR          
				AND LME.LIC_COLOR = L.LIC_COLOR 
			LEFT JOIN DBO.CIE10 C with (nolock) 
				ON L.CIE_CODIGO_PRI = C.CIE_CODIGO  
			WHERE (   
						(@USU_LOGIN_ORIGEN IS NOT NULL AND RTRIM(@USU_LOGIN_ORIGEN) <> '' AND L.LIC_USU_ASIG_ANALIST = @USU_LOGIN_ORIGEN)  -- SI EL ORIGEN ES UN USUARIO, RESCATAR SOLO LAS LM ASIGNADAS A EL.
						OR ((@USU_LOGIN_ORIGEN IS NULL OR RTRIM(@USU_LOGIN_ORIGEN) = '') AND L.LIC_USU_ASIG_ANALIST IS NULL)					--SI EL ORIGEN NO ES NADIE, RESCATAR SOLO LAS LM NO ASIGNADAS.
					)
			AND NOT EXISTS (SELECT * FROM RESOLUCION_LICENCIA RES WHERE RES.LIC_CORREL = L.LIC_CORREL)		-- SIN RESOLUCIÓN     
			AND NOT EXISTS (SELECT * FROM LIC_RESOL_SUG LRS WHERE LRS.LIC_CORREL = L.LIC_CORREL AND LRS.LRS_REVISADA = 'S')  
			--AND l.LIC_FECDIGITADO  >= '20200201'
			AND (l.lic_ldesde > = DATEADD(MONTH, -6, GETDATE()) )		--#20210625

--LM_100
--LM_MIXTA_PAPEL
--LM_TODAS
			AND (
					( @TIPO_LM = 'LM_100' 
					AND L.LIC_COLOR = 3          
					AND (LME.LIC_ADSCRITO = 'S')          
					AND (LME.LIC_ESTADO = 3 OR LME.LIC_ESTADO = 4 OR LME.LIC_ESTADO = 5) 
					--AND L.LIC_FECDIGITADO  >= '20200925'
					)

			 	OR ( @TIPO_LM = 'LM_MIXTA_PAPEL' 
					 AND (          
						L.LIC_COLOR IN (1,2)          
						OR (L.LIC_COLOR = 3 AND ((LME.LIC_ADSCRITO = 'N' OR LME.LIC_ADSCRITO IS NULL ) AND LME.LIC_ESTADO = 1 )  )          
						)
					--AND L.LIC_FECDIGITADO  >= '20200301' 
				
					)

				OR ( @TIPO_LM = 'LM_TODAS' )
				)


		/*
		--@DIA_TRANSCURRIDO #20210624
			AND (
					(@DIA_TRANSCURRIDO = 0 AND (DBO.f_dias_habiles_entre(L.LIC_FECRECEP,GETDATE())=0) )
					OR (@DIA_TRANSCURRIDO = 1 AND (DBO.f_dias_habiles_entre(L.LIC_FECRECEP,GETDATE())=1) )
					OR (@DIA_TRANSCURRIDO = 2 AND (DBO.f_dias_habiles_entre(L.LIC_FECRECEP,GETDATE())=2) )
					OR (@DIA_TRANSCURRIDO = 3 AND (DBO.f_dias_habiles_entre(L.LIC_FECRECEP,GETDATE())>2) )
					OR (@DIA_TRANSCURRIDO IS NULL )
				)
		*/	--#20210625 se demoraba mucho min.


		--#20210625
             IF @DIA_TRANSCURRIDO IS NOT NULL
			 BEGIN

				CREATE INDEX INDEX_LIC_FECRECEP ON #RESOLUCION_ASIG (LIC_FECRECEP);
				--CREATE INDEX INDEX_LIC_FECRECEP ON #RESOLUCION_ASIG (LIC_FECRECEP)


				DECLARE CURSOR_CONTRAL CURSOR   
				FOR 
					SELECT LIC_CORREL
					, LIC_FECRECEP
					FROM #RESOLUCION_ASIG
					ORDER BY LIC_CORREL

				
				OPEN CURSOR_CONTRAL

				FETCH NEXT FROM CURSOR_CONTRAL INTO @LIC_CORRELX, @LIC_FECRECEPX

				WHILE @@FETCH_STATUS = 0
				BEGIN

					UPDATE #RESOLUCION_ASIG
					SET DIAS_TRASCURRIDOS = DBO.f_dias_habiles_entre(@LIC_FECRECEPX,@GETDATE)
					WHERE LIC_CORREL = @LIC_CORRELX

					FETCH NEXT FROM CURSOR_CONTRAL INTO @LIC_CORRELX, @LIC_FECRECEPX
				END 

				CLOSE CURSOR_CONTRAL
				DEALLOCATE CURSOR_CONTRAL

				DELETE #RESOLUCION_ASIG
				WHERE (
						(@DIA_TRANSCURRIDO < 3 AND DIAS_TRASCURRIDOS <> @DIA_TRANSCURRIDO)
						OR (@DIA_TRANSCURRIDO = 3 AND DIAS_TRASCURRIDOS < @DIA_TRANSCURRIDO)
					)

			 END 			
		--#20210625


			-- DESTINO: SOLO A UN USUARIO
			IF @USU_LOGIN_DESTINO IS NOT NULL AND RTRIM(@USU_LOGIN_DESTINO) <> '' 
			BEGIN


					UPDATE LICENCIA_CONTRALORIA 
					SET LIC_USU_ASIG_ANALIST = @USU_LOGIN_DESTINO
						, LIC_FEC_ASIG_ANALIST = @GETDATE
					FROM LICENCIA_CONTRALORIA RD
					JOIN #RESOLUCION_ASIG RO
					ON RD.LIC_CORREL = RO.LIC_CORREL
					AND (
						RD.LIC_USU_ASIG_ANALIST = @USU_LOGIN_ORIGEN
						OR @USU_LOGIN_ORIGEN IS NULL
						OR @USU_LOGIN_ORIGEN = ''
						)

				/*	UPDATE RESOLUCION_LICENCIA 
					SET USU_LOGIN_ASIG_ISA = @USU_LOGIN_DESTINO
					FROM RESOLUCION_LICENCIA RD
					JOIN #RESOLUCION_ASIG RO
					ON RD.LIC_CORREL = RO.LIC_CORREL
					AND RD.RES_CORREL = RO.RES_CORREL
					AND (
						RD.USU_LOGIN_ASIG_ISA = @USU_LOGIN_ORIGEN
						OR @USU_LOGIN_ORIGEN IS NULL
						OR @USU_LOGIN_ORIGEN = ''
						)*/

					SET @CONT_RESOL = @@ROWCOUNT

					IF @CONT_RESOL = 0
					BEGIN
						SELECT 1, 'ADVERTENCIA, N° DE LM ASIGNADAS = 0'
						RETURN
					END 
					ELSE
					BEGIN
						IF @USU_LOGIN_ORIGEN IS NOT NULL AND @USU_LOGIN_ORIGEN <> ''
						BEGIN
								SELECT 1, 'ÉXITO, N° DE LM ASIGNADAS = '+CAST(@CONT_RESOL AS VARCHAR(100))+', DEL USUARIO: '+@USU_LOGIN_ORIGEN+' AL USUARIO: '+@USU_LOGIN_DESTINO+'.'
								RETURN
						END
						ELSE
						BEGIN
								SELECT 1, 'ÉXITO, N° DE LM ASIGNADAS = '+CAST(@CONT_RESOL AS VARCHAR(100))+', ORIGEN SIN ASIGNAR AL USUARIO: '+@USU_LOGIN_DESTINO+'.'
								RETURN
						END 
					END 
			END


			-- DESTINO: MULTIPLE
			IF @USU_LOGIN_DESTINO IS NULL OR @USU_LOGIN_DESTINO = '' 
			BEGIN

					-- LISTADO DE USUARIOS DESTINO ASIGNADOS VIGENTES 
					SELECT C.USU_LOGIN AS USU_LOGIN
					, IDENTITY(NUMERIC(10), 1,1) CLAVE_USU
					INTO #USUARIO_ASIGNADOS
					FROM DBO.CONTRALORIA_ASIG_USUARIO C WITH (NOLOCK)
					JOIN DBO.PERFILES_USUARIO P WITH (NOLOCK)
						ON C.USU_LOGIN = P.USU_LOGIN
					LEFT JOIN DBO.USUARIO U  WITH (NOLOCK) 
						ON C.USU_LOGIN = U.USU_LOGIN
					WHERE P.PER_CODIGO = @PER_CODIGO
					AND C.CAD_OPCION = @CAD_OPCION
					AND ( C.USU_LOGIN <> @USU_LOGIN_ORIGEN OR @USU_LOGIN_ORIGEN IS NULL OR @USU_LOGIN_ORIGEN = '' )
					AND C.CAU_DISPONIBLE = 'S'
					AND C.CAU_INIVIG <= @GETDATE
					AND (C.CAU_FINVIG >= CONVERT(DATETIME,  CONVERT(VARCHAR(10),  @GETDATE, 121), 121) OR C.CAU_FINVIG IS NULL )
					AND U.USU_INIVIG <= @GETDATE
					AND (U.USU_FINVIG >= CONVERT(DATETIME,  CONVERT(VARCHAR(10),  @GETDATE, 121), 121) OR U.USU_FINVIG IS NULL )


					-- YA TENIENDO EL LISTADO DE RESOLUCIONES
					-- ASIGNAR BALANCEADAMENTE AL LISTADO DE USUARIOS DE DESTINO

					DECLARE CURSOR_RESOL CURSOR 
					FOR 
						SELECT DISTINCT LIC_CORREL
							--, RES_CORREL
							--, USU_LOGIN_DESTINO
							--, CLAVE_RESOL
						FROM #RESOLUCION_ASIG

					OPEN CURSOR_RESOL

					FETCH NEXT FROM CURSOR_RESOL INTO @LIC_CORREL--, @RES_CORREL

					-- USUARIO DE LA ÚLTIMA RESOLUCION ASIGNADA
					SELECT TOP 1 @USU_LOGIN_ULT = LIC_USU_ASIG_ANALIST
					FROM		DBO.LICENCIA_CONTRALORIA WITH (NOLOCK)
					WHERE		LIC_USU_ASIG_ANALIST IS NOT NULL
					ORDER BY	AUD_FECHA DESC

					WHILE @@FETCH_STATUS = 0
					BEGIN

							-- SIGUIENTE USUARIO PARA ASIGNAR
							SELECT TOP 1 @USU_LOGIN_ASIG = USU_LOGIN
							FROM		#USUARIO_ASIGNADOS
							WHERE USU_LOGIN > @USU_LOGIN_ULT
							ORDER BY	USU_LOGIN

							IF @@ROWCOUNT = 0
							BEGIN
								SELECT TOP 1 @USU_LOGIN_ASIG = USU_LOGIN
								FROM		#USUARIO_ASIGNADOS
								ORDER BY	USU_LOGIN
							END

							-- NUEVA ASIGNACIÓN
							UPDATE	LICENCIA_CONTRALORIA
							SET		LIC_USU_ASIG_ANALIST = @USU_LOGIN_ASIG
									, LIC_FEC_ASIG_ANALIST = @GETDATE
							WHERE	LIC_CORREL  = @LIC_CORREL
							--AND RES_CORREL = @RES_CORREL

							IF @@ROWCOUNT = 1 
							BEGIN
								SET @CONT_RESOL = @CONT_RESOL + 1
							END 

							SET @USU_LOGIN_ULT = @USU_LOGIN_ASIG

							FETCH NEXT FROM CURSOR_RESOL INTO @LIC_CORREL--, @RES_CORREL
					END

					CLOSE CURSOR_RESOL
					DEALLOCATE CURSOR_RESOL

					--COMMIT

					IF @CONT_RESOL = 0
					BEGIN
						SELECT 1, 'ADVERTENCIA, N° DE LM ASIGNADAS = 0'
						RETURN
					END 
					ELSE
					BEGIN
						IF @USU_LOGIN_ORIGEN IS NOT NULL AND @USU_LOGIN_ORIGEN <> ''
						BEGIN
								SELECT 1, 'ÉXITO, N° DE LM ASIGNADAS = '+CAST(@CONT_RESOL AS VARCHAR(100))+', DEL USUARIO: '+@USU_LOGIN_ORIGEN+' A USUARIOS ASIGNADOS.'
								RETURN
						END
						ELSE
						BEGIN
								SELECT 1, 'ÉXITO, N° DE LM ASIGNADAS = '+CAST(@CONT_RESOL AS VARCHAR(100))+', ORIGEN SIN ASIGNAR A USUARIOS ASIGNADOS.'
								RETURN
						END 
					END 

			END

	END TRY

	BEGIN CATCH
		--SELECT	ERROR_LINE() AS ErrorLine,
		--		ERROR_MESSAGE() AS ErrorMessage
	END CATCH	

	--SELECT * FROM #RESOLUCION_ASIG
	--SELECT @RESULTADO, @MENSAJE 


END

