USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_contral_compin_bitacora_insert]    Script Date: 14-11-2024 20:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================================================           
-- Tipo de objeto     : Procedimiento almacenado                 
-- Nombre del objeto  : spu_contral_compin_bitacora_insert      
-- Creado por         : Jorge Molina <jorge.molina@nuevamasvida.cl>             
-- Fecha creación     : 13/03/2019                    
-- Sistema utilizante : Sistema de Contraloría Médica               
-- Pantalla o Informe : Bandejas Compin
-- Descripción        : Valida resolucion pasada por parametro
--						en el proceso envío a compin.
-- Parámetros         : @lic_correl : correlativo de licencia
--						@res_correl : correlativo de resolución
--						@bcd_codigo : cod. de estado bitacora
--						@usu_login  : Usuario.
-- Salida			  : 0 , No existe error
--						<> 0, Existe Error 
-- 
-- Modificado         : Jorge Molina <jorge.molina@nuevamasvida.cl> 
-- Fecha Modif        : 25/03/2019                                      
-- Descripción        : @bco_detalle se aumenta de varchar(30) a varchar(500)
           
-- ========================================================================

ALTER PROCEDURE [dbo].[spu_contral_compin_bitacora_insert]
(
@lic_correl as numeric(10)
, @res_correl as numeric(2)
, @bcd_codigo as numeric(3) 
, @bco_detalle as varchar(500) = null
, @usu_login as char(30) = null
, @bco_fecha as datetime = null
)

AS

--declare @bco_fecha		datetime
declare @bco_correl		numeric(10)


BEGIN
	if @bco_fecha is null
	begin
		set @bco_fecha = getdate()
	end

	CREATE TABLE #CORREL (
		CORRELATIVO NUMERIC(10)
	)

	--BEGIN TRAN COMPIN


	--BEGIN TRY
			INSERT INTO #CORREL
			EXEC [DBO].spu_nuevo_folio 'BITACORA_COMPIN'
	
			SELECT @BCO_CORREL = CORRELATIVO FROM #CORREL

			INSERT INTO BITACORA_COMPIN 
				(BCO_CORREL
				, LIC_CORREL
				, RES_CORREL
				, BCD_CODIGO
				, BCO_DETALLE
				, BCO_FECHA
				, USU_LOGIN)
			VALUES (@BCO_CORREL
			, @lic_correl
			, @res_correl
			, @bcd_codigo
			, @bco_detalle
			, @bco_fecha
			, @usu_login )

	--		COMMIT TRAN COMPIN

	--END TRY

	--BEGIN CATCH

	--		ROLLBACK TRAN COMPIN

	--END CATCH


END
