USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_contraloria_ds3_bitacora]    Script Date: 14-11-2024 20:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=======================================================================    
-- Tipo de Objeto  : Procedimiento Almacenado    
--  Nombre Objeto  : spu_contraloria_ds3_bitacora    
--  Autor    : Jorge Molina <jorge.molina@nuevamasvida.cl>    
--  Fecha Creación  : 09-10-2020    
--  Descripción   : Registra tabla ds3_bitacora a semejanza del    
-- |      sp spu_contral_compin_bitacora_insert.    
-- Sistema utilizante : Sistema de Contraloría Médica                   
-- Pantalla o Informe : Bandejas Reclamos ds3    
--      
--  Modificado por  :    
--  Fecha Modificación :    
--  Descripción   :    
--=======================================================================    
    
    
    
ALTER PROCEDURE [dbo].[spu_contraloria_ds3_bitacora]    
@LIC_CORREL  NUMERIC(10)  
, @DS3_CORREL  int  
, @ESTADO int  
, @OBSERVACION VARCHAR(200) = NULL     
, @USU_LOGIN AS CHAR(30) = NULL    
, @FECEVE DATETIME = NULL
, @CODEVENTO NUMERIC(2) = NULL

AS    
BEGIN     
 SET NOCOUNT ON;    
    
 DECLARE @GETDATE DATETIME     
 DECLARE @BDS_CORREL NUMERIC(10)    
    
 BEGIN TRY    
    
   SET @GETDATE = GETDATE()    
    
   -- Sacar correlativo de BITACORA_DS3    
   CREATE TABLE #TMP_BITACORA_DS3 (BDS_CORREL NUMERIC(10))    
        
   INSERT INTO #TMP_BITACORA_DS3    
   EXEC DBO.SPU_NUEVO_FOLIO 'BITACORA_DS3'    
        
   SELECT TOP 1 @BDS_CORREL = BDS_CORREL FROM #TMP_BITACORA_DS3    
        
   IF @BDS_CORREL <> 0 AND @BDS_CORREL IS NOT NULL    
   BEGIN    
    
     -- INSERT BITACORA_DS3    
     INSERT INTO DBO.BITACORA_DS3 (    
         BDS_CORREL    
        , BDD_CODIGO    
        , LIC_CORREL      
        , DS3_CORREL    
        , BDS_DETALLE    
        , USU_LOGIN_REG    
        , BDS_FECHA_REG    
		, BDS_FECEVE 
		, BDS_CODEVENTO 	  
        )    
     VALUES ( @BDS_CORREL    
        , @ESTADO       
        , @LIC_CORREL      
        , @DS3_CORREL    
        , @OBSERVACION      
        , @USU_LOGIN    
        , @GETDATE    
        --, SYSTEM_USER    
        --, @GETDATE
		, @FECEVE
		, @CODEVENTO	    
       )    
   END    
    
 END TRY    
    
 BEGIN CATCH    
    
   ROLLBACK TRAN COMPIN    
 END CATCH     
    
END