USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_lme_carga_contraloria]    Script Date: 29-11-2024 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================================================ */
/* TIPO DE OBJETO   : Procedimiento Almacenado													*/
/* NOMBRE DEL OBJETO: spu_lme_carga_contraloria													*/
/* CREADO POR       : Jorge Molina <jmolina@infovida.cl>										*/
/* FECHA CREACIÓN   : 08/05/2013																*/
/* Sistema utilizante : Sistema de Contraloría Médica											*/
/* DESCRIPCIÓN      : (PARTE 1/2) Procedimiento que recupera un listado de lme no cargadas para */
/*                   cargarlas a la tabla licencia_contraloria.									*/
/*					: (PARTE 2/2) Procedimiento spu_lme_carga_contraloria_insertar				*/	
/* ============================================================================================ */
-- Modificación	: Marco Gonzalez
-- Fecha        : 22/03/2022                                                               
-- Descripción  : cargan también las licencias "lic_hibrida=S'
-- ======================================================================== 
-- Modificación	: Marco Gonzalez
-- Fecha        : 10/08/2022                                                               
-- Descripción  : Se corrige lógica para buscar contrato vigente y se acrualiza el con_folio
--				y la agencia antes de traspasar
-- ======================================================================== 

ALTER PROCEDURE [dbo].[spu_lme_carga_contraloria]
AS

BEGIN

	SET NOCOUNT ON;
	
	-- Variables para la tabla licencia_contraloria 65 variables __________
	DECLARE @LIC_CORREL numeric(10),
	@LIC_FOLIO numeric(10),
	@LIC_COLOR numeric(1),
	@LIC_OPERADOR numeric(2)
	-- Variables para la tabla licencia_contraloria 65 variables __________
	
	declare @DV_LICENCIA char(1)
    declare @Error_mensaje_err nvarchar(4000)
    declare @Error_message NVARCHAR(4000)
    declare @Error_severity int
    declare @Error_state int
    declare @Error_procedure varchar(250)
    declare @fecha_hoy datetime

	declare @CON_FOLIO numeric(10), @CON_FOLIO_2 numeric(10)
	declare @AGE_CODIGO numeric(5), @AGE_CODIGO_2 numeric(5)

    --set @fecha_hoy = CONVERT(DATETIME,  CONVERT(VARCHAR(10),  GETDATE(), 121), 121)
	set @fecha_hoy = dateadd(day, -1, getdate())

	-- DECLARAR CURSOR 
	DECLARE CUR1 CURSOR
	FOR 
		SELECT  LLC.ID_LICENCIA
		, LLC.DV_LICENCIA
		, LLC.ID_OPERADOR
		,LLC.CON_FOLIO
		,c.CON_FOLIO as CON_FOLIO_2
		,LLC.AGE_CODIGO
		,AGE_CODIGO_SUSCR AS AGE_CODIGO_2
		FROM dbo.LME_LICENCIA_CONTRALORIA LLC left join CONTRATO c on c.COT_RUT=llc.COT_RUT 
				and c.CON_INIVIG <=LLC.LIC_LDESDE 
				--and (c.CON_fINVIG >=LLC.LIC_Lhasta or c.CON_fInVIG is null)
				and (dateadd(month,1,c.CON_fINVIG) >LLC.LIC_Lhasta or c.CON_fInVIG is null)
		WHERE (LIC_ADSCRITO='S' or  lic_hibrida='S')
		AND (
			/*LIC_ESTADO=5 or*/ 
			LIC_ESTADO=3 
			or LIC_ESTADO=4						
			or (lic_estado = 5 and llc.lic_revisada = 'S')
			or (lic_estado = 5 and llc.lic_revisada <> 'S' and llc.lic_fecrecep < @fecha_hoy )
			)
			AND LIC_FECEstado>='20170501'
			and LLC.LIC_LDESDE>='20220701' --para no caragr antiguas
			and NOT EXISTS (SELECT * FROM dbo.LICENCIA_CONTRALORIA LC  WHERE LC.LIC_COLOR = LLC.LIC_COLOR AND LC.LIC_FOLIO = LLC.ID_LICENCIA AND LC.LIC_OPERADOR = LLC.ID_OPERADOR)
			and NOT EXISTS (SELECT * FROM dbo.lme_devolver ld  
							where ld.id_licencia = llc.id_licencia 
							and ld.dv_licencia = llc.dv_licencia 
							and (ld.lde_fh_devol > llc.lic_fecrecep) 
							and ld.lde_fecerror is null  )	/* 20121022 */	
			/*AND LLC.LIC_FECRECEP < @fecha_hoy*/
		--AND (LLC.AGE_CODIGO <> 9999			/* no licencias sin agencias */
		--AND LLC.CON_FOLIO IS NOT NULL		/* no licencias sin contrato */
		--ORDER BY     LLC.LIC_FECEstado	

	OPEN CUR1
	
	FETCH CUR1 INTO
	@LIC_FOLIO,	
	@DV_LICENCIA,
	@LIC_OPERADOR,
	@CON_FOLIO,
	@CON_FOLIO_2,
	@AGE_CODIGO,
	@AGE_CODIGO_2


	-- Bucle por cada registro del select principal
	WHILE (@@FETCH_STATUS = 0)  
	BEGIN --1  

		IF (@LIC_FOLIO IS NOT NULL) AND (@LIC_OPERADOR IS NOT NULL) AND (@DV_LICENCIA IS NOT NULL) AND (@CON_FOLIO_2 IS NOT NULL) AND (@AGE_CODIGO_2 IS NOT NULL) 
		BEGIN

			if @CON_FOLIO IS NULL or  @AGE_CODIGO IS NULL						
				UPDATE LME_LICENCIA_CONTRALORIA
				SET CON_FOLIO=@CON_FOLIO_2
					, AGE_CODIGO=@AGE_CODIGO_2
				WHERE ID_LICENCIA=@LIC_FOLIO AND DV_LICENCIA=@DV_LICENCIA AND ID_OPERADOR= @LIC_OPERADOR
					and (CON_FOLIO IS NULL or AGE_CODIGO IS NULL )

			-- Llamada al procedimiento de carga 
			BEGIN TRY
				EXEC spu_lme_carga_contraloria_insertar @LIC_FOLIO, @DV_LICENCIA, @LIC_OPERADOR
			END TRY

			BEGIN CATCH
				SELECT @Error_message = ERROR_MESSAGE()
						, @Error_severity = ERROR_SEVERITY()
						, @Error_state = ERROR_STATE()

				--RAISERROR (@Error_mensaje_err, @Error_severity, @Error_state)
				--ROLLBACK
				--RETURN -1		
			END CATCH			

		END

		FETCH CUR1 INTO
		@LIC_FOLIO,
		@DV_LICENCIA,
		@LIC_OPERADOR,
		@CON_FOLIO,
		@CON_FOLIO_2,
		@AGE_CODIGO,
		@AGE_CODIGO_2

	END --1

	CLOSE cur1  
	DEALLOCATE cur1 	

END
