USE [AGENCIAS]
GO
/****** Object:  StoredProcedure [dbo].[spu_cuponpago_predeuda_genera]    Script Date: 29-10-2025 16:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--//SISTEMA PAGO WEB//
/* ======================================================================================== */
/* TIPO DE OBJETO     : Procedimiento Almacenado                                            */
/*                                                                                          */
/* NOMBRE DEL OBJETO  : spu_cuponpago_predeuda_genera										*/
/*                                                                                          */
/* PARAMETROS         : @proceso: Correlativo de creacion masiva de cupones de pago			*/
/* RETORNO            :																		*/
/* CREADO POR         : Claudia Lizama Barra <claudia.lizama@nuevamasvida.cl>               */
/* FECHA CREACIÓN     : 22/03/2021	                                                        */
/* DESCRIPCIÓN        : Procesa deudas de un proceso que se traducen en Planillas de Pago 	*/
/*						de Cotizaciones, las cuales son creadas en PLANILLA_PAGO_COTIZ.		*/
/*						Luego dichas planillas son incluidas en la creación de Cupones de	*/
/*						Pago asociados a cada rut.											*/
/* ======================================================================================== */
ALTER PROCEDURE [dbo].[spu_cuponpago_predeuda_genera] (@proceso numeric(8))
AS
BEGIN
	set nocount on;

	DECLARE @cup_correl NUMERIC(15), @FECHA_HOY DATETIME
	DECLARE @honorarios NUMERIC(10), @rut_cup CHAR(10), @nombre_cup varchar(200)
	DECLARE @ppc_folio NUMERIC(10), @epa_rut CHAR(10), @periodo DATETIME, @monto_total NUMERIC(10)
	DECLARE @epa_correl NUMERIC(2), @epa_razon varchar(200), @opa_codigo NUMERIC(1)	
	DECLARE @reajuste NUMERIC(15), @interes NUMERIC(15), @recargo NUMERIC(15), @reajuste_d NUMERIC(15), @interes_d NUMERIC(15), @recargo_d NUMERIC(15)
	DECLARE @ppc_total NUMERIC(15), @ppc_subtotal NUMERIC(15), @cotiz_deuda NUMERIC(15), @tot_cotiz NUMERIC(15)

	DECLARE @monto_cotiz char(10), @fec_proceso DATETIME, @fec_vencimiento DATETIME
	DECLARE @afecto_cob char(1), @link varchar(500), @texto_error varchar(500)

	SET @FECHA_HOY = cast(CONVERT(varchar(8), GETDATE(), 112) as datetime)

    IF (OBJECT_ID('TEMPDB..#PLANILLAS') IS NOT NULL)
		DROP TABLE #PLANILLAS
		create table #PLANILLAS 
		(epa_rut char(10), periodo datetime, monto_cotiz numeric(15), reajuste numeric(15), interes numeric(15), recargo numeric(15),
		 reajuste_d numeric(15), interes_d numeric(15), recargo_d numeric(15), folio numeric(15), afecto_cob char(1), nombre_cup varchar(200))

	IF (OBJECT_ID('TEMPDB..#CORREL') IS NOT NULL)
			DROP TABLE #correl
			CREATE TABLE #correl (correl numeric(15))

	IF (OBJECT_ID('TEMPDB..#VALIDA_COB') IS NOT NULL)
			DROP TABLE #VALIDA_COB
			CREATE TABLE #VALIDA_COB (SN char(1))

	IF (OBJECT_ID('TEMPDB..#TOT_COBRANZA') IS NOT NULL)
			DROP TABLE #tot_cobranza
			CREATE TABLE #tot_cobranza (tot numeric(10))

	--OBTIENE FECHA DEL PROCESO
	SELECT @fec_proceso = PMC_FECHA
	FROM PM_CUPONPAGO with (NOLOCK)
	WHERE PMC_CORREL = @proceso

	insert into #PLANILLAS (epa_rut, periodo, monto_cotiz, reajuste, interes, recargo, reajuste_d, interes_d, recargo_d, folio, afecto_cob, nombre_cup)
	SELECT PMC_RUT, PMC_PERIODO, PMC_MONTO, COALESCE(PMC_REA,0), COALESCE(PMC_INT,0), COALESCE(PMC_REC,0), 
			COALESCE(PMC_REA_D,0), COALESCE(PMC_INT_D,0), COALESCE(PMC_REC_D,0), 0, '', ''
	FROM PM_CUPONPAGO_DET with (NOLOCK)
	WHERE PMC_CORREL = @proceso
	ORDER BY PMC_RUT, PMC_PERIODO

	---------------------------RUTS A PROCESAR----------------------------------
	declare cur_planillas cursor for
	SELECT epa_rut, periodo, monto_cotiz, reajuste, interes, recargo, reajuste_d, interes_d, recargo_d
	from #PLANILLAS
	WHERE monto_cotiz>0

	open cur_planillas

	FETCH NEXT FROM cur_planillas
	INTO @epa_rut, @periodo, @cotiz_deuda, @reajuste, @interes, @recargo, @reajuste_d, @interes_d, @recargo_d

	SET @rut_cup = @epa_rut

	--PROCESAR RUTS Y CREAR PLANILLAS
	WHILE @@FETCH_STATUS = 0
	BEGIN
			--GENERAR FOLIO PLANILLA
			INSERT INTO #correl
				EXEC spu_nuevo_correl 'PPC', 0
		
			SELECT @ppc_folio = correl from #correl

			IF (@@error <> 0) OR (@ppc_folio=0) OR (@ppc_folio IS NULL)	
				BEGIN
					RAISERROR ('Error: No fue posible obtener un número de FOLIO de PLANILLA.', 16, 1)
					ROLLBACK
					RETURN -1               
				END	
			
			--SUMATORIAS:
			SET @ppc_subtotal = @cotiz_deuda + @reajuste + @interes + @recargo 
			SET @ppc_total = @ppc_subtotal - ( @interes_d + @reajuste_d + @recargo_d )

			--OBTENER correl de entidad pagadora 
			SELECT @epa_correl = EP.EPA_CORREL, 
				   @epa_razon = EP.EPA_RAZON
			FROM ENTIDAD_PAGADORA EP with (NOLOCK)
			WHERE EP.EPA_RUT = @epa_rut
				AND EP.EPA_CORREL = (SELECT MAX(E.EPA_CORREL) FROM ENTIDAD_PAGADORA E with (NOLOCK) WHERE E.EPA_RUT = EP.EPA_RUT)

			IF @epa_correl IS NULL
			BEGIN
				SET @epa_correl = 1

				SELECT @epa_razon = COALESCE(RTRIM(COT_NOMBRES),'')+' '+COALESCE(RTRIM(COT_PATERNO),'')+' '+COALESCE(RTRIM(COT_MATERNO),'')
				FROM COTIZANTE with (NOLOCK) 
				WHERE COT_RUT = @epa_rut

				--INSERTAR ENTIDAD PAGADORA
				INSERT INTO ENTIDAD_PAGADORA
				(EPA_RUT, EPA_CORREL, EPA_RAZON)
				VALUES (@epa_rut, @epa_correl, @epa_razon)
			END

			--OBTENER OPORTUNIDAD DE PAGO
			select @fec_vencimiento = VPC_VENCIMIENTO
			FROM EVOLUTION.ISAPRE.dbo.VENCIM_PAGO_COTIZACION WITH (NOLOCK)			--EVOLUTION.   PARA PRODUCCION
			where VPC_PERIODO = @periodo		--PERIODO PLANILLA

			IF @fec_proceso > @fec_vencimiento
				SET @opa_codigo=2 	--Pago Atrasado
			ELSE IF @fec_proceso < convert(char(6),@fec_vencimiento,112) + '01'
				SET @opa_codigo=3 	--Pago Adelantado
			ELSE
				SET @opa_codigo=1 	--Pago Normal

			--CAMPOS SIN DATOS: DEC_CORREL, PPC_OPCIONPAGO, PPC_FOLIO_OPCIONAL, PPC_USUIMP, PPC_FECHAIMP
			
			UPDATE #PLANILLAS
				SET folio = @ppc_folio,			--ACTUALIZA FOLIO DE LA PLANILLA
					nombre_cup = @epa_razon		--ACTUALIZA NOMBRE DE ENTIDAD PAGADORA
				WHERE periodo = @periodo
					AND epa_rut = @epa_rut

			--VERIFICAR SI PERIODO ESTA AFECTO A HONORARIOS DE COBRANZA
			DELETE FROM #VALIDA_COB
               insert INTO #VALIDA_COB 
               EXEC dbo.spu_caja_valida_honorarios_a_cobrar @epa_rut, @periodo
               
				--OBTENER RESPUESTA
			    select top 1 @afecto_cob = SN from #VALIDA_COB

				--PERIODOS AFECTOS QUEDAN MARCADOS afecto_cob = 'S' 
			    IF @afecto_cob = 'S'
					UPDATE #PLANILLAS
					SET afecto_cob = 'S' 
					WHERE periodo = @periodo	
						AND epa_rut = @epa_rut	
			
			--SIGUIENTE RUT-PERIODO	
			FETCH NEXT FROM cur_planillas
			INTO @epa_rut, @periodo, @cotiz_deuda, @reajuste, @interes, @recargo, @reajuste_d, @interes_d, @recargo_d
			
			--CAMBIA DE RUT: CREA CUPON PARA @rut_cup
			IF @rut_cup <> @epa_rut OR @@FETCH_STATUS <> 0	
			BEGIN 
						 
						--TOTAL DE PLANILLAS AFECTAS A HONORARIOS
						SELECT @tot_cotiz = SUM(monto_cotiz)
						FROM #PLANILLAS
						WHERE afecto_cob = 'S' 
							AND epa_rut = @rut_cup

						--OBTENER @honorarios para periodos afectos
						DELETE FROM #tot_cobranza
							insert INTO #tot_cobranza 
							EXEC dbo.spu_honorario_cobranza @tot_cotiz
               
						--OBTENER MONTO
						select top 1 @honorarios = tot from #tot_cobranza

						--GENERAR CORRELATIVO CUPON
						DELETE FROM #correl

						INSERT INTO #correl
							EXEC EVOLUTION.ISAPRE.dbo.spu_nuevo_correl 'CUPONPAGO_COTIZ'		--EVOLUTION.ISAPRE		PARA PRODUCCION

							SELECT @cup_correl = correl from #correl

							IF (@@error <> 0) OR (@cup_correl=0) OR (@cup_correl IS NULL)	
							BEGIN
								RAISERROR ('Error: No fue posible obtener un número CORRELATIVO DEL CUPON DE PAGO.', 16, 1)
								ROLLBACK
								RETURN -1               
							END	
						
						--RECUPERAR NOMBRE ENTIDAD PAGADORA
						SELECT TOP 1 @nombre_cup = nombre_cup FROM #PLANILLAS WHERE epa_rut = @rut_cup

						IF @nombre_cup is null	
							BEGIN
								set @texto_error='No es posible obtener el nombre para el RUT '+@rut_cup+'. Asegúrese de que cortresponde a un cotizante o empleador registrado en la Isapre.'
								RAISERROR (@texto_error, 16, 1)
								ROLLBACK
								RETURN -1               
							END	

						--CREAR REGISTROS DE CUPON DE PAGO
						INSERT INTO CUPONPAGO_COTIZ 
							(CUP_CORREL, USU_LOGIN, CUP_FECHAREG, DDR_RUT, DDR_NOMBRE, CUP_FECHAPAGO, CUP_FOLIOPAGO, CUP_HONORARIOS_COB, ROI_FOLIO)
						VALUES 
							(@cup_correl, 
							 'SYSTEM',	--LOGIN DE '        28'
							 @FECHA_HOY, 
							 @rut_cup, 
							 @nombre_cup, 
							 NULL, 
							 NULL,  
							 @honorarios,
							 NULL )	

						--CREAR REGISTROS PLANILLAS DEL CUPON DE PAGO
						INSERT INTO CUPONPAGO_COTIZ_DETALLE 
							(CUP_CORREL, PPC_FOLIO)
						SELECT @cup_correl, folio 
						FROM #PLANILLAS
						WHERE epa_rut = @rut_cup

						--OBTIENE ENLACE DEL CUPON
						--select @link = 'https://apps.nuevamasvida.cl/App_Portal_Pago/?ID=' + CONVERT(VARCHAR(MAX), DBO.F_CONEX_ENCRIP(@cup_correl),1)
						select @link = 'https://pcotiz.nuevamasvida.cl/?ID=' + CONVERT(VARCHAR(MAX), DBO.F_CONEX_ENCRIP(@cup_correl),1)
						

						--ACTUALIZAR PPC_FOLIO EN TABLA PM_CUPONPAGO_DET TODAS LAS PLANILLAS GENERADAS PARA EL RUT
						UPDATE PM_CUPONPAGO_DET
						SET PM_CUPONPAGO_DET.PPC_FOLIO = #PLANILLAS.FOLIO,
							PM_CUPONPAGO_DET.PMC_LINK = @link
						FROM #PLANILLAS
						WHERE PM_CUPONPAGO_DET.PMC_RUT = #PLANILLAS.EPA_RUT
							AND PM_CUPONPAGO_DET.PMC_PERIODO = #PLANILLAS.PERIODO
							AND PM_CUPONPAGO_DET.PMC_RUT = @rut_cup
							AND PM_CUPONPAGO_DET.PMC_CORREL = @proceso

			END		--FIN CREACION CUPON DE PAGO

			SET @rut_cup = @epa_rut
			
	END		
--------FIN RECORRIDO #PLANILLAS

	close cur_planillas
	deallocate cur_planillas

	SELECT 1
END	
