/* 
======================================================================================== 
 tipo de objeto		:	procedimiento almacenado                                        
 nombre del objeto	:	spu_ges_cob_contactdeu_listar                                                                                                     
 parametros			:	@rut = rut de cotizante, entidad pagadora o prestador.			                                                                                 
 creado por			:	jorge molina													
 fecha creación		:	12-2024                                                      
 descripción		:																						
========================================================================================
*/

/*
ctd_origen_val
background.color="536870912"  --blanco
background.color="67108864"

no puede borrar validaciones.         mmmmmmmmm
si la bd veia nulo, puede poner vo n , o dejarlo nulo nuevamente
boton eliminar solo filas nuevas no bd

select * from CONTACTO_DET_NEW_origen c order by cto_rut desc with (nolock)	where ( c.cto_rut = '  69846653' )

spu_ges_cob_contactdeu_listar '  69846653', 'direccion';
spu_ges_cob_contactdeu_listar '  69846653', 'fono';
spu_ges_cob_contactdeu_listar '  69846653', 'email';


SELECT * FROM CONTACTO_DET_NEW_origen
WHERE  ctd_tipo_val IS NOT NULL

update CONTACTO_DET_NEW_origen
set ctd_tipo_val = 'N'
where cto_rut = '  69846653'
and ctd_correl in (1810673, 1810674)



*/

ALTER procedure [dbo].[spu_ges_cob_contactdeu_listar] 
@rut char(10)
, @tipocontacto varchar(50)
as
BEGIN	
	set nocount on;

	declare @cto_rut  char(10)
	declare @ctd_correl numeric(10)
	declare @ctd_direccion varchar(250)
	declare @ctd_direccion_v2 varchar(250)
	declare @cmn_codigo numeric(4, 0)
	declare @ctd_email1 varchar(250)
	declare @ctd_email2 varchar(250)
	declare @ctd_fono1 varchar(50)
	declare @ctd_fono2 varchar(50)
	declare @usu_login  char(30)
	declare @ctd_fecreg datetime
	declare @ctd_origen varchar(200)
	declare @orden integer

	declare @clave numeric(10)
	declare @ctd_correl_new numeric(10)
	declare @ctd_fecreg_new datetime
	declare @concepto varchar(50)
	declare @cont integer
	declare @cto_rutx  char(10)
	declare @fecha_reg datetime
	set @fecha_reg = getdate()
	declare @i integer

	IF OBJECT_ID(N'tempdb..#contacto_det_paso', N'U') IS NOT NULL DROP TABLE #contacto_det_paso



	--Primera tabla traspaso: se insertaran todos los registros de los ORIGENES
	create table #contacto_det_paso
	(
		cto_rut char(10)  not null
		--, ctd_correl numeric(20) identity(1,1)
		, ctd_correl numeric(10) not null
		, tipo varchar(50) not null		--“fono”, “email” o “direccion” = @tipoContacto
		, valor varchar(500) not null
		, cmn_codigo numeric(4) null
		, cmn_nombre varchar(100) null
		, usu_login char(30)  null
		, ctd_fecreg datetime  null
		, ctd_origen varchar(50) null	
		, ctd_tipo_val char(1) null 
		, usu_login_val varchar(100) null 	
		, ctd_fecha_val datetime null
		, ctd_origen_val varchar(100) null
		, ctd_descrip_val varchar(500) null
		, orden integer null
		, fecha_reciente datetime  null
		, primary key (cto_rut, ctd_correl)
	)


	--BEGIN TRANSACTION; -- Inicia la transacción
 --   BEGIN TRY

			--ORIGENES ________________________________________
			--1.- ORIGEN: CONTRATO

			insert into #contacto_det_paso (
					cto_rut
					, ctd_correl
					, tipo --“fono”, “email” o “direccion” = @tipoContacto
					, valor
					, cmn_codigo
					, cmn_nombre
					, usu_login 
					, ctd_fecreg 
					, ctd_origen 	
					, ctd_tipo_val 
					, usu_login_val  	
					, ctd_fecha_val 
					, ctd_origen_val
					, ctd_descrip_val
					, orden
					, fecha_reciente
				)
			select cto_rut
				--, ctd_correl numeric(20) identity(1,1)
				, ctd_correl
				, @tipoContacto as tipo		--“fono”, “email” o “direccion” = @tipoContacto
				, case @tipoContacto when 'direccion' then ctd_direccion
									when 'email' then ctd_email1
									when 'fono' then ctd_fono1 end as valor
				, cmn_codigo
				, (select top 1 cc.cmn_nombre from dbo.comuna cc with (nolock) where cc.cmn_codigo = c.cmn_codigo ) as cmn_nombre
				, usu_login
				, ctd_fecreg
				, ctd_origen	
				, ctd_tipo_val
				, usu_login_val	
				, ctd_fecha_val
				, ctd_origen_val
				, ctd_descrip_val
				, 0 as orden
				, case when (ctd_fecreg > isnull(ctd_fecha_val, '19900101')) then ctd_fecreg
						else ctd_fecha_val end as fecha_reciente
			from dbo.CONTACTO_DET_NEW_origen c with (nolock)
			where cto_rut = @rut
			and (
				( @tipoContacto = 'direccion' and ctd_direccion is not null )
				or ( @tipoContacto = 'email' and ctd_email1 is not null )
				or ( @tipoContacto = 'fono' and ctd_fono1 is not null )
				)

			--SELECT @@ROWCOUNT AS TotalFilas;

			if @@ROWCOUNT > 1
			begin


				--Si dos fechas son iguales, listar primero el usuario <> ‘SYSTEM’ dependiendo de la fecha considerada en el punto anterior.
				update a
				set orden = 
						(
						case a.usu_login when 'SYSTEM' then  a.orden + 1
										else a.orden + 0
										end
						)

				from #contacto_det_paso as a
				join #contacto_det_paso as b
					on a.cto_rut = b.cto_rut
					and a.ctd_correl = b.ctd_correl

				--prioridad de origenes
				update a
				set orden = 
						(
						case a.ctd_origen when 'CONTRATO' then  a.orden + 6
										when 'ENTIDAD PAGADORA' then  a.orden + 5
										when 'NOTIFICACION ELECTRONICA' then  a.orden + 4
										when 'GESTION COBRANZA' then  a.orden + 3
										when 'LICENCIA' then a.orden + 2
										when 'CONVENIO' then a.orden + 1
										else a.orden + 0
										end
						)

				from #contacto_det_paso as a
				join #contacto_det_paso as b
					on a.cto_rut = b.cto_rut
					and a.ctd_correl = b.ctd_correl


				--prioridad CTD_TIPO_VAL
				update a
				set orden = 
						(
						case isnull(a.ctd_tipo_val, '-') when 'S' then  a.orden + 3
										when '-' then  a.orden + 2
										when 'N' then  a.orden + 1
										else a.orden + 0
										end
						)

				from #contacto_det_paso as a
				join #contacto_det_paso as b
					on a.cto_rut = b.cto_rut
					and a.ctd_correl = b.ctd_correl


			end


			--COMMIT; -- Confirma la transacción


			--select * from #contacto_det_paso order by orden desc, fecha_reciente desc
			if @tipocontacto = 'direccion'
			begin

				select cto_rut
					, ctd_correl
					, tipo		
					, valor
					, cmn_codigo
					, cmn_nombre
					, usu_login
					, ctd_fecreg
					, ctd_origen	
					, ctd_tipo_val
					, usu_login_val	
					, ctd_fecha_val
					, ctd_origen_val
					, ctd_descrip_val from 
					#contacto_det_paso order by isnull(ctd_tipo_val, 'S') desc, fecha_reciente desc, orden desc
			end
			else
			begin

				select cto_rut
					, ctd_correl
					, tipo		
					, valor
					, usu_login
					, ctd_fecreg
					, ctd_origen	
					, ctd_tipo_val
					, usu_login_val	
					, ctd_fecha_val
					, ctd_origen_val
					, ctd_descrip_val from 
					#contacto_det_paso order by isnull(ctd_tipo_val, 'S') desc, fecha_reciente desc, orden desc
			end
  --  END TRY

  --  BEGIN CATCH
  --      ROLLBACK; -- Revierte la transacción en caso de error

		---- Opcional: Capturar información del error
  --      DECLARE @ErrorMessage NVARCHAR(4000);
  --      DECLARE @ErrorSeverity INT;
  --      DECLARE @ErrorState INT;

  --      SELECT 
  --          @ErrorMessage = ERROR_MESSAGE(),
  --          @ErrorSeverity = ERROR_SEVERITY(),
  --          @ErrorState = ERROR_STATE();

  --  END CATCH


END




