USE [AGENCIAS]
GO
/****** Object:  StoredProcedure [dbo].[spu_cuponpago_genera_con_descto]    Script Date: 30-10-2025 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--//SISTEMA PAGO WEB//
/* ======================================================================================== */
/* TIPO DE OBJETO     : Procedimiento Almacenado                                            */
/*                                                                                          */
/* NOMBRE DEL OBJETO  : spu_cuponpago_genera_con_descto										*/
/*                                                                                          */
/* PARAMETROS         : @trama: compuesta por:									            */
/*						RUT: Rut de Entidad Pagadora										*/
/*						DATOS PLANILLAS:													*/
/*						Periodo, Oportunidad de Pago, Monto Cotizacion,	Dscto_MontoCot,		*/
/*						Reajuste, DsctoReajuste, Interes, DsctoInteres, Recargo,			*/
/*						DsctoRecargo.														*/
/* RETORNO            : ENLACE: Corresponde a ruta del Cupón de Pago						*/
/*																							*/
/* CREADO POR         : Alberto Rozas														*/
/* FECHA CREACIÓN     : 19/07/2021	                                                        */
/* DESCRIPCIÓN        : Procesa trama de períodos que se traducen en Planillas de Pago de	*/
/*						Cotizaciones, las cuales son creadas en PLANILLA_PAGO_COTIZ con sus	*/
/*						respectivos descuentos.												*/
/*																							*/
/* MODIFICADO POR     : Marcelo Sanhueza                                                    */
/* FECHA CREACIÓN     : 19/07/2021	                                                        */
/* DESCRIPCIÓN        : Agrega el usuario como parametro y cambia la salida para incluir el */
/*                      codigo del cupon cuando se envía un usuario	                        */
/*																							*/
/* MODIFICADO POR     : Marcelo Sanhueza                                                    */
/* FECHA CREACIÓN     : 13/05/2025	                                                        */
/* DESCRIPCIÓN        : Agrega el parámetro "@valida_lagunas" para indicar si debe validar  */
/*                      que no se dejen "lagunas" o periodo impagos antiguos en la deuda.   */
/* ======================================================================================== */
--EXEC spu_cuponpago_genera_con_descto ' 139352343|202401|2|144177|0|1187|0|10357|0|2071|0|202312|2|144398|0|1548|0|15761|0|3152|0|202311|2|0|0|0|0|0|0|0|0|'

ALTER PROCEDURE [dbo].[spu_cuponpago_genera_con_descto] @trama varchar(8000), @usuario varchar(100)=null, @hon_cob numeric(12)=null, @valida_lagunas char(1)=null
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @cup_correl			NUMERIC(15),
			@FECHA_HOY			DATETIME,
			@honorarios			NUMERIC(10),
			@ppc_folio			NUMERIC(10),
			@epa_rut			CHAR(10),
			@oportunidad		NUMERIC(1),
			@periodo			DATETIME,
			@monto_total		NUMERIC(10),
			@epa_correl			NUMERIC(2),
			@epa_razon			VARCHAR(200),
			@ppc_convig			CHAR(1),
			@opa_codigo			NUMERIC(1),
			@reajuste			NUMERIC(10),
			@interes			NUMERIC(10),
			@recargo			NUMERIC(10),
			@dcto_reajuste			NUMERIC(10),
			@dcto_interes			NUMERIC(10),
			@dcto_recargo			NUMERIC(10),
			@ppc_subtotal			NUMERIC(10),
			@ppc_total			NUMERIC(10),
			@cotiz_deuda		NUMERIC(10),
			@dcto_cotiz_deuda		NUMERIC(10),
			@tot_cotiz			NUMERIC(10),
			@trama2				VARCHAR(8000),
			@posini				INT,
			@posfind			INT,
			@largo				INT,
			@per_trama			CHAR(6),
			@opa_cod			CHAR(1),
			@monto_cotiz		CHAR(10),
			@descto_monto_cotiz	CHAR(10),
			@reaj				CHAR(10),
			@descto_reaj		CHAR(10),
			@int				CHAR(10),
			@descto_int			CHAR(10),
			@recar				CHAR(10),
			@descto_recar		CHAR(10),
			@afecto_cob			CHAR(1),
			@n					NUMERIC(10)

	SET @FECHA_HOY = CAST(CONVERT(varchar(8), GETDATE(), 112) AS DATETIME)




    IF (OBJECT_ID('TEMPDB..#PLANILLAS') IS NOT NULL)
		DROP TABLE #PLANILLAS
		CREATE TABLE	#PLANILLAS
						(
						periodo		CHAR(6),
						opa_cod		NUMERIC(1),
						monto_cotiz NUMERIC(10),
						reajuste	NUMERIC(10),
						interes		NUMERIC(10),
						recargo		NUMERIC(10),
						dcto_cotiz NUMERIC(10),
						dcto_reajuste	NUMERIC(10),
						dcto_interes		NUMERIC(10),
						dcto_recargo		NUMERIC(10),
						folio		NUMERIC(10),
						afecto_cob	CHAR(1)
						)
		
	IF (OBJECT_ID('TEMPDB..#CORREL') IS NOT NULL)
			DROP TABLE #correl
			CREATE TABLE #correl (correl NUMERIC(15))

	IF (OBJECT_ID('TEMPDB..#VALIDA_COB') IS NOT NULL)
			DROP TABLE #VALIDA_COB
			CREATE TABLE #VALIDA_COB (SN CHAR(1))

	IF (OBJECT_ID('TEMPDB..#TOT_COBRANZA') IS NOT NULL)
			DROP TABLE #tot_cobranza
			CREATE TABLE #tot_cobranza (tot NUMERIC(10))
			
	---------------------------TRAMA--------------------------------
	set @trama2 = LTRIM(RTRIM(@trama))

	IF right(@trama2, 1) <> '|' 
		set @trama2 = @trama2 + '|' 

	select @posini = 1
	select @posfind = CHARINDEX('|', @trama2, @posini)
	select @largo = @posfind -  @posini
	select @epa_rut = substring(@trama2, @posini, @largo )
	select @epa_rut = right(REPLICATE(' ',9)+ substring(@epa_rut,1,LEN(@epa_rut)-1),9)+ substring(@epa_rut,LEN(@epa_rut),1)
 
 	select @posini = @posfind + 1
	select @posfind = CHARINDEX('|', @trama2, @posini)
	
	WHILE @posfind > 0
	BEGIN
		SET @largo = @posfind -  @posini
		SET @per_trama = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @opa_cod = SUBSTRING(@trama2, @posini, @largo)		

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @monto_cotiz = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @descto_monto_cotiz = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @reaj = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @descto_reaj = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @int = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @descto_int = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @recar = SUBSTRING(@trama2, @posini, @largo)

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
		SET @largo = @posfind -  @posini
		SET @descto_recar = SUBSTRING(@trama2, @posini, @largo)


		INSERT INTO #PLANILLAS (periodo, opa_cod, monto_cotiz, reajuste, interes, recargo, dcto_cotiz, dcto_reajuste, dcto_interes, dcto_recargo, folio, afecto_cob)
		SELECT @per_trama, @opa_cod, @monto_cotiz, @reaj, @int, @recar, @descto_monto_cotiz, @descto_reaj, @descto_int, @descto_recar, 0, ''  where @monto_cotiz>0

		SET @posini = @posfind + 1
		SET @posfind = CHARINDEX('|', @trama2, @posini)
	END

	--SELECT * FROM #PLANILLAS	
	
	----------------------------------------------------------------------------------------------------------------
	----------------- Valida lagunas de deda si está indicado por el parámetro @valida_lagunas
	----------------------------------------------------------------------------------------------------------------
	IF upper(coalesce(@valida_lagunas,'N'))='S'
	BEGIN
		--Obtiene los distintos periodos adeudados de responsabilidad del afiliado
		SELECT DEC_PERIODO 
		INTO #periodos_deuda
		FROM EVOLUTION.ISAPRE.DBO.DEUDA_COTIZANTE  AS DEUDA_COTIZANTE
		WHERE DEUDA_COTIZANTE.DEC_RUT = @epa_rut  
			and (CASE
						WHEN ( (DEUDA_COTIZANTE.EPA_RUT is NOT null and DEUDA_COTIZANTE.DEC_TIPO_COTIZANTE in ('I','V'/*,'P'*/)) or DEC_FINIQUITO='S') THEN DEUDA_COTIZANTE.COT_RUT
						WHEN (SELECT COUNT(*) FROM EVOLUTION.ISAPRE.DBO.DEUDA_COTIZANTE P3 (NOLOCK) WHERE P3.COT_RUT = DEUDA_COTIZANTE.COT_RUT AND P3.DEC_PERIODO = DEUDA_COTIZANTE.DEC_PERIODO AND P3.EPA_RUT IS NOT NULL) > 1 THEN ''
						ELSE COALESCE((SELECT MAX(P4.EPA_RUT) FROM EVOLUTION.ISAPRE.DBO.DEUDA_COTIZANTE P4 (NOLOCK) WHERE P4.COT_RUT = DEUDA_COTIZANTE.COT_RUT AND P4.DEC_PERIODO = DEUDA_COTIZANTE.DEC_PERIODO AND P4.EPA_RUT IS NOT NULL), DEUDA_COTIZANTE.COT_RUT)
					END )= @epa_rut 
			AND DEC_PACTADO > DEC_PAGADO

		--Busca lagunas desde el último periodo que va a pagar hacia atrás
		SELECT @n= COUNT(*)
		FROM #periodos_deuda
		WHERE DEC_PERIODO NOT IN (SELECT CONVERT(DATETIME,CONVERT(CHAR(6),PERIODO,112)+'01') FROM #PLANILLAS)
		AND DEC_PERIODO <= (SELECT MAX(CONVERT(DATETIME,CONVERT(CHAR(6),PERIODO,112)+'01')) FROM #PLANILLAS )

		IF (@n>0)	
			BEGIN				
				RAISERROR ('Error: No se permite dejar periodos antiguos de deuda impagos.', 16, 1)
				ROLLBACK
				RETURN -1               
			END	

	END

	---------------------------PLANILLAS----------------------------------
	--RECORRER #PLANILLAS
	declare cur_planillas cursor for
	select periodo, opa_cod, monto_cotiz, reajuste, interes, recargo, dcto_cotiz, dcto_reajuste, dcto_interes, dcto_recargo
	from #PLANILLAS
	WHERE monto_cotiz>0
	FOR UPDATE

	open cur_planillas

	FETCH NEXT FROM cur_planillas
	INTO @per_trama, @opa_cod, @monto_cotiz, @reaj, @int, @recar, @descto_monto_cotiz, @descto_reaj, @descto_int, @descto_recar

	--PROCESAR PLANILLAS
	WHILE @@FETCH_STATUS = 0
	BEGIN
			--GENERAR FOLIO PLANILLA
			INSERT INTO #correl
				EXEC spu_nuevo_correl 'PPC', 0
		
			SELECT @ppc_folio = correl from #correl


			IF (@@error <> 0) OR (@ppc_folio=0) OR (@ppc_folio IS NULL)	
				BEGIN
					
					RAISERROR ('Error: No fue posible obtener un número de FOLIO de PLANILLA.', 16, 1)
					ROLLBACK
					RETURN -1               
				END	
			
			--CREAR REGISTRO DE PLANILLAS
			SET @periodo = CONVERT(DATETIME,CONVERT(CHAR(6),@per_trama,112)+'01')  
			SET @opa_codigo= cast(@opa_cod as numeric(1)) 
			SET @cotiz_deuda = coalesce(cast(@monto_cotiz as numeric(10)),0)
			SET @reajuste = coalesce(cast(@reaj as numeric(10)),0)
			SET @interes = coalesce(cast(@int as numeric(10)),0)
			SET @recargo = coalesce(cast(@recar as numeric(10)),0)
			SET @ppc_subtotal = @cotiz_deuda + @reajuste + @interes + @recargo
			SET @dcto_cotiz_deuda = coalesce(cast(@descto_monto_cotiz as numeric(10)),0)
			SET @dcto_reajuste = coalesce(cast(@descto_reaj as numeric(10)),0)
			SET @dcto_interes = coalesce(cast(@descto_int as numeric(10)),0)
			SET @dcto_recargo = coalesce(cast(@descto_recar as numeric(10)),0)
			SET @ppc_total = @ppc_subtotal - @dcto_cotiz_deuda - @dcto_reajuste - @dcto_interes - @dcto_recargo

			--OBTENER correl de entidad pagadora 
			SELECT @epa_correl = EP.EPA_CORREL, 
				   @epa_razon = EP.EPA_RAZON
			FROM ENTIDAD_PAGADORA EP (NOLOCK)
			WHERE EP.EPA_RUT = @epa_rut
				AND EP.EPA_CORREL = (SELECT MAX(E.EPA_CORREL) FROM ENTIDAD_PAGADORA E (NOLOCK) WHERE E.EPA_RUT = EP.EPA_RUT)
	
			IF @epa_correl IS NULL
			BEGIN
				SET @epa_correl = 1

				SELECT @epa_razon = COALESCE(RTRIM(COT_NOMBRES),'')+' '+COALESCE(RTRIM(COT_PATERNO),'')+' '+COALESCE(RTRIM(COT_MATERNO),'')
				FROM EVOLUTION.ISAPRE.dbo.COTIZANTE (NOLOCK) 
				WHERE COT_RUT = @epa_rut

				--INSERTAR ENTIDAD PAGADORA
				INSERT INTO ENTIDAD_PAGADORA
				(EPA_RUT, EPA_CORREL, EPA_RAZON)
				VALUES (@epa_rut, @epa_correl, @epa_razon)
			END

			--CAMPOS SIN DATOS: DEC_CORREL, PPC_OPCIONPAGO, PPC_FOLIO_OPCIONAL, PPC_USUIMP, PPC_FECHAIMP
			
			UPDATE #PLANILLAS
				SET folio = @ppc_folio
				WHERE CURRENT  OF cur_planillas

			--VERIFICAR SI PERIODO ESTA AFECTO A HONORARIOS DE COBRANZA
			DELETE FROM #VALIDA_COB
               insert INTO #VALIDA_COB 
               EXEC dbo.spu_caja_valida_honorarios_a_cobrar @epa_rut, @periodo
               
				--OBTENER RESPUESTA
			    select top 1 @afecto_cob = SN from #VALIDA_COB

				--PERIODOS AFECTOS QUEDAN MARCADOS afecto_cob = 'S' 
			    IF @afecto_cob = 'S'
					UPDATE #PLANILLAS
					SET afecto_cob = 'S' 
					WHERE periodo = @per_trama
				
							
			--SIGUIENTE PLANILLA	
			FETCH NEXT FROM cur_planillas
			INTO @per_trama, @opa_cod, @monto_cotiz, @reaj, @int, @recar, @descto_monto_cotiz, @descto_reaj, @descto_int, @descto_recar

	END		
--------FIN RECORRIDO #PLANILLAS

	close cur_planillas
	deallocate cur_planillas

	-------------------------------------------------
	-- Desglosar montos de las planillas
	-------------------------------------------------
	update planilla_pago_cotiz 
	set PPC_IMPONIBLE= CASE 
		WHEN PPC_COTIZ_APAGAR <= ((parametros.par_valor * uf.uf_valor) )
			THEN ROUND(PPC_COTIZ_APAGAR / 0.07, 0)
		ELSE ROUND((parametros.par_valor * uf.uf_valor)  / 0.07, 0)
		END ,
	PPC_COTIZ_LEGAL= CASE 
		WHEN PPC_COTIZ_APAGAR <= ((parametros.par_valor * uf.uf_valor) )
			THEN ROUND(PPC_COTIZ_APAGAR, 0)
		ELSE ROUND((parametros.par_valor * uf.uf_valor) , 0)
		END,
	PPC_COTIZ_ADIC= CASE 
		WHEN PPC_COTIZ_APAGAR > ((parametros.par_valor * uf.uf_valor) )
			THEN ROUND((PPC_COTIZ_APAGAR - (parametros.par_valor * uf.uf_valor) ), 0)
		ELSE 0
		END
	FROM PLANILLA_PAGO_COTIZ  with (nolock)
		LEFT JOIN parametros  with (nolock) ON PLANILLA_PAGO_COTIZ.PPC_PERIODO >= parametros.par_inivig
				AND (
					PLANILLA_PAGO_COTIZ.PPC_PERIODO <= parametros.par_finvig
					OR parametros.par_finvig IS NULL
					)
				AND parametros.par_codigo = 'TLE'
		LEFT JOIN uf ON uf.uf_fecha = DATEADD(DAY, -1, DATEADD(MONTH, 1, PLANILLA_PAGO_COTIZ.PPC_PERIODO))
	where PLANILLA_PAGO_COTIZ.ppc_folio in (select folio from #PLANILLAS)
		and not exists (select * from PLANILLA_PAGO_COTIZ_DET with (nolock) where PLANILLA_PAGO_COTIZ_DET.PPC_FOLIO=PLANILLA_PAGO_COTIZ.PPC_FOLIO)


	--TOTAL DE PLANILLAS AFECTAS A HONORARIOS
	SELECT @tot_cotiz = SUM(monto_cotiz)
	FROM #PLANILLAS
	WHERE afecto_cob = 'S' 
	

	------------------------------------------------------------------------------------------------------------------------
	---- Manejo de lista de usuarios para los cuales se aplicará un % especial de descuentos
	------------------------------------------------------------------------------------------------------------------------
	IF @hon_cob >= 0
		SET @honorarios=@hon_cob
	ELSE IF @usuario in ('AVALDIVIA','IMATAMATA','PNAVARRETE','ASOTOLE','SCONTRERAS')
		SET @honorarios=0
	ELSE
		select @honorarios = dbo.f_honorario_cobranza_masivo(@tot_cotiz)

	------------------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------------------

	CREATE TABLE #cup_correl (folio_ini NUMERIC(15))

	INSERT INTO #cup_correl EXEC spu_nuevo_correl 'CUP', 0
		
	SELECT @cup_correl = folio_ini FROM #cup_correl

	--CREAR REGISTROS DE CUPON DE PAGO
	INSERT INTO CUPONPAGO_COTIZ 
		(CUP_CORREL, USU_LOGIN, CUP_FECHAREG, DDR_RUT, DDR_NOMBRE, CUP_FECHAPAGO, CUP_FOLIOPAGO, CUP_HONORARIOS_COB, ROI_FOLIO)
	VALUES 
		(@cup_correl, 
		 COALESCE(@usuario,'SYSTEM'),	--LOGIN DE '        28'
		 @FECHA_HOY, 
		 @epa_rut, 
		 @epa_razon, 
		 NULL, 
		 NULL, 
		 @honorarios,
		 NULL )	

	--CREAR REGISTROS PLANILLAS DEL CUPON DE PAGO
	INSERT INTO CUPONPAGO_COTIZ_DETALLE 
		(CUP_CORREL, PPC_FOLIO)
	SELECT @cup_correl, folio 
	FROM #PLANILLAS

	--GENERAR LINK CUPON DE PAGO
	if @usuario is null
		SELECT 'https://pcotiz.nuevamasvida.cl/?ID=' + CONVERT(VARCHAR(MAX), DBO.F_CONEX_ENCRIP(@cup_correl),1)  as ENLACE--, @cup_correl as CUP_CORREL
	else
		SELECT 'https://pcotiz.nuevamasvida.cl/?ID=' + CONVERT(VARCHAR(MAX), DBO.F_CONEX_ENCRIP(@cup_correl),1)  as ENLACE, @cup_correl as CUP_CORREL

--	SELECT 'http://150.10.10.110/App_Portal_Pago/?ID=' + CONVERT(VARCHAR(MAX), DBO.F_CONEX_ENCRIP(@cup_correl),1) as ENLACE

END	


-- EXEC spu_cuponpago_genera '183399004|201504|1|32181|4874|59375|11875|201505|2|32376|4173|57429|11486|'
