USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_contraloria_ds3_asig_usuario]    Script Date: 14-11-2024 20:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--=======================================================================  
-- Tipo de Objeto  : Procedimiento Almacenado  
--  Nombre Objeto  : spu_contraloria_ds3_asig_usuario  
--  Parámetros   :    
--  Autor    : Jorge Molina <jorge.molina@nuevamasvida.cl>  
--  Fecha Creación  : 09-10-2020  
--  Descripción   :   asigna usuario ds3 en licencia_contraloria   
--    
--  Modificado por  :  Jorge Molina <jorge.molina@nuevamasvida.cl>
--  Fecha Modificación : 13-12-2022 
--  Descripción   : Corrección y optimización asignación de usuario ds3
--=======================================================================  
  
ALTER PROCEDURE [dbo].[spu_contraloria_ds3_asig_usuario]  
@LIC_CORREL NUMERIC(10)   
, @DS3_CORREL NUMERIC(2)   
AS  
BEGIN   
 SET NOCOUNT ON;  
  
 DECLARE @PER_CODIGO VARCHAR(30)  
 DECLARE @CAD_OPCION VARCHAR(50)  
 DECLARE @LIC_USU_ASIG_DS3_ULT varchar(30)  
 DECLARE @LIC_USU_ASIG_DS3 varchar(30)  
 DECLARE @GETDATE DATETIME   
 DECLARE @BDS_CORREL NUMERIC(10)  
  
 BEGIN TRY  

		SET @CAD_OPCION ='DS3_VISTO_BUENO'    --NUEVO CONCEPTO DE ASIGNACION  

		-- 1.- LISTADO DE USUARIOS DESTINO ASIGNADOS VIGENTES
		-- SE OPTIMIZA PREGUNTANDO SI HAY REGISTROS

		SELECT C.USU_LOGIN AS USU_LOGIN  
		--, IDENTITY(NUMERIC(10), 1,1) CLAVE_USU  
		INTO #USUARIO_ASIGNADOS  
		FROM DBO.CONTRALORIA_ASIG_USUARIO C WITH (NOLOCK)  
		LEFT JOIN DBO.USUARIO U  WITH (NOLOCK)   
		ON C.USU_LOGIN = U.USU_LOGIN  
		WHERE C.CAD_OPCION = 'DS3_VISTO_BUENO' --@CAD_OPCION  
		--AND ( C.USU_LOGIN <> @LIC_USU_ASIG_DS3_ULT OR @LIC_USU_ASIG_DS3_ULT IS NULL OR @LIC_USU_ASIG_DS3_ULT = '' )  
		AND C.CAU_DISPONIBLE = 'S'  
		AND C.CAU_INIVIG <= GETDATE()  
		AND (C.CAU_FINVIG >= CONVERT(DATETIME,  CONVERT(VARCHAR(10), GETDATE(), 121), 121) OR C.CAU_FINVIG IS NULL )  
		AND U.USU_INIVIG <= GETDATE()  
		AND (U.USU_FINVIG >= CONVERT(DATETIME,  CONVERT(VARCHAR(10), GETDATE(), 121), 121) OR U.USU_FINVIG IS NULL )  
		--AND 1= 2

		-- SOLO SI EXISTE USUARIOS EN LA LISTA
		IF @@ROWCOUNT > 0  
		BEGIN
				-- 2.- BUSCAR EL ULT USUARIO ASIG A UNA LICENCIA.  
				SELECT TOP 1 @LIC_USU_ASIG_DS3_ULT = LIR_USU_ASIG  
				FROM LICENCIA_RECLAMO WITH (NOLOCK)  
				WHERE LIR_FEC_ASIG IS NOT NULL  
				ORDER BY LIR_FEC_ASIG DESC  

				-- 3.- SE BUSCA EL SIGUIENTE USUARIO PARA ASIGNAR DEL LISTADO 
				SELECT TOP 1 @LIC_USU_ASIG_DS3 = USU_LOGIN  
				FROM  #USUARIO_ASIGNADOS  
				WHERE USU_LOGIN > @LIC_USU_ASIG_DS3_ULT  
				ORDER BY USU_LOGIN 
				
				IF @@ROWCOUNT = 0  
				BEGIN  
						-- 4.- SI NO ENCUENTRA EL SIGUIENTE USARA UNO DE LA LISTA.
						SELECT TOP 1 @LIC_USU_ASIG_DS3 = USU_LOGIN  
						FROM  #USUARIO_ASIGNADOS  
						ORDER BY USU_LOGIN  
				END  

				IF @LIC_USU_ASIG_DS3 IS NOT NULL AND @LIC_USU_ASIG_DS3 <> ''
				BEGIN
						UPDATE LICENCIA_RECLAMO  
							SET LIR_USU_ASIG = @LIC_USU_ASIG_DS3  
							, LIR_FEC_ASIG = GETDATE() 
						WHERE LIC_CORREL = @LIC_CORREL  
						AND DS3_CORREL = @DS3_CORREL  
				END

		END

END TRY  
  
BEGIN CATCH  
  --SELECT ERROR_LINE() AS ErrorLine,  
  --ERROR_MESSAGE() AS ErrorMessage  

END CATCH   
  
END  
  
