/*
   lunes, 29 de diciembre de 202517:57:54
   Usuario: JMOLINA
   Servidor: 150.10.11.55
   Base de datos: ISAPRE
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DEUDOR ADD
	DDR_QUIEBRA char(1) NULL,
	DDR_MEDIATICA char(1) NULL
GO
ALTER TABLE dbo.DEUDOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
