USE [ISAPRE]
GO
/****** Object:  StoredProcedure [dbo].[spu_lme_carga_contraloria_insertar]    Script Date: 29-11-2024 17:15:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================================ 
-- SISTEMA			: CONTRALORIA
-- TIPO DE OBJETO   : Procedimiento Almacenado                                                   
-- NOMBRE DEL OBJETO: spu_lme_carga_contraloria_insertar                                        
-- PARAMETROS       : @LIC_FOLIO (folio licencia lme), @DV_LICENCIA (digito verif)              
--                    : @LIC_OPERADOR (operador licencia lme)                                   
-- CREADO POR       : Jorge Molina <jmolina@infovida.cl>                                        
-- FECHA CREACIÓN   : 08/05/2013                                                                
-- DESCRIPCIÓN      : (PARTE 2/2)Procedimiento que carga una lme en tabla licencia_contraloria. 
--                    : (PARTE 1/2) Procedimiento spu_lme_carga_contraloria                     
--                                                                                              
-- MODIFICACION     : Jorge Molina <jmolina@infovida.cl>                                        
-- FECHA            : 11/06/2013                                                                
-- DESCRIPCIÓN      : En la insercion en el campo LIC_FECDIGITADO = GETDATE() y                 
--                      USU_LOGIN = CONVERT(VARCHAR(50), SYSTEM_USER)                           
--                                                                                              
-- MODIFICACION     : Marco González                                    
-- FECHA            : 05/12/2014                                        
-- DESCRIPCIÓN      : Incorporación de las columnas:                    
--                        LIC_EPA_RAZON, LIC_COT_NOMBRES, LIC_COT_PATERNO, LIC_COT_MATERNO, 
--                        LIC_PFS_NOMBRES, LIC_PFS_PATERNO, LIC_PFS_MATERNO, LIC_PFS_RCM                        

-- MODIFICACION     : Marco González                                    
-- FECHA            : 09/12/2014                                        
-- DESCRIPCIÓN      : Corrección en copia de columnas:                    
--                        LIC_COT_NOMBRES, LIC_COT_PATERNO, LIC_COT_MATERNO, 
--                        LIC_PFS_NOMBRES, LIC_PFS_PATERNO, LIC_PFS_MATERNO

-- MODIFICACION     : Marco González                                    
-- FECHA            : 01/10/2015                                        
-- DESCRIPCIÓN      : Corrección por duplicidad de resultado del select por no incluir el operador
--					en el join con tabla LME_ZONA_A

-- MODIFICACION     : Jorge Molina                                     
-- FECHA            : 10/05/2016                                        
-- DESCRIPCIÓN      : Incorporación de las columnas: , LIC_IMPCOTIZ, LIC_AFC  

-- COMPATIBLE SQL 2008 Y USO DE WITH (NOLOCK)

-- MODIFICACION     : Adolfo Horstmeier                                    
-- FECHA            : 15/12/2017                                        
-- DESCRIPCIÓN      : Incorporación de las columnas: , LIC_DIRCONTRATO, CMN_CODIGO_CONTRATO

-- MODIFICACION     : Adolfo Horstmeier                                    
-- FECHA            : 04/01/2018                                        
-- DESCRIPCIÓN      : Incorporación de las columnas: , LIC_PFS_COMUNA

-- MODIFICACION     : Marco González
-- FECHA            : 22/11/2018                                        
-- DESCRIPCIÓN      : Se llama a spu_contraloria_lm_invalidez para evaluar sospecha de invalidez

-- MODIFICACION     : Alberto Rozas
-- FECHA            : 08-10-2019
-- DESCRIPCIÓN      : Se agregan dos nuevas columnas: LIC_SOSPECHA_LABORAL y LIC_LABORAL_OBS
-- ============================================================================================ 
-- MODIFICACION     : Marco González
-- FECHA            : 19-06-2023
-- DESCRIPCIÓN      : Se agregan dos nuevas columnas: LIC_CANDIDATO	, LIC_AGENDADO	y LIC_REEVALUACION
-- ============================================================================================ 


ALTER PROCEDURE [dbo].[spu_lme_carga_contraloria_insertar] @LIC_FOLIO numeric(10), @DV_LICENCIA char(1), @LIC_OPERADOR numeric(2)
AS

BEGIN

    SET NOCOUNT ON;
    
    -- Variables para la tabla licencia_contraloria 65 variables __________
    DECLARE @LIC_CORREL numeric(10)
    declare @Error_mensaje_err nvarchar(4000)
    declare @Error_message NVARCHAR(4000)
    declare @Error_severity int
    declare @Error_state int
    declare @Error_procedure varchar(250)
    declare @fecha_hoy datetime

    --set @fecha_hoy = CONVERT(DATETIME,  CONVERT(VARCHAR(10),  GETDATE(), 121), 121)
    set @fecha_hoy = dateadd(day, -1, getdate())

    -- Sacar correlativo de licencia
    CREATE TABLE #TMP_LIC_CORREL (LIC_CORREL NUMERIC(10))
    
    INSERT INTO #TMP_LIC_CORREL
    EXEC DBO.SPU_NUEVO_FOLIO 'LICENCIA'
    
    SELECT TOP 1 @LIC_CORREL = LIC_CORREL FROM #TMP_LIC_CORREL
    
    IF @LIC_CORREL <> 0 AND @LIC_CORREL IS NOT NULL
    BEGIN    
        BEGIN TRY    
        -- Insertar tabla LICENCIA_CONTRALORIA
			INSERT INTO DBO.LICENCIA_CONTRALORIA
				(LIC_CORREL,
				LIC_FOLIO,
				LIC_COLOR,
				COT_RUT,
				CON_FOLIO,
				LIC_FECRECEP,
				AGE_CODIGO,
				LIC_FECEMISION,
				LIC_LDESDE,
				LIC_LHASTA,
				LIC_EDAD,
				LIC_SEXO,
				LIC_LNUMDIAS,
				LIC_FECNACTO,
				LIC_NOMBRE_HIJO,
				LIC_RUT_HIJO,
				TLI_LCODIGO,
				LIC_RECUP,
				LIC_TRAMITE_INVALIDEZ,
				LIC_CONCEPCION,
				LIC_LREPOSO,
				LIC_LAMPM,
				LIC_LUGARREPOSO,
				LIC_OTROLUGAR,
				LIC_DIRREPOSO,
				LIC_FONOREPOSO,
				CMN_CODIGO,
				PTD_RUT,
				LIC_PROFESIONAL,
				PTD_CORREL,
				ESP_CODIGO,
				LIC_PRESTFONO,
				LIC_PRESTDIR,
				LIC_PRESTFAX,
				CIE_CODIGO_PRI,
				CIE_CODIGO_SEC,
				CIE_CODIGO_TER,
				LIC_ANTCLINICOS,
				LIC_EXAMAPOYO,
				EPA_RUT,
				EPA_CORREL,
				LIC_EMPFONO,
				LIC_FECEMPL,
				LIC_DIRTRABAJO,
				CMN_CODIGO_DIRTRAB,
				CIU_CODIGO_DIRTRAB,
				ACL_CODIGO,
				OCL_CODIGO,
				AFP_CODIGO,
				LIC_CALTRAB,
				LIC_FECAFP,
				LIC_FEC_TRABAJO,
				LIC_ENTPAGSUB,
				LIC_FECDIGITADO,
				USU_LOGIN,
				LIC_CORREL_ANTERIOR,
				LIC_DIAGNOSTICO,
				LIC_DIAG_SEC,
				LIC_DIAG_TER,
				TPA_CODIGO,
				--@AUD_FECHA,
				--@AUD_USUARIO,
				ESP_TXTLME,
				LIC_OBSERVACION,
				LIC_OPERADOR,
				LIC_EPA_RAZON,            
				LIC_COT_PATERNO,
				LIC_COT_MATERNO,
				LIC_COT_NOMBRES,            
				LIC_PFS_PATERNO,
				LIC_PFS_MATERNO,
				LIC_PFS_NOMBRES,
				LIC_PFS_RCM,
				LIC_IMPCOTIZ,
				LIC_AFC, 
				LIC_DIRCONTRATO,
				CMN_CODIGO_CONTRATO,
				LIC_PFS_COMUNA,
				LIC_SOSPECHA_LABORAL,
				LIC_LABORAL_OBS,
				LIC_CANDIDATO	,
				LIC_AGENDADO	,
				LIC_REEVALUACION)
		SELECT	@LIC_CORREL,
				LLC.ID_LICENCIA,
				LLC.LIC_COLOR,
				LLC.COT_RUT,
				LLC.CON_FOLIO,
				LLC.LIC_FECRECEP,
				LLC.AGE_CODIGO,
				LLC.LIC_FECEMISION,
				LLC.LIC_LDESDE,
				LLC.LIC_LHASTA,
				LLC.LIC_EDAD,
				LLC.LIC_SEXO,
				LLC.LIC_LNUMDIAS,
				LLC.LIC_FECNACTO,
				LLC.LIC_NOMBRE_HIJO,
				LLC.LIC_RUT_HIJO,
				LLC.TLI_LCODIGO,
				LLC.LIC_RECUP,
				LLC.LIC_TRAMITE_INVALIDEZ,
				LLC.LIC_CONCEPCION,
				LLC.LIC_LREPOSO,
				LLC.LIC_LAMPM,
				LLC.LIC_LUGARREPOSO,
				LLC.LIC_OTROLUGAR,
				LLC.LIC_DIRREPOSO,
				LLC.LIC_FONOREPOSO,
				LLC.CMN_CODIGO,
				LLC.PTD_RUT,
				LLC.LIC_PROFESIONAL,
				LLC.PTD_CORREL,
				LLC.ESP_CODIGO,
				LLC.LIC_PRESTFONO,
				LLC.LIC_PRESTDIR,
				LLC.LIC_PRESTFAX,
				LLC.CIE_CODIGO_PRI,
				LLC.CIE_CODIGO_SEC,
				LLC.CIE_CODIGO_TER,
				LLC.LIC_ANTCLINICOS,
				LLC.LIC_EXAMAPOYO,
				LLC.EPA_RUT,
				LLC.EPA_CORREL,
				LLC.LIC_EMPFONO,
				LLC.LIC_FECEMPL,
				LLC.LIC_DIRTRABAJO,
				LLC.CMN_CODIGO_DIRTRAB,
				LLC.CIU_CODIGO_DIRTRAB,
				LLC.ACL_CODIGO,
				LLC.OCL_CODIGO,
				LLC.AFP_CODIGO,
				LLC.LIC_CALTRAB,
				LLC.LIC_FECAFP,
				LLC.LIC_FEC_TRABAJO,
				LLC.LIC_ENTPAGSUB,
				GETDATE(),							-- LLC.LIC_FECDIGITADO
				CONVERT(VARCHAR(50), SYSTEM_USER),	-- LLC.USU_LOGIN
				LLC.LIC_CORREL_ANTERIOR,
				LLC.LIC_DIAGNOSTICO,
				LLC.LIC_DIAG_SEC,
				LLC.LIC_DIAG_TER,
				LLC.TPA_CODIGO,
				-- LLC.AUD_FECHA,
				-- LLC.AUD_USUARIO,
				LLC.ESP_TXTLME,
				LLC.LIC_OBSERVACION,
				LLC.ID_OPERADOR,
				LEFT(rtrim(eP.epa_razon), 200),
				LEFT(PATERNO_TRABAJADOR, 20),
				LEFT(MATERNO_TRABAJADOR, 20),
				LEFT(NOMBRE_TRABAJADOR, 25),
				LEFT(PATERNO_PROFESIONAL, 20),
				LEFT(MATERNO_PROFESIONAL, 20),
				LEFT(NOMBRE_PROFESIONAL, 25),
				LEFT(NUM_COLEGIO_MEDICO, 10),
				LLC.LIC_IMPCOTIZ,
				LLC.LIC_AFC,
				LLC.LIC_DIRCONTRATO,
				LLC.CMN_CODIGO_CONTRATO,
				LLC.LIC_PFS_COMUNA,
				LLC.LIC_SOSPECHA_LABORAL,
				LLC.LIC_LABORAL_OBS,
				LLC.LIC_CANDIDATO	,
				LLC.LIC_AGENDADO	,
				LLC.LIC_REEVALUACION
		FROM	dbo.LME_LICENCIA_CONTRALORIA LLC WITH (NOLOCK)
				JOIN LME_ZONA_A A WITH (NOLOCK) ON LLC.ID_LICENCIA = A.ID_LICENCIA AND LLC.DV_LICENCIA = A.DV_LICENCIA AND LLC.ID_OPERADOR = A.ID_OPERADOR
				LEFT JOIN ENTIDAD_PAGADORA EP WITH (NOLOCK) ON EP.EPA_RUT = LLC.EPA_RUT AND EP.EPA_CORREL = LLC.EPA_CORREL
		WHERE	NOT EXISTS (SELECT * FROM dbo.LICENCIA_CONTRALORIA LC WITH (NOLOCK) WHERE LC.LIC_COLOR = LLC.LIC_COLOR AND LC.LIC_FOLIO = LLC.ID_LICENCIA AND LC.LIC_OPERADOR = LLC.ID_OPERADOR) AND
				LLC.ID_LICENCIA = @LIC_FOLIO AND
				LLC.DV_LICENCIA = @DV_LICENCIA AND
				LLC.ID_OPERADOR = @LIC_OPERADOR

			EXEC [dbo].[spu_contraloria_lm_invalidez] @LIC_CORREL
        END TRY
        
        BEGIN CATCH
            SELECT @Error_message = ERROR_MESSAGE()
            
            -- Actualizar en tabla lme_licencia_contraloria en la columna lic_error
            UPDATE	DBO.LME_LICENCIA_CONTRALORIA
            SET		LIC_ERROR = SUBSTRING('ERROR CARGA DE LME: Correlativo:' + CAST(@LIC_CORREL AS VARCHAR(10)) + ', ' + @Error_message, 1, 250)
            WHERE	ID_LICENCIA = @LIC_FOLIO AND
					DV_LICENCIA = @DV_LICENCIA AND
					ID_OPERADOR = @LIC_OPERADOR    
		END CATCH
    END
END