/*
   martes, 4 de noviembre de 202517:17:31
   User: JMOLINA
   Server: 150.10.11.55
   Database: ISAPRE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.GCO_ENVMSG_MENSAJE ADD
	CUP_CORREL numeric(15, 0) NULL
GO
ALTER TABLE dbo.GCO_ENVMSG_MENSAJE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
