/* 
======================================================================================== 
 tipo de objeto		:	procedimiento almacenado                                        
 nombre del objeto	:	spu_ges_cob_insert_contactos		                        
                                                                                          
 parametros			:	@rut = rut de cotizante, entidad pagadora o prestador.			
                                                                                          
 creado por			:	jorge molina													
 fecha creación		:	11-2024                                                      
 descripción		:	entrega datos de contactos operacionales para inserción tabla contacto_det_new				
																							
========================================================================================
*/

--execute spu_ges_cob_insert_contactos_final '  69846653'
----SELECT * FROM CONTACTO_DET_NEW_origen2 WHERE CTO_RUT = '  69846653' 

--select * from CONTACTO_DET_NEW WHERE CTO_RUT = '  69846653'



alter procedure [dbo].[spu_ges_cob_insert_contactos_final] @rut char(10) = null
as
begin	
	set nocount on;

	IF OBJECT_ID(N'tempdb..#direccion', N'U') IS NOT NULL DROP TABLE #direccion
	IF OBJECT_ID(N'tempdb..#email', N'U') IS NOT NULL DROP TABLE #email
	IF OBJECT_ID(N'tempdb..#fono', N'U') IS NOT NULL DROP TABLE #fono

	declare @cto_rut  char(10)
	declare @ctd_correl numeric(10)
	declare @ctd_direccion varchar(250)
	declare @ctd_direccion_v2 varchar(250)
	declare @cmn_codigo numeric(4, 0)
	declare @ctd_email1 varchar(250)
	declare @ctd_email2 varchar(250)
	declare @ctd_fono1 varchar(50)
	declare @ctd_fono2 varchar(50)
	declare @usu_login  char(30)
	declare @ctd_fecreg datetime
	declare @ctd_origen varchar(200)
	declare @concepto varchar(50)
	declare @orden integer

	declare @clave numeric(10)
	declare @ctd_correl_new numeric(10)
	declare @ctd_fecreg_new datetime

	declare @cont integer
	declare @cto_rutx  char(10)
	declare @fecha_reg datetime
	set @fecha_reg = getdate()
	declare @i integer




	declare cursor_insert cursor   
	for 
		select cto_rut
		, ctd_correl
		, ctd_direccion_v2
		, cmn_codigo
		, ctd_email1
		, ctd_fono1
		, ctd_fecreg
		, ctd_origen
		, concepto
		from CONTACTO_DET_NEW_origen2
		where ( cto_rut = @cto_rut or @cto_rut is null)
		order by cto_rut asc, ctd_correl asc

	open cursor_insert

	fetch next from cursor_insert into @cto_rut, @ctd_correl, @ctd_direccion_v2, @cmn_codigo, @ctd_email1, @ctd_fono1, @ctd_fecreg, @ctd_origen, @concepto;


	while @@fetch_status = 0
	begin

		set @ctd_correl_new = 0
		set @ctd_fecreg_new = null

		print '@cto_rut:'+cast(@cto_rut as varchar(20))
		print '@ctd_correl:'+cast(@ctd_correl as varchar(20))
		print '@ctd_direccion_v2:'+cast(isnull(@ctd_direccion_v2, 'null') as varchar(250))
		print '@cmn_codigo:'+cast(isnull(@cmn_codigo, 0) as varchar(20))
		print '@ctd_email1:'+cast(isnull(@ctd_email1, 'null') as varchar(250))
		print '@ctd_fono1:'+cast(isnull(@ctd_fono1, 'null') as varchar(20))
		print '@concepto:'+cast(@concepto as varchar(20))
		print '@ctd_fecreg:'+cast(@ctd_fecreg as varchar(20))


		if @concepto = 'direccion'
		begin
			select @ctd_correl_new = ctd_correl
			, @ctd_fecreg_new = ctd_fecreg
			from contacto_det_new
			where cto_rut = @cto_rut
			and replace(ctd_direccion, ' ', '') = @ctd_direccion_v2
			and isnull(cmn_codigo, 0) = isnull(@cmn_codigo, 0)

		end

		if @concepto = 'email'
		begin
			select @ctd_correl_new = ctd_correl
			, @ctd_fecreg_new = ctd_fecreg
			from contacto_det_new
			where cto_rut = @cto_rut
			and ctd_email1 = @ctd_email1
		end

		if @concepto = 'fono'
		begin
			select @ctd_correl_new = ctd_correl
			, @ctd_fecreg_new = ctd_fecreg
			from contacto_det_new
			where cto_rut = @cto_rut
			and ctd_fono1 = @ctd_fono1
		end

		--print '@concepto:'+cast(@concepto as varchar(10))+'@ctd_fono1:'+cast(@ctd_fono1 as varchar(10))+'_@ctd_correl_new:'+cast(isnull(@ctd_correl_new, 0) as varchar(10))

		if isnull(@ctd_correl_new, 0) = 0
			begin
				--3.- si el dato no se encuentra registrado, entonces se debe agregar a la tabla contacto_det_new con los siguientes datos:
					--usu_login = ‘system’
					--ctd_fecreg  = <fecha del dato de origen>        
					--ctd_origen  = <origen de la validación según el sp>

				insert into contacto_det_new
				(
					cto_rut, 
					ctd_correl, 
					ctd_direccion, 
					cmn_codigo, 
					ctd_email1, 
					ctd_email2, 
					ctd_fono1, 
					ctd_fono2,
					ctd_encar_rem, 
					usu_login, 
					ctd_fecreg, 
					ctd_origen, 
					ctd_inf_contacto ,
					ctd_tipo_val ,
					usu_login_val,
					ctd_fecha_val ,
					ctd_origen_val 
				)
				select cto_rut,
					--ctd_correl,
					(select isnull(max(ctd_correl), 0) + 1 from dbo.contacto_det_new cc with (nolock) where cc.cto_rut = @cto_rut) as ctd_correl,
					ctd_direccion, 
					cmn_codigo, 
					ctd_email1, 
					ctd_email2, 
					ctd_fono1, 
					ctd_fono2, 
					ctd_encar_rem, 
					usu_login, 
					ctd_fecreg, 
					ctd_origen, 
					ctd_inf_contacto,
					ctd_tipo_val ,
					usu_login_val,
					ctd_fecha_val ,
					ctd_origen_val 
				from CONTACTO_DET_NEW_origen2
				where cto_rut = @cto_rut
				and ctd_correl = @ctd_correl

				print 'insert'+cast(isnull(@ctd_correl_new, 0) as varchar(10))


			end
		else
			begin
			--2.- si el dato ya se encuentra en la tabla contacto_det_new, entonces se deben actualizar las nuevas columnas:
			--              ctd_tipo_val = ‘v’ (v=válido, n=no válido)
			--				usu_login_val = ‘system’     
			--				ctd_fecha_val = <fecha del dato de origen> 
			--				ctd_origen_val = <origen de la validación según el sp>

			-- pero antes se debe verificar si la fecha_reg es mayor a la fecha de la actual tupla en contacto_det_new

				if @ctd_fecreg_new > @ctd_fecreg
				begin

					update contacto_det_new
					set ctd_tipo_val = 'V'
						, usu_login_val = 'SYSTEM'    
						, ctd_fecha_val = @ctd_fecreg
						, ctd_origen_val = 'CONTRATO'
						, ctd_fono2 = @ctd_fono1
					where cto_rut = @cto_rut
					and ctd_correl = @ctd_correl_new
					print 'update'+cast(@ctd_correl_new as varchar(10))
				end
				else
				begin
					print 'no update'+cast(@ctd_correl_new as varchar(10))
				end

				
			end

		

			fetch next from cursor_insert into @cto_rut, @ctd_correl, @ctd_direccion_v2, @cmn_codigo, @ctd_email1, @ctd_fono1, @ctd_fecreg, @ctd_origen, @concepto;

		--if (@cto_rutx = @cto_rut)
		--begin 
		--	set @ctd_correl = @ctd_correl + 1
		--end 
		--else
		--begin
		--	set @cto_rutx = @cto_rut
		--	set @ctd_correl = 1
		--end

	end 

	close cursor_insert
	deallocate cursor_insert


end




