/*
   viernes, 18 de julio de 202513:22:59
   User: DESARROLLOSIST
   Server: 150.10.10.99
   Database: ISAPRE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.GCO_ENVMSG_PROGRAMA ADD
	EPR_SABADO char(1) NULL,
	EPR_DOMINGO char(1) NULL
GO
ALTER TABLE dbo.GCO_ENVMSG_PROGRAMA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GCO_ENVMSG_PROGRAMA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GCO_ENVMSG_PROGRAMA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GCO_ENVMSG_PROGRAMA', 'Object', 'CONTROL') as Contr_Per 