/* 
======================================================================================== 
 tipo de objeto		:	procedimiento almacenado                                        
 nombre del objeto	:	spu_ges_cob_contactdeu_datocontacto                                                                                                  
 parametros			:	@rut = rut de cotizante, entidad pagadora o prestador.			                                                                                 
 creado por			:	jorge molina													
 fecha creación		:	12-2024                                                      
 descripción		:	muestra el valor más confiable del parametro direccion, fono, email																					
========================================================================================
*/

/*

spu_ges_cob_contactdeu_listar '  69846653', 'direccion';
spu_ges_cob_contactdeu_listar '  69846653', 'fono';
spu_ges_cob_contactdeu_listar '  69846653', 'email';

spu_ges_cob_contactdeu_datocontacto '  69846653', 'direccion';
spu_ges_cob_contactdeu_datocontacto '  69846653', 'fono';
spu_ges_cob_contactdeu_datocontacto '  69846653', 'email';

*/

ALTER procedure [dbo].[spu_ges_cob_contactdeu_datocontacto] 
@rut char(10)
, @tipocontacto varchar(50)
as
BEGIN	
	set nocount on;

	declare @cto_rut  char(10)
	declare @ctd_correl numeric(10)
	declare @ctd_direccion varchar(250)
	declare @ctd_direccion_v2 varchar(250)
	declare @cmn_codigo numeric(4, 0)
	declare @ctd_email1 varchar(250)
	declare @ctd_email2 varchar(250)
	declare @ctd_fono1 varchar(50)
	declare @ctd_fono2 varchar(50)
	declare @usu_login  char(30)
	declare @ctd_fecreg datetime
	declare @ctd_origen varchar(200)
	declare @orden integer

	declare @clave numeric(10)
	declare @ctd_correl_new numeric(10)
	declare @ctd_fecreg_new datetime
	declare @concepto varchar(50)
	declare @cont integer
	declare @cto_rutx  char(10)
	declare @fecha_reg datetime
	set @fecha_reg = getdate()
	declare @i integer

	IF OBJECT_ID(N'tempdb..#contacto_det_paso_direccion', N'U') IS NOT NULL DROP TABLE #contacto_det_paso_direccion
	IF OBJECT_ID(N'tempdb..#contacto_det_paso_nodireccion', N'U') IS NOT NULL DROP TABLE #contacto_det_paso_nodireccion


	--Primera tabla traspaso: se insertaran todos los registros de los ORIGENES
	create table #contacto_det_paso_direccion
	(
		cto_rut char(10)  not null
		--, ctd_correl numeric(20) identity(1,1)
		, ctd_correl numeric(10) not null
		, tipo varchar(50) not null		--“fono”, “email” o “direccion” = @tipoContacto
		, valor varchar(500) not null
		, cmn_codigo numeric(4) null
		, cmn_nombre varchar(100) null
		, usu_login char(30)  null
		, ctd_fecreg datetime  null
		, ctd_origen varchar(50) null	
		, ctd_tipo_val char(1) null 
		, usu_login_val varchar(100) null 	
		, ctd_fecha_val datetime null
		, ctd_origen_val varchar(100) null
		, ctd_descrip_val varchar(500) null
		, primary key (cto_rut, ctd_correl)
	)

	create table #contacto_det_paso_nodireccion
	(
		cto_rut char(10)  not null
		--, ctd_correl numeric(20) identity(1,1)
		, ctd_correl numeric(10) not null
		, tipo varchar(50) not null		--“fono”, “email” o “direccion” = @tipoContacto
		, valor varchar(500) not null
		, usu_login char(30)  null
		, ctd_fecreg datetime  null
		, ctd_origen varchar(50) null	
		, ctd_tipo_val char(1) null 
		, usu_login_val varchar(100) null 	
		, ctd_fecha_val datetime null
		, ctd_origen_val varchar(100) null
		, ctd_descrip_val varchar(500) null
		, primary key (cto_rut, ctd_correl)
	)


	if @tipocontacto = 'direccion'
	begin
			insert into #contacto_det_paso_direccion (
					cto_rut
					, ctd_correl
					, tipo --“fono”, “email” o “direccion” = @tipoContacto
					, valor
					, cmn_codigo
					, cmn_nombre
					, usu_login 
					, ctd_fecreg 
					, ctd_origen 	
					, ctd_tipo_val 
					, usu_login_val  	
					, ctd_fecha_val 
					, ctd_origen_val
					, ctd_descrip_val
				)
			exec spu_ges_cob_contactdeu_listar @rut, @tipocontacto;

			select top 1 case when (isnull(cmn_nombre, '') <> '' ) then valor+', '+cmn_nombre
							else valor end valor
							from #contacto_det_paso_direccion

	end
	else
	begin
			insert into #contacto_det_paso_nodireccion (
					cto_rut
					, ctd_correl
					, tipo --“fono”, “email” o “direccion” = @tipoContacto
					, valor
					, usu_login 
					, ctd_fecreg 
					, ctd_origen 	
					, ctd_tipo_val 
					, usu_login_val  	
					, ctd_fecha_val 
					, ctd_origen_val
					, ctd_descrip_val
				)
			exec spu_ges_cob_contactdeu_listar @rut, @tipocontacto;

			select top 1 valor from #contacto_det_paso_nodireccion

	end 








END




