/* 
 =================================================================  
 Author:  Jorge Molina  
 Create date: 23-12-2024  
 Description: devuelva el dato de contacto mas confiable del tipo indicado.  
 =================================================================  
*/

-- select dbo.f_get_datocontacto('  28065396', 'direccion')

alter function [dbo].[f_get_datocontacto] 
(
@rut char(10)
, @tipocontacto varchar(50)
)
RETURNS VARCHAR(500)
as
BEGIN	

	declare @valor varchar(200)

	declare @cto_rut  char(10)
	declare @ctd_correl numeric(10)
	declare @ctd_direccion varchar(250)
	declare @ctd_direccion_v2 varchar(250)
	declare @cmn_codigo numeric(4, 0)
	declare @ctd_email1 varchar(250)
	declare @ctd_email2 varchar(250)
	declare @ctd_fono1 varchar(50)
	declare @ctd_fono2 varchar(50)
	declare @usu_login  char(30)
	declare @ctd_fecreg datetime
	declare @ctd_origen varchar(200)
	declare @orden integer

	declare @clave numeric(10)
	declare @ctd_correl_new numeric(10)
	declare @ctd_fecreg_new datetime
	declare @concepto varchar(50)
	declare @cont integer
	declare @cto_rutx  char(10)
	declare @fecha_reg datetime
	set @fecha_reg = getdate()
	declare @i integer


--declare @rut char(10)
--declare @tipocontacto varchar(50)
--declare @valor varchar(200)

--set @rut =  '  28065396'
--set @tipocontacto = 'direccion'


select @valor = a.valor
from 
(

			select top 1 cto_rut
				--, ctd_correl numeric(20) identity(1,1)
				, ctd_correl
				, @tipoContacto as tipo		--“fono”, “email” o “direccion” = @tipoContacto
				--, case @tipoContacto when 'direccion' then ctd_direccion+''+(case when isnull(cmn_codigo, 0) <> 0 then ', '+(select top 1 cc.cmn_nombre from dbo.comuna cc with (nolock) where cc.cmn_codigo = c.cmn_codigo ) else '' end )
				, case @tipoContacto when 'direccion' then ctd_direccion+''+(case when isnull(cmn_codigo, 0) <> 0 then ', '+(select top 1 isnull(dd.ciu_nombre, '')+', '+cc.cmn_nombre from dbo.comuna cc with (nolock) left join dbo.ciudad dd on cc.ciu_codigo = dd.ciu_codigo where cc.cmn_codigo = c.cmn_codigo ) else '' end )
									when 'email' then ctd_email1
									when 'fono' then ctd_fono1 end as valor
				, cmn_codigo
				, (select top 1 cc.cmn_nombre from dbo.comuna cc with (nolock) where cc.cmn_codigo = c.cmn_codigo ) as cmn_nombre
				, usu_login
				, ctd_fecreg
				, ctd_origen	
				, ctd_tipo_val
				, usu_login_val	
				, ctd_fecha_val
				, ctd_origen_val
				, ctd_descrip_val
				--, 0 as orden
				, case when (ctd_fecreg > isnull(ctd_fecha_val, '19900101')) then ctd_fecreg
						else ctd_fecha_val end as fecha_reciente
				, (case ctd_origen when 'PREVIRED' then 7
										when 'GESCOBRANZA' then  6
										when 'GESTION COBRANZA' then  5
										when 'CONTRATO' then 4
										when 'LICENCIA' then 3
										when 'PAM' then 2
										when 'BACK COBRANZAS' then 1
										else 0
										end) 
					+
					(
						case usu_login when 'SYSTEM' then 1
										else 0
										end
						)
										
										as orden


			from dbo.CONTACTO_DET_NEW_origen c with (nolock)
			where cto_rut = @rut
			and (
				( @tipoContacto = 'direccion' and ctd_direccion is not null )
				or ( @tipoContacto = 'email' and ctd_email1 is not null )
				or ( @tipoContacto = 'fono' and ctd_fono1 is not null )
				)
			order by isnull(ctd_tipo_val, 'S') desc, fecha_reciente desc, orden desc

) a
--order by isnull(a.ctd_tipo_val, 'S') desc, a.fecha_reciente desc, a.orden desc

return @valor



			--if @@ROWCOUNT > 1
			--begin


			--	--Si dos fechas son iguales, listar primero el usuario <> ‘SYSTEM’ dependiendo de la fecha considerada en el punto anterior.
			--	update a
			--	set orden = 
			--			(
			--			case a.usu_login when 'SYSTEM' then  a.orden + 1
			--							else a.orden + 0
			--							end
			--			)

			--	from #contacto_det_paso as a
			--	join #contacto_det_paso as b
			--		on a.cto_rut = b.cto_rut
			--		and a.ctd_correl = b.ctd_correl

			--	--prioridad de origenes
			--	update a
			--	set orden = 
			--			(
			--			--case a.ctd_origen when 'CONTRATO' then  a.orden + 6
			--			--				when 'ENTIDAD PAGADORA' then  a.orden + 5
			--			--				when 'NOTIFICACION ELECTRONICA' then  a.orden + 4
			--			--				when 'GESTION COBRANZA' then  a.orden + 3
			--			--				when 'LICENCIA' then a.orden + 2
			--			--				when 'CONVENIO' then a.orden + 1
			--			--				else a.orden + 0
			--			--				end

			--			case a.ctd_origen when 'PREVIRED' then  a.orden + 7
			--							when 'GESCOBRANZA' then  a.orden + 6
			--							when 'GESTION COBRANZA' then  a.orden + 5
			--							when 'CONTRATO' then  a.orden + 4
			--							when 'LICENCIA' then a.orden + 3
			--							when 'PAM' then a.orden + 2
			--							when 'BACK COBRANZAS' then a.orden + 1
			--							else a.orden + 0
			--							end

			--			)

			--	from #contacto_det_paso as a
			--	join #contacto_det_paso as b
			--		on a.cto_rut = b.cto_rut
			--		and a.ctd_correl = b.ctd_correl


			--	--prioridad CTD_TIPO_VAL
			--	update a
			--	set orden = 
			--			(
			--			case isnull(a.ctd_tipo_val, '-') when 'S' then  a.orden + 3
			--							when '-' then  a.orden + 2
			--							when 'N' then  a.orden + 1
			--							else a.orden + 0
			--							end
			--			)

			--	from #contacto_det_paso as a
			--	join #contacto_det_paso as b
			--		on a.cto_rut = b.cto_rut
			--		and a.ctd_correl = b.ctd_correl


			--end



 
END




