
/* 
======================================================================================== 
 TIPO DE OBJETO		:	Procedimiento Almacenado                                        
 NOMBRE DEL OBJETO	:	spu_ges_cob_insert_contactos		                        
                                                                                          
 PARAMETROS			:	@rut = Rut de Cotizante, Entidad Pagadora o Prestador.			
                                                                                          
 CREADO POR			:	Jorge Molina													
 FECHA CREACIÓN		:	11-2024                                                      
 DESCRIPCIÓN		:	Entrega datos de Contactos Operacionales para inserción tabla CONTACTO_DET_NEW				
																							
========================================================================================
*/

--EXECUTE spu_ges_cob_insert_contactos '  69846653'

ALTER PROCEDURE [dbo].[spu_ges_cob_insert_contactos] @rut CHAR(10)
AS
BEGIN	
	SET NOCOUNT ON;

IF OBJECT_ID(N'tempdb..#direccion', N'U') IS NOT NULL DROP TABLE #direccion
IF OBJECT_ID(N'tempdb..#email', N'U') IS NOT NULL DROP TABLE #email
IF OBJECT_ID(N'tempdb..#fono', N'U') IS NOT NULL DROP TABLE #fono


DECLARE @CTO_RUT  char(10)
DECLARE @CLAVE NUMERIC(10)
DECLARE @CTD_CORREL NUMERIC(10)
DECLARE @CTO_RUTX  char(10)


	declare @fecha_reg datetime
	set @fecha_reg = getdate()

	CREATE TABLE #CONTACTO_DET_NEW_V0
	(
		CTO_RUT char(10)  NOT NULL,
		--CTD_CORREL numeric(4, 0)  not NULL,
		CTD_CORREL NUMERIC(10) IDENTITY(1,1),
		CTD_DIRECCION varchar(250) NULL,
		CTD_DIRECCION_V2 varchar(250) NULL,
		CMN_CODIGO numeric(4, 0) NULL,
		CTD_EMAIL1 varchar(250) NULL,
		CTD_EMAIL1_V2 varchar(250) NULL,
		CTD_EMAIL2 varchar(250) NULL,
		CTD_EMAIL2_V2 varchar(250) NULL,
		CTD_FONO1 varchar(50) NULL,
		CTD_FONO2 varchar(50) NULL,
		CTD_ENCAR_REM varchar(250) NULL,		--NO SE TRASPASA
		USU_LOGIN char(30)  NULL,
		CTD_FECREG datetime  NULL,
		CTD_ORIGEN varchar(50)  NULL,
		CTD_INF_CONTACTO varchar(250) NULL,		--NO SE TRASPASA
		CTD_TIPO_VAL char(1) NULL,
		USU_LOGIN_VAL varchar(100) NULL,
		CTD_FECHA_VAL datetime NULL,
		CTD_ORIGEN_VAL varchar(200) NULL,

		--, CLAVE NUMERIC(10) IDENTITY(1,1) --PRIMARY KEY

	PRIMARY KEY (CTO_RUT, CTD_CORREL)
	)


	--1.- CONTRATO_____________________________________

INSERT INTO #CONTACTO_DET_NEW_V0
(
	CTO_RUT ,
	--CTD_CORREL ,
	CTD_DIRECCION ,
	--CTD_DIRECCION_V2,
	CMN_CODIGO ,
	CTD_EMAIL1 ,
	--CTD_EMAIL1_V2 ,
	CTD_EMAIL2 ,
	--CTD_EMAIL2_V2 ,
	CTD_FONO1 ,
	CTD_FONO2 ,
	CTD_ENCAR_REM ,
	USU_LOGIN ,
	CTD_FECREG ,
	CTD_ORIGEN ,
	CTD_INF_CONTACTO ,
	CTD_TIPO_VAL ,
	USU_LOGIN_VAL,
	CTD_FECHA_VAL ,
	CTD_ORIGEN_VAL 	
	)
SELECT 	COT_RUT AS CTO_RUT,
		--CTD_CORREL ,
		ltrim(rtrim(C.CON_DIRPOSTAL)) AS CTD_DIRECCION,
		CMN_CODIGO ,
		replace(ltrim(rtrim(C.CON_EMAIL)) , ' ', '') ,
		NULL		,--replace(ltrim(rtrim(CTD_EMAIL2)) , ' ', '') ,
		(
	case when ((isnumeric(  
	replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
	ltrim(rtrim(C.CON_FONO))  
	, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')  
	) = 1 )  

	) then   
  
	replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
	ltrim(rtrim(C.CON_FONO))  
	, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')    

	else null end
	) ,
	(
	case when ((isnumeric(  
	replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
	ltrim(rtrim(C.CON_CELULAR))  
	, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')  
	) = 1 )  

	) then   
  
	replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(  
	ltrim(rtrim(C.CON_CELULAR))  
	, '-', ''), '+', ''), '*', ''), '/', ''), '.', ''), ',', ''), ' ', ''), '$', ''), '^', ''), '%', ''), '=', ''), '<', ''), '>', ''), '[', ''), ']', ''), '{', ''), '}', ''), '@', ''), ' ', ''), '(', ''), ')', '')    

	else null end
	) ,
		NULL ,		--CTD_ENCAR_REM, NO SE TRASPASA
		'SYSTEM',		--USU_LOGIN ,
		@fecha_reg,		--CTD_FECREG ,
		'CONTRATO',		--CTD_ORIGEN ,
		NULL,			--CTD_INF_CONTACTO
		NULL,			--CTD_TIPO_VAL
		NULL,			--USU_LOGIN_VAL
		NULL,			--CTD_FECHA_VAL
		NULL			--CTD_ORIGEN_VAL
		from contrato c with (nolock)
	WHERE		C.COT_RUT = @rut


--LIMPIEZAS____________________________________________________________

--1.- DIRECCION: limpiar los que tienen len() < 5
UPDATE a
set ctd_direccion = null
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_direccion) < 5 )

--2.- EMAIL1: limpiar los que tienen len() < 5
UPDATE a
set ctd_email1 = null
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_email1) < 5 )

UPDATE a
set ctd_email1 = null
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where CHARINDEX('@', b.ctd_email1) < 1

--Limpiar los 0 de principio de los fono1
UPDATE a
set ctd_fono1 = (CASE WHEN LEFT(b.ctd_fono1, 1) = '0' THEN SUBSTRING(b.ctd_fono1, 2, LEN(b.ctd_fono1) - 1)  ELSE b.ctd_fono1   END)
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where LEFT(b.ctd_fono1, 1) = '0'

--Limpiar los 0 de principio de los fono2
UPDATE a
set ctd_fono2 = (CASE WHEN LEFT(b.ctd_fono2, 1) = '0' THEN SUBSTRING(b.ctd_fono2, 2, LEN(b.ctd_fono2) - 1)  ELSE b.ctd_fono2   END)
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where LEFT(b.ctd_fono2, 1) = '0'

--Solo los fonos con len()= 11 y que comiencen con '56', se elimina el '56' y se traspasa sus 9 digitos
UPDATE a
set ctd_fono1 = (CASE WHEN LEFT(b.ctd_fono1, 2) = '56' THEN SUBSTRING(b.ctd_fono1, 3, LEN(b.ctd_fono1) - 2)  ELSE b.ctd_fono1   END)
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where LEFT(b.ctd_fono1, 2) = '56'
and len(b.ctd_fono1) = 11

UPDATE a
set ctd_fono2 = (CASE WHEN LEFT(b.ctd_fono2, 2) = '56' THEN SUBSTRING(b.ctd_fono2, 3, LEN(b.ctd_fono2) - 2)  ELSE b.ctd_fono2   END)
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where LEFT(b.ctd_fono2, 2) = '56'
and len(b.ctd_fono2) = 11

UPDATE a
set ctd_fono1 = null
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_fono1) < 9 or len(b.ctd_fono1) > 9)

UPDATE a
set ctd_fono2 = null
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl
where (len(b.ctd_fono2) < 9 or len(b.ctd_fono2) > 9)

--TRASPASAR V2
UPDATE a
set ctd_direccion_v2 = replace(b.ctd_direccion, ' ', '')
FROM #CONTACTO_DET_NEW_V0 as a
join #CONTACTO_DET_NEW_V0 as b 
	on a.cto_rut = b.cto_rut 
	and a.ctd_correl = b.ctd_correl


SELECT * FROM #CONTACTO_DET_NEW_V0


CREATE TABLE #CONTACTO_DET_NEW_v1
(
	CTO_RUT char(10)  NOT NULL,
	CTD_CORREL numeric(4, 0)  NULL,
	CTD_DIRECCION varchar(250) NULL,
	CMN_CODIGO numeric(4, 0) NULL,
	CTD_EMAIL1 varchar(250) NULL,
	CTD_EMAIL2 varchar(250) NULL,
	CTD_FONO1 varchar(50) NULL,
	CTD_FONO2 varchar(50) NULL,
	CTD_ENCAR_REM varchar(250) NULL,
	USU_LOGIN char(30)  NULL,
	CTD_FECREG datetime  NULL,
	CTD_ORIGEN varchar(50)  NULL,
	CTD_INF_CONTACTO varchar(250) NULL
	, CLAVE NUMERIC(10) IDENTITY(1,1) --PRIMARY KEY
,
PRIMARY KEY (CTO_RUT, CLAVE)
)


--ORGANIZAR DIRECCION

--V2  774 mil reg
select cto_rut, ctd_direccion_v2, cmn_codigo--, count(*) as contador
, (select max(d.ctd_correl) from #CONTACTO_DET_NEW_V0 d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_direccion_v2 = c.ctd_direccion_v2 and isnull(d.cmn_codigo, 0) = isnull(c.cmn_codigo, 0)) ctd_correl
into #direccion
from #CONTACTO_DET_NEW_V0 c with (nolock)
where ctd_direccion_v2 is not null
group by cto_rut, ctd_direccion_v2, cmn_codigo
order by cto_rut, ctd_direccion_v2 


--2.-EMAIL  
--(633mil reg
select cto_rut, ctd_email1
, COALESCE((select max(d.ctd_correl) from #CONTACTO_DET_NEW_V0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_email1 = a.ctd_email1 ), (select max(d.ctd_correl) from #CONTACTO_DET_NEW_V0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_email2 = a.ctd_email1 ))  as ctd_correl
INTO #EMAIL
from
(
	select cto_rut, ctd_email1
	--, count(*) as contador
	--, (select max(d.ctd_correl) from CONTACTO_DET d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_email1 = c.ctd_email1 ) ctd_correl
	from #CONTACTO_DET_NEW_V0 c with (nolock)
	where ctd_email1 is not null
	--and ltrim(rtrim(ctd_email1)) <> ''
	group by cto_rut, ctd_email1
	--order by cto_rut, ctd_email1 
	UNION
	select cto_rut, ctd_email2
	--, count(*) as contador
	--, (select max(d.ctd_correl) from CONTACTO_DET d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_email2 = c.ctd_email2 ) ctd_correl
	from #CONTACTO_DET_NEW_V0 c with (nolock)
	where ctd_email2 is not null
	--and ltrim(rtrim(ctd_email2)) <> ''
	group by cto_rut, ctd_email2
	--order by cto_rut, ctd_email2 
) a
order by cto_rut, ctd_email1 





--3.- FONO 
-- (290 rows affected) 19 seg
select cto_rut, ctd_fono1--, contador
--, ctd_correl
--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono1 = a.ctd_fono1 ) ctd_correl
, coalesce((select max(d.ctd_correl) from #CONTACTO_DET_NEW_V0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono1 = a.ctd_fono1 and d.ctd_fono1 is not null), (select max(d.ctd_correl) from #CONTACTO_DET_NEW_V0 d with (nolock) where d.cto_rut = a.cto_rut and d.ctd_fono2 = a.ctd_fono1 and d.ctd_fono2 is not null), 99999999)  as ctd_correl
, identity(numeric(10), 1,1) clave -- colocamos clave ya que existian un registro con dos numeros y un mismo ctd_correl
into #fono
from
(
	-- fono1
	--(627387 rows affected) 1 min
	select cto_rut, ctd_fono1--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_fono1 = c.ctd_fono1 ) ctd_correl
	from #CONTACTO_DET_NEW_V0 c with (nolock)
	where ctd_fono1 is not null
	--and ltrim(rtrim(ctd_fono1)) <> ''
	--and ltrim(rtrim(ctd_fono1)) <> '0'
	--and len(ctd_fono1) > 8
	group by cto_rut, ctd_fono1
	--order by cto_rut, ctd_fono1 
	union
	-- fono2
	--(426957 rows affected)
	select cto_rut, ctd_fono2--, count(*) as contador
	--, (select max(d.ctd_correl) from contacto_det d with (nolock) where d.cto_rut = c.cto_rut and d.ctd_fono2 = c.ctd_fono2 ) ctd_correl
	from #CONTACTO_DET_NEW_V0 c with (nolock)
	where ctd_fono2 is not null
	--and ltrim(rtrim(ctd_fono2)) <> ''
	--and ltrim(rtrim(ctd_fono2)) <> '0'
	--and len(ctd_fono2) > 8
	group by cto_rut, ctd_fono2
	--order by cto_rut, ctd_fono2 
) a
order by cto_rut, ctd_fono1 


--1.- DIRECCION
insert into #CONTACTO_DET_NEW_V1 
(
	cto_rut, 
	ctd_correl, 
	ctd_direccion, 
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
)
select d.cto_rut
	, null
	, c.ctd_direccion
	, d.cmn_codigo
	, null --, c.ctd_email1
	, null --, c.ctd_email2
	, null --, c.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
from #direccion d
join #CONTACTO_DET_NEW_V0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


--EMAIL
insert into #CONTACTO_DET_NEW_V1 
(
	cto_rut, 
	ctd_correl, 
	ctd_direccion, 
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
)
select d.cto_rut
	, null
	, null --, d.ctd_direccion
	, null --, d.cmn_codigo
	, d.ctd_email1
	, null --, c.ctd_email2
	, null --, c.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
from #email d
join #CONTACTO_DET_NEW_V0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


--FONO
insert into #CONTACTO_DET_NEW_V1
(
	cto_rut, 
	ctd_correl, 
	ctd_direccion, 
	cmn_codigo, 
	ctd_email1, 
	ctd_email2, 
	ctd_fono1, 
	ctd_fono2, 
	ctd_encar_rem, 
	usu_login, 
	ctd_fecreg, 
	ctd_origen, 
	ctd_inf_contacto 
)
select d.cto_rut
	, null
	, null --, d.ctd_direccion
	, null --, d.cmn_codigo
	, null --, c.ctd_email1
	, null --, c.ctd_email2
	, d.ctd_fono1
	, null --, c.ctd_fono2
	, c.ctd_encar_rem
	, c.usu_login
	, c.ctd_fecreg
	, c.ctd_origen
	, c.ctd_inf_contacto
from #fono d
join #CONTACTO_DET_NEW_V0 c
	on d.cto_rut = c.cto_rut
	and d.ctd_correl = c.ctd_correl


	--DECLARE CURSOR_TOTAL CURSOR   
	--FOR 
	--	SELECT CTO_RUT
	--	, CLAVE
	--	FROM #CONTACTO_DET_NEW_V1
	--	ORDER BY CTO_RUT ASC, CLAVE ASC

	--OPEN CURSOR_TOTAL

	--FETCH NEXT FROM CURSOR_TOTAL INTO @CTO_RUT, @CLAVE

	--SET @CTD_CORREL = 1
	--SET @CTO_RUTX = @CTO_RUT

	--WHILE @@FETCH_STATUS = 0
	--BEGIN

	--	UPDATE #CONTACTO_DET_NEW_V1
	--	SET CTD_CORREL = @CTD_CORREL
	--	WHERE CTO_RUT = @CTO_RUT
	--	AND CLAVE = @CLAVE
		

	--	FETCH NEXT FROM CURSOR_TOTAL INTO @CTO_RUT, @CLAVE

	--	if (@CTO_RUTX = @CTO_RUT)
	--	BEGIN 
	--		SET @CTD_CORREL = @CTD_CORREL + 1
	--	END 
	--	ELse
	--	begin
	--		SET @CTO_RUTX = @CTO_RUT
	--		SET @CTD_CORREL = 1
	--	end

	--END 

	--CLOSE CURSOR_TOTAL
	--DEALLOCATE CURSOR_TOTAL




	DECLARE CURSOR_INSERT CURSOR   
	FOR 
		SELECT CTO_RUT
		, CLAVE
		FROM #CONTACTO_DET_NEW_V1
		ORDER BY CTO_RUT ASC, CLAVE ASC

	OPEN CURSOR_TOTAL

	FETCH NEXT FROM CURSOR_TOTAL INTO @CTO_RUT, @CLAVE

	SET @CTD_CORREL = 1
	SET @CTO_RUTX = @CTO_RUT

	WHILE @@FETCH_STATUS = 0
	BEGIN

		UPDATE #CONTACTO_DET_NEW_V1
		SET CTD_CORREL = @CTD_CORREL
		WHERE CTO_RUT = @CTO_RUT
		AND CLAVE = @CLAVE
		

		FETCH NEXT FROM CURSOR_TOTAL INTO @CTO_RUT, @CLAVE

		if (@CTO_RUTX = @CTO_RUT)
		BEGIN 
			SET @CTD_CORREL = @CTD_CORREL + 1
		END 
		ELse
		begin
			SET @CTO_RUTX = @CTO_RUT
			SET @CTD_CORREL = 1
		end

	END 

	CLOSE CURSOR_TOTAL
	DEALLOCATE CURSOR_TOTAL


SELECT * FROM #CONTACTO_DET_NEW_V1


	/*
	SELECT		1 AS ORDEN,
				'CONTRATO' AS ORIGEN,
				CON.CON_DIRPOSTAL AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				case when CON.CON_FONO='-' or CON.CON_FONO='0' then '' else COALESCE(RTRIM(CON.CON_FONO)+', ' ,'') end + COALESCE(CON.CON_CELULAR,'') AS FONO,
				CON.CON_EMAIL AS CORREO,
				CON.CON_ACTDATOS AS FEC_REG
	FROM		CONTRATO CON WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = CON.CMN_CODIGO
	WHERE		CON.COT_RUT = @rut
	*/


/*
	UNION

	SELECT		2 AS ORDEN,
				'ENTIDAD PAGADORA' AS ORIGEN,
				EPA.EPA_DIRPOSTAL AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				EPA.EPA_FONO AS FONO,
				EPA.EPA_EMAIL AS CORREO,
				coalesce(EPA.EPA_FECMODIF, EPA.AUD_FECHA) AS FEC_REG
	FROM		ENTIDAD_PAGADORA EPA WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = EPA.CMN_CODIGO
	WHERE		EPA.EPA_RUT = @rut

	UNION
	
	SELECT		3 AS ORDEN,
				'NOTIFICACION ELECTRONICA' AS ORIGEN,
				ENE.ENE_DIRECCION AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				NULL AS FONO,
				RTRIM(LTRIM(COALESCE(RTRIM(LTRIM(ENE.ENE_CORREO_FIRMANTE)), '') + '   ' + COALESCE(RTRIM(LTRIM(ENE.ENE_CORREO_REPRESENTANTE)), ''))) AS CORREO,
				ENE.ENE_INIVIG AS FEC_REG
	FROM		EMPLEADOR_NOTIF_ELECTRONICO ENE WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = ENE.ENE_COMUNA
	WHERE		ENE.EPA_RUT = @rut

	UNION
	
	SELECT		4 AS ORDEN,
				'LICENCIA' AS ORIGEN,
				LIC.LIC_DIRREPOSO AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				LIC.LIC_FONOREPOSO AS FONO,
				NULL AS CORREO,
				LIC.LIC_FECDIGITADO AS FEC_REG
	FROM		LICENCIA LIC WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = LIC.CMN_CODIGO
	WHERE		LIC.COT_RUT = @rut

	UNION

	SELECT		5 AS ORDEN,
				'CONVENIO' AS ORIGEN,
				DPT_DIRECCION AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				DPT.DPT_FONO1 AS FONO,
				DPT.DPT_EMAIL AS CORREO,
				DPT.DPT_FECHAREG AS FEC_REG
	FROM		DIREC_CONSULTA DPT WITH (NOLOCK)
				JOIN CONVENIO CVN WITH (NOLOCK) ON CVN.CVN_CORREL = DPT.CVN_CORREL
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = DPT.CMN_CODIGO
	WHERE		CVN.PTD_RUT = @rut

	UNION

	SELECT		5 AS ORDEN,
				'GESTION COBRANZA' AS ORIGEN,
				DDR_DIRECCION AS DIRECCION,
				CMN.CMN_NOMBRE AS COMUNA,
				COALESCE(RTRIM(DEU.DDR_TELEFONO),'')+' '+COALESCE(RTRIM(DEU.DDR_CELULAR),'') AS FONO,
				DEU.DDR_EMAIL AS CORREO,
				NULL AS FEC_REG
	FROM		DEUDOR DEU WITH (NOLOCK)
				LEFT JOIN COMUNA CMN WITH (NOLOCK) ON CMN.CMN_CODIGO = DEU.CMN_CODIGO
	WHERE		DEU.DDR_RUT = @rut

	ORDER BY	1,	7

*/



END




